{% extends "base.html" %}
{% load i18n %}

{% block parent_title %}{% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}
{% block current_title %}{{ request.title }}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            <article class="panel">
                <p class="panel-heading">
                    {% translate "Poreikiai ir pasiūlymai" %}
                </p>
                <nav class="category-panel">
                    <a class="panel-block is-active" href="/requests/submitted">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        {% translate "Gauti poreikiai duomenų rinkiniams" %}
                    </a>
                    <a class="panel-block" href="/requests/suggest">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        {% translate "Pateikti pasiūlymą / pastabą" %}
                    </a>
                </nav>
            </article>
            <div class="content">
                <p>{% translate "Nerandate norimo duomenų rinkinio, o gal esamam duomenų rinkiniui turite pastabų? Tuomet peržiūrėkite jau registruotus poreikius duomenų rinkiniams. Jeigu sąraše nerasite atitinkančio poreikio - registruokite naują." %}</p>
                <a href="/requests/new"
                   class="button is-primary m-t-xs m-b-lg">{% translate "Teikti poreikį" %}</a>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="content">
                <div class="request-title">
                    {% if not request.is_existing %}
                        <p class="is-size-4">{% translate "Naujų duomenų atvėrimo poreikis" %}: </p>
                    {% else %}
                        <p class="is-size-4">{% translate "Esamo duomenų rinkinio papildymo poreikis" %}: </p>
                    {% endif %}
                    <h1 class="is-size-4">{{ request.title | escape }}</h1>
                </div>
            </div>
            <div class="content">{{ request.description | escape }}</div>
            {% include "vitrina/requests/requestCoretable.html" %}
            {% if not request.is_existing %}
                {% if purposes %}
                    <div class="field">
                        <label class="label">{% translate "Duomenų panaudojimo tikslas" %}</label>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'science' in purposes %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="science"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="science"
                                       disabled >
                                {% endif %}
                                {% translate "Moksliniams tyrimams, studijoms" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'product' in purposes %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="product"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="product"
                                       disabled >
                                {% endif %}
                                {% translate "Naujų paslaugų, produktų sukūrimui" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'democracy' in purposes %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="democracy"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="democracy"
                                       disabled >
                                {% endif %}
                                {% translate "Pilietinės visuomenės, demokratinių procesų skatinimui" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'society' in purposes %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="society"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="society"
                                       disabled >
                                {% endif %}
                                {% translate "Visuomenės informavimui" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'social' in purposes %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="social"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="purpose"
                                       value="social"
                                       disabled >
                                {% endif %}
                                {% translate "Socialinių ar aplinkosauginių problemų sprendimui" %}</label>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if changes %}
                    <div class="field">
                        <label class="label">{% translate "Norimas pakeitimas" %}</label>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'format' in changes %}
                                <input type="checkbox"
                                       name="changes"
                                       value="format"
                                       id="change-format"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="changes"
                                       value="format"
                                       id="change-format"
                                       disabled >
                                {% endif %}
                                {% translate "Atverti duomenų rinkinį kitu formatu" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'data' in changes %}
                                <input type="checkbox"
                                       name="changes"
                                       value="data"
                                       id="add-new-data"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="changes"
                                       value="data"
                                       id="add-new-data"
                                       disabled >
                                {% endif %}
                                {% translate "Papildyti duomenų rinkinį naujais duomenimis" %}</label>
                        </div>
                        <div class="control">
                            <label class="checkbox">
                                {% if 'period' in changes %}
                                <input type="checkbox"
                                       name="changes"
                                       value="period"
                                       id="change-period"
                                       disabled
                                       checked>
                                {% else %}
                                <input type="checkbox"
                                       name="changes"
                                       value="period"
                                       id="change-period"
                                       disabled >
                                {% endif %}
                                {% translate "Keisti duomenų atnaujinimo periodą" %}</label>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if formats %}
                <div class="field">
                    <label class="label">{% translate "Pageidaujamas duomenų pateikimo formatas" %}</label>
                    <div class="control">
                        <label class="checkbox">
                            {% if 'csv' in formats %}
                            <input type="checkbox"
                                   name="format"
                                   value="csv"
                                   disabled
                                   checked>
                            {% else %}
                            <input type="checkbox"
                                   name="format"
                                   value="csv"
                                   disabled >
                            {% endif %}
                            CSV</label>
                        <label class="checkbox">
                            {% if 'xlsx' in formats %}
                            <input type="checkbox"
                                   name="format"
                                   value="xlsx"
                                   disabled
                                   checked>
                            {% else %}
                            <input type="checkbox"
                                   name="format"
                                   value="xlsx"
                                   disabled >
                            {% endif %}
                            XLSX</label>
                        <label class="checkbox">
                            {% if 'json' in formats %}
                            <input type="checkbox"
                                   name="format"
                                   value="json"
                                   disabled
                                   checked>
                            {% else %}
                            <input type="checkbox"
                                   name="format"
                                   value="json"
                                   disabled >
                            {% endif %}
                            JSON</label>
                        <label class="checkbox">
                            {% if 'rdf' in formats %}
                            <input type="checkbox"
                                   name="format"
                                   value="rdf"
                                   disabled
                                   checked>
                            {% else %}
                            <input type="checkbox"
                                   name="format"
                                   value="rdf"
                                   disabled >
                            {% endif %}
                            RDF</label>
                        <label class="checkbox">
                            {% if 'xml' in formats %}
                            <input type="checkbox"
                                   name="format"
                                   value="xml"
                                   disabled
                                   checked>
                            {% else %}
                            <input type="checkbox"
                                   name="format"
                                   value="xml"
                                   disabled >
                            {% endif %}
                            XML</label>
                    </div>
                </div>
            {% endif %}
            {% if structure %}
                <div class="field">
                    <label class="label">{% translate "Pageidaujama duomenų struktūra" %}</label>
                </div>
                <table class="table is-bordered">
                    <tbody>
                    <tr>
                        <th>{% translate "Duomenų pavadinimas" %}</th>
                        <th>{% translate "Duomenų pavadinimas žodyne" %}</th>
                        <th>{% translate "Duomenų tipas" %}</th>
                        <th>{% translate "Pastabos" %}</th>
                    </tr>
                        {% for struct in structure %}
                            <tr>
                                <td>{{ struct.data_title }}</td>
                                <td>{{ struct.dictionary_title }}</td>
                                <td>{{ struct.data_type }}</td>
                                <td>{{ struct.data_notes }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="structure-wrapper m-b-sm"></div>
            {% endif %}
            {% if request.structure_file %}
                <p class="label">{% translate "request.structure_file" %}</p>
                <div class="content">
                    <a href="{{ request.structure_file }}">{{ request.structure_file }}</a>
                </div>
            {% endif %}
            {% if request.notes %}
                <p class="label">{% translate "Papildoma informacija" %}</p>
                <div class="content">
                    {{ request.notes }}
                </div>
                <br>
            {% endif %}
            {% if request.comment %}
                <div class="organization-comment">
                    <h3 class="organization-comment-title">{% translate "Organizacijos atsakymas" %}:</h3>
                    <div class="content">{{ request.comment | escape }}</div>
                </div>
                <br>
            {% endif %}
            {% if history %}
                {% include 'request/history.twig' %}
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('.reply-button').click(function () {
                $('#media-' + this.id).toggleClass('is-hidden');
            });

            $('#form-comment').submit(function () {
                $(this).find(":submit").attr('disabled', 'disabled');
            });

            $('#form-reply').submit(function () {
                $(this).find(":submit").attr('disabled', 'disabled');
            });
        });
    </script>
{% endblock %}
