{% extends "base.html" %}
{% load i18n %}

{% block pageTitle %} | {% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}

{% block current_title %}{% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="content">
                <p>{% translate "Nerandate norimo duomenų rinkinio, o gal esamam duomenų rinkinui turite pastabų? Tuomet peržiūrėkite jau registruotus poreikius duomenų rinkiniams. Jeigu sąraše nerasite atitinkančio poreikio - registruokite naują." %}</p>
                <a href="{% url 'request-create' %}"
                   class="button is-primary m-t-xs m-b-lg">{% translate "Teikti poreikį" %}</a>

                <nav class="category-panel">
                    <p class="category-panel-heading">
                        <strong>{% translate "Registravimo data" as regDate %} {{ regDate | upper }}</strong>
                    </p>
                    <div class="field">
                        <input
                                type="date"
                                class="input"
                                name="date_from"
                                id="from"
                                value="{{ dateFrom }}"
                        >
                    </div>
                    <div class="field">
                        <input
                                type="date"
                                class="input"
                                name="date_to"
                                id="to"
                                value="{{ dateTo }}"
                        >
                    </div>
                </nav>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="content">
                <p>{% translate "Šioje portalo skiltyje yra publikuojami atvirų duomenų naudotojų pateikti poreikiai dėl atvirų duomenų rinkinių. Tai yra svarbu, nes atveriant duomenis yra siekiama duomenų atvėrimą vykdyti maksimaliai, atsižvelgiant į atvirų duomenų naudotojų poreikį (angl. demand driven approach) ir įvertinant jų teigiamą poveikį visuomeninio intereso tenkinimui, viešumui ir verslo plėtrai." %}</p>
            </div>
            <form class="field has-addons is-fullwidth" method="get">
                <div class="control is-expanded">
                    <input class="input" type="text" name="q" placeholder="{% translate 'Ieškoti poreikio duomenų rinkiniui' %}"
                           value="{{ query | escape }}"/>
                </div>
                <p class="control">
                    <button class="button is-primary" type="submit">
                        <span class="icon is-large">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </p>
            </form>

            <h1 class="title is-size-5-mobile">{% translate "Paieškos rezultatai" %}: {{ items.numFound }}</h1>

            <div class="show-mobile m-b-md">
                <button class="button is-primary is-small show-mobile-facets">{% translate "Filtruoti rezultatus" %}</button>
            </div>

            {% for i in page_obj %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <strong><a href="{{ i.get_absolute_url }}" class="dataset-list-title">{{ i.title | escape }}</a></strong>
                                <div class="columns">
                                    <div class="column">
                                        <p>{% translate "Būsena" %}: <span><b>{{ i.get_status_display }}</b></span></p>
                                        {% if i.organization_title %}
                                            <p>{% translate "Pasiūlymas organizacijai" %}:
                                                <span><b>{{ i.organization_title }}</b></span></p>
                                        {% endif %}
                                        <p class="dataset-list-description">
                                            {% if i.existing == 'true' %}
                                                <b>{% translate "Poreikis papildyti ar pakeisti esamą duomenų rinkinį" %}</b>
                                            {% else %}
                                                {{ i.description }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="column is-one-third">
                                        {% if i.registered %}
                                            <p>{% translate "Registravimo data" %}: {{ i.registered|date:"SHORT_DATE_FORMAT" }}</p>
                                        {% endif %}
                                        {% if i.modified %}
                                            <p>{% translate "Atnaujinimo data" %}: {{ i.modified|date:"SHORT_DATE_FORMAT" }}</p>
                                        {% endif %}
                                        {% if i.comment_count %}
                                            <p>{% translate "Komentarai" %}: {{ i.comment_count }}</p>
                                        {% endif %}
                                        {% if i.like_count %}
                                            <p>{% translate "Patinka" %}: {{ i.like_count }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br/>
            {% include "vitrina/common/pagination.html" %}
            <br>
        </div>
    </div>
{% endblock %}
