{% extends "base.html" %}
{% load i18n %}

{% block pageTitle %} | {% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}

{% block current_title %}{% translate "Gauti poreikiai duomenų rinkiniams" %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter">
            <p>{% translate "Nerandate norimo duomenų rinkinio, o gal esamam duomenų rinkinui turite pastabų? Tuomet peržiūrėkite jau registruotus poreikius duomenų rinkiniams. Jeigu sąraše nerasite atitinkančio poreikio - registruokite naują." %}</p>
            <a href="{% url 'request-create' %}"
            class="button is-primary mt-3 m-b-lg">{% translate "Teikti poreikį" %}</a>
            <div class="content mt-3">
                {% include "vitrina/requests/filters.html" %}
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="content">
                <p>{% translate "Šioje portalo skiltyje yra publikuojami atvirų duomenų naudotojų pateikti poreikiai dėl atvirų duomenų rinkinių. Tai yra svarbu, nes atveriant duomenis yra siekiama duomenų atvėrimą vykdyti maksimaliai, atsižvelgiant į atvirų duomenų naudotojų poreikį (angl. demand driven approach) ir įvertinant jų teigiamą poveikį visuomeninio intereso tenkinimui, viešumui ir verslo plėtrai." %}</p>
            </div>
            <form id="request-filter" class="field has-addons is-fullwidth" method="get" action="{% url 'request-list' %}">
                <div class="control is-expanded">
                    <input class="input" type="text" name="q" placeholder="{% translate 'Ieškoti poreikio duomenų rinkiniui' %}"
                           value="{{ q | escape }}"/>
                </div>
                <p class="control">
                    <button class="button is-primary" type="submit">
                        <span class="icon is-large">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </p>
            </form>

            <h1 class="title is-size-5-mobile">{% translate "Paieškos rezultatai" %}: {{ paginator.count }}</h1>

            <div class="show-mobile m-b-md">
                <button class="button is-primary is-small show-mobile-facets">{% translate "Filtruoti rezultatus" %}</button>
            </div>

            {% for i in page_obj %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <strong><a href="{{ i.object.get_absolute_url }}" class="dataset-list-title">{{ i.object.title | escape }}</a></strong>
                                <div class="columns">
                                    <div class="column">
                                        <p>{% translate "Būsena" %}: <span><b>{{ i.object.get_status_display }}</b></span></p>
                                        {% if i.object.organizations.all %}
                                        <p>
                                            {% translate "Pasiūlymas organizacijoms" %}:
                                            {% for organization in i.object.organizations.all %}
                                                <br/><span><b>{{ organization.title }}</b></span>
                                            {% endfor %}
                                        </p>
                                        {% endif %}
                                        <p class="dataset-list-description">
                                            {% if i.object.is_existing %}
                                                <b>{% translate "Poreikis papildyti ar pakeisti esamą duomenų rinkinį" %}</b>
                                            {% else %}
                                                {{ i.object.description }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="column is-one-third">
                                        {% if i.object.created %}
                                            <p>{% translate "Registravimo data" %}: {{ i.object.created|date:"SHORT_DATE_FORMAT" }}</p>
                                        {% endif %}
                                        {% if i.object.modified %}
                                            <p>{% translate "Atnaujinimo data" %}: {{ i.object.modified|date:"SHORT_DATE_FORMAT" }}</p>
                                        {% endif %}
                                        {% if i.object.comment_count %}
                                            <p>{% translate "Komentarai" %}: {{ i.object.comment_count }}</p>
                                        {% endif %}
                                        {% if i.object.like_count %}
                                            <p>{% translate "Patinka" %}: {{ i.object.like_count }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br/>
            {% include "vitrina/common/pagination.html" %}
            <br>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {

            var query = $('#search-q-val').val();
            if (query != null && query !== "") {
                $('#search-input').val("{{ q }}");
            }

            $('.cats-more, .cats-more-inner').click(function () {
                $('.' + this.id).toggleClass('is-hidden');
                $(this).text(function (i, text) {
                    return text === "+" ? "-" : "+";
                })
            });

            $('.facets-more').click(function () {
                $('.' + this.id).toggleClass('is-hidden');
                $(this).text(function (i, text) {
                    return text === "{% translate "Išskleisti" %}" ? "{% translate "Suskleisti" %}" : "{% translate "Išskleisti" %}";
                })
            });

            $('.show-mobile-facets').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });

            $('.modal-close').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });

            var lang = "lt-LT";
            var currentUrl = new URL(window.location);
            var searchParams = new URLSearchParams(currentUrl.search);
            var selectedDate = null;
            var datasetTitles = "datasetSuggestions";

            let orgFilter = $('#organization-filter-input');
            orgFilter.on('input', function(){
                let orgFilterValues = orgFilter.nextAll();
                orgFilterValues.each(function() {
                    let childElementStrings = $(this).children().filter('.is-9').text().trim().toLowerCase().split(' ');
                    let containsWord = childElementStrings.filter(item => item.startsWith(orgFilter.val().toLowerCase()));
                    if (containsWord.length === 0) {
                        $(this).addClass('is-hidden');
                    } else {
                        $(this).removeClass('is-hidden');
                    }
                    if (orgFilter.val().length === 0) {
                        orgFilterValues.each(function() {
                           $(this).removeClass('is-hidden');
                        });
                    }
                });
            });

            let catFilter = $('#category-filter-input');
            catFilter.on('input', function(){
                let catFilterValues = catFilter.nextAll();
                catFilterValues.each(function() {
                    let childElementStrings = $(this).children().filter('.is-9').text().trim().toLowerCase().split(' ');
                    let containsWord = childElementStrings.filter(item => item.startsWith(catFilter.val().toLowerCase()));
                    if (containsWord.length === 0) {
                        $(this).addClass('is-hidden');
                    } else {
                        $(this).removeClass('is-hidden');
                    }
                    if (catFilter.val().length === 0) {
                        catFilterValues.each(function() {
                           $(this).removeClass('is-hidden');
                        });
                    }
                });
            });

            let tagsFilter = $('#tags-filter-input');
            tagsFilter.on('input', function(){
                let tagsFilterValues = tagsFilter.nextAll();
                tagsFilterValues.each(function() {
                    let childElementStrings = $(this).children().filter('.is-9').text().trim().toLowerCase().split(' ');
                    let containsWord = childElementStrings.filter(item => item.startsWith(tagsFilter.val().toLowerCase()));
                    if (containsWord.length === 0) {
                        $(this).addClass('is-hidden');
                    } else {
                        $(this).removeClass('is-hidden');
                    }
                    if (tagsFilter.val().length === 0) {
                        tagsFilterValues.each(function() {
                           $(this).removeClass('is-hidden');
                        });
                    }
                });
            });

            function autocomplete(inp, arr) {
                var currentFocus;

                inp.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    closeAllLists();
                    if (!val || val.length < 3) {
                        return false;
                    }
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    this.parentNode.appendChild(a);
                    for (i = 0; i < arr.length; i++) {
                        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            b = document.createElement("DIV");
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            b.addEventListener("click", function (e) {
                                inp.value = '"' + this.getElementsByTagName("input")[0].value + '"';
                                closeAllLists();
                                $('#request-filter').submit();
                            });
                            a.appendChild(b);
                        }
                    }
                });

                inp.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        currentFocus++;
                        addActive(x);
                    } else if (e.keyCode == 38) {
                        currentFocus--;
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        // e.preventDefault();
                        if (currentFocus > -1) {
                            if (x) x[currentFocus].click();
                        }
                    }
                });

                function addActive(x) {
                    if (!x) return false;
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    x[currentFocus].classList.add("autocomplete-active");
                }

                function removeActive(x) {
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }

                function closeAllLists(elmnt) {
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }

                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            autocomplete(document.getElementById("search-input"), datasetTitles)
        });
    </script>
{% endblock %}
