{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}

{% block current_title %}{% translate "Organizacijos" %}{% endblock%}
{% block parent_links %}
    <ul class="p-t-sm">
        <li>
            <a href="{% url 'home' %}">
                <span class="icon"><i class="fas fa-home"></i></span><span>{% translate 'Pradžia' %}</span>
            </a>
        </li>
        <li><a href="{% url 'request-list' %}"><span>{% translate 'Poreikiai ir pasiūlymai' %}</span></a></li>
        <li><a href="{% url 'request-detail' request_obj.pk %}"><span>{{ request_obj.title }}</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    {% include 'vitrina/requests/tabs.html' %}

    <div class="columns">
        <div class="column">
                {% if can_update_orgs %}
                <div class="buttons is-right">
                    <a id="add-organization" class="button is-primary" href="{% url 'request-orgs-edit' pk=request_obj.pk  %}">
                        {% translate "Pridėti organizacijas" %}
                    </a>
                </div>
                {% endif %}
            {% if organizations %}
                <table class="table is-fullwidth">
                    <tbody>
                    {% for organization in organizations %}
                        <tr>
                        <td>
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <div>
                                            <strong>
                                                <a href="{% url 'organization-detail' organization.organization.pk %}" class="organization-list-title">
                                                    {{ organization.organization.title }}
                                                </a>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </td>
                        <td>
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <div>
                                            <strong>
                                                    {{ organization.display_status }}
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </td>
                        <td>
                            <article>
                                <div>
                                    <div class="content">
                                        <strong id="display_date">
                                            {{ organization.display_date }}
                                        </strong>
                                    </div>
                                </div>
                            </article>
                        </td>
                        <td>
                            {% if can_update_orgs %}
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <div>
                                            <a class="has-text-danger" href="{% url 'request-orgs-delete' pk=organization.id %}">{% translate "Šalinti" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "vitrina/common/pagination.html" %}
        </div>
        {% else %}
        <p>{% translate "Organizacijų nėra." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
