{% load i18n %}
{% load like_tags %}

<table class="table custom-table-padding">
    <tbody>
    <tr>
        <th>{% translate "Pasiūlymas organizacijai" %}</th>
        <td>{% if request_object.organization.slug %}<a href="{{ request_object.organization.get_absolute_url }}">{{ request_object.organization }}</a>{% else %}{{ request_object.organization }}{% endif %}</td>
    </tr>
    {% if request_object.is_existing and dataset %}
        <tr>
            <th>{% translate "Norimas keisti duomenų rinkinys" %}</th>
            <td>{% if dataset.slug %}<a href="{{ dataset.get_absolute_url }}">{{ dataset.title }}</a>{% else %}{{ dataset.title }}{% endif %}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% translate "Būsena" %}</th>
        <td><b>{{ status }}</b></td>
    </tr>
    <tr>
        <th>{% translate "Registravimo data" %}</th>
        <td>{{ request_object.created }}</td>
    </tr>
    {% if request_object.modified %}
        <tr>
            <th>{% translate "Atnaujinimo data" %}</th>
            <td>{{ request_object.modified }}</td>
        </tr>
    {% endif %}
    {% if request_object.planned_opening_date %}
        {% if not request_object.is_existing %}
            <tr>
                <th>{% translate "Planuojama atvėrimo data" %}</th>
                <td>{{ request_object.planned_opening_date }}</td>
            </tr>
        {% endif %}
    {% endif %}
    {% if user_count %}
        <tr>
            <th>{% translate "request.user.count" %}</th>
            <td>{{ user_count }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% translate "Duomenų atnaujinimo periodiškumas" %}</th>
        <td>{{ request_object.periodicity }}</td>
    </tr>
    <tr>
        <th>{% translate "Patinka" %}:</th>
        <td id="request_likes">
            {% like obj=request_object user=request.user %}
        </td>
    </tr>
    </tbody>
</table>
