{% load i18n parler_tags %}
{% load util_tags %}

<div class="is-flex">
    <div class="stays-right">
        <form id='parameter_form' action="{{ request.path }}" method="GET">
            <div class="columns">
            {% if has_time_graph %}
            <div class="column">
                <div><label style="float:right" for="duration-parameter">{% translate "Laikotarpis" %}</label></div>
                <div class="select">
                    <select name="duration" id="duration-parameter">
                        {% for option in duration_options %}
                            <option value="{{ option.value }}" {% if duration == option.value %}selected{% endif %}>
                                {{ option.label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="column">
                <div><label style="float:right" for="sorting-parameter">{% translate "Rūšiuoti" %}</label></div>
                <div class="select">
                    <select name="sort" id="sorting-parameter">
                        {% for option in sort_options %}
                            <option value="{{ option.value }}" {% if sort == option.value %}selected{% endif %}>
                                {{ option.label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="column">
                <div><label style="float:right" for="stats-parameter">{% translate "Rodiklis" %}</label></div>
                <div class="select">
                    <select name="indicator" id="stats-parameter">
                        {% for option in indicator_options %}
                            <option value="{{ option.value }}" {% if active_indicator == option.value %}selected{% endif %}>
                                {{ option.label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="column">
                <div style="white-space: pre-line;">
                    <button class="button small is-primary" type="submit" onclick="submitForm('parameter_form')">
                        {% translate "Atnaujinti" %}
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

<script>
    function submitForm(formId) {
        var form = document.getElementById(formId);
        form.submit();
    }
</script>