// hide overflow for autocomplete menu
body {
  overflow: hidden;
}

.button, .input {
  border-radius: 0;
}

.has-grayish-background {
  background-color: #f3f4f1 !important;
}

.has-image {
  width: auto;
  height: auto;
  background: url("../../../vitrina/static/img/header-bg.png");
  //background-blend-mode: screen;
  //background-position: initial;
  background-repeat: no-repeat;
  //background-color: $header-background-color !important;
  background-position-x: -50px;
  background-position-y: -7em;
  //background-position: bottom;
}

nav.breadcrumb {
  /*background-color: #00d1b2;*/
  background-color: $adp-blue;
}

.breadcrumb {
  min-height: 80px;
  padding-bottom: 5px;

  a {
    color: white !important;
  }

  a:visited {
    color: white !important;
  }

  li::before {
    color: white;
  }
}

body {
  background-color: white;
}

html {
  background-color: $header-background-color;
}

header {
  background-color: $header-background-color;
}

.navbar {
  background-color: $header-background-color;

  &-title {
    text-transform: uppercase;
  }

  &-item:hover {
    background-color: transparent !important;
    color: $adp-light-blue-hover;
  }
}

.navbar-item.has-dropdown:hover {
  background-color: transparent;
}

.logo-beta {
  color: red;
  position: relative;
  font-size: 10px;
  left: -28px;
  top: 14px;
}

.footer {
  color: white;
  background-color: $adp-dark-gray;
}

.footer > a {
  color: white !important;
}

footer a {
  color: white !important;
}

section {
  padding: 1rem 1.5rem;
}

.full-h {
  min-height: calc(100vh - 442px);
}

.full-h-s {
  min-height: calc(100vh - 80px - 216px - 186px);
}

.search-input,
.newsletter-input {
  color: #808080;
}

.search-input::placeholder,
.newsletter-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder,
.newsletter-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
}

.search-input::-ms-input-placeholder,
.newsletter-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #808080;
}

.stats {
  font-size: 20px;
  color: $white;

  h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:hover {
    color: $white;
  }

  &:hover > span {
    text-decoration: underline;
  }
}

.newsitem {
  &-date {
    font-size: 0.9em;
    color: $adp-medium-gray;
  }

  &-thumb-image {
    max-height: 280px;
    max-width: 280px;
    height: auto;
    width: auto;
  }
}

.externalsite-thumb-image {
  max-height: 60px;
  height: auto;
  width: auto;
}

.image {
  &-left {
    float: left;
    margin-right: 10px;
  }

  &-right {
    float: right;
    margin-left: 10px;
  }
}

//.stats-organizations {
//  //height: 145px;
//  //position: absolute;
//  //bottom: 0;
//  //text-align: center;
//  font-size: 20px;
//  /*border-top-right-radius: 5px;*/
//  /*border-bottom-right-radius: 5px;*/
//  //width: 150px;
//  //margin-left: 150px;
//  //background-color: #fff;
//  color: $white;
//  /*border: 1px solid #0092.;*/
//  h2 {
//    font-size: 50px;
//    font-weight: 700;
//    //margin-top: 20px;
//    text-transform: uppercase;
//  }
//}

//.stats-usecases {
//  //height: 145px;
//  //position: absolute;
//  //bottom: 0;
//  //text-align: center;
//  font-size: 20px;
//  //border-top-left-radius: 5px;
//  //border-bottom-left-radius: 5px;
//  //width: 150px;
//  //margin-left: 300px;
//  //background-color: #3273dc;
//  color: $white;
//  h2 {
//    font-size: 50px;
//    font-weight: 700;
//    //margin-top: 20px;
//    text-transform: uppercase;
//  }
//}

.hero-body {
  padding-top: 4rem !important;
  padding-bottom: 1rem !important;
}

.site-title,
.site-subtitle {
  font-weight: bolder;
  color: black !important;
}

.site-title {
  font-size: 40px;
}

.site-subtitle {
  font-size: 25px;
}

.organization {
  &-box {
    min-height: 345px;
  }

  &-title {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.rating-form {
  display: inline-block;
}

.rating-form-usecase {
    display: inline;
}

.has-line-bottom hr {

}

.rating:hover {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.stars {
  float: left;
  /*height: 46px;*/
  padding: 0 10px;
}

.stars:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.stars:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #363636;
}

.stars:not(:checked) > label:before {
  content: '★ ';
}

.stars > input:checked ~ label {
  color: #ffdd57;
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
  color: #fff349;
}

.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
  color: #c5bf3f;
}

.fa-10x {
  font-size: 10em;
}

.icon.is-huge {
  height: 10em;
  width: 10em;
}

.has-dark-blue-background {
  background-color: $adp-dark-blue;
}

.has-blue-background {
  background-color: $adp-blue;
}

.hero-column {
  padding: 35px;
  margin-top: 10px;
  min-height: 310px;
}

.is-dark {
  color: $adp-dark-blue;
}

.advanced-search {
  color: $black;
}

.category {
  &-box {
    min-height: 90px;
  }

  &-icon {
    color: $adp-dark-gray;

    &:hover {
      color: $adp-light-blue-hover;

      p {
        color: $adp-light-blue-hover;
      }
    }

    &-text {
      margin-top: 10px;
      color: $adp-medium-gray;

      &:hover {
        color: $adp-light-blue-hover;
      }
    }
  }

  &-custom-icon {
    font-size: 95px;
  }
}

.category-empty {
  color: $adp-light-gray-hover;

  p {
    color: $adp-light-gray-hover;
  }

  &:hover {
    color: $adp-light-gray-hover;
    cursor: initial;

    p {
      color: $adp-light-gray-hover;
    }
  }
}

.single-item {
  min-height: 125px;
}

.media-content .content p {
  margin-bottom: 3px;
}

.category-panel {
  &-heading {
    margin: 10px 0;
  }

  &-block {
    color: $black;
    padding-left: 10px;
    font-weight: lighter;
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.overlap {
  position: relative;
  top: 60px;
}

.has-white-background {
  background-color: $white;
}

.button.is-primary:hover {
  background-color: $adp-light-blue-hover;
}

.button.is-light {
  color: $white;

  &:hover {
    color: $white;
    background-color: $adp-light-gray-hover;
  }
}

.stays-right {
  margin-left: auto;
}

.dataset {
  &-organization {
    position: relative;
    top: -24px;
    padding: 35px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(234, 234, 234, 0.85);
    box-shadow: 0px 3px 5px 2px rgba(234, 234, 234, 0.85);
  }

  &-extra-meta-button {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &-list-title {
    color: $adp-medium-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 770px;
    display: inline-block;
  }

  &-list-description {
    color: $adp-medium-gray;
  }

  &-meta-title,
  &-meta-value {
    margin-bottom: 5px !important;
  }

  &-meta-title {
    color: #9b9a9a;
  }

  &-meta-value,
  &-meta-value a {
    color: $black;
  }

  &-meta-value a:hover {
    color: $adp-dark-blue;
  }

  &-meta-organization-title {
    color: $black;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.button.is-text {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}

.breadcrumbs-current {
  color: $white;
  font-size: 1.7rem;
  font-weight: bold;
  white-space: normal;
  line-height: 30px;
}

.has-fixed-width-130 {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.has-fixed-width-150 {
    max-width: 150px;
}

.has-fixed-width-200 {
    max-width: 200px;
}

.has-smaller-text td {
    font-size: 0.8em;
}

.custom-table {
  margin-bottom: 0.5em;

  th {
    color: $black;
    border: none;
    padding: 0.1em 0.7em 0 0;
    font-weight: bold;
    font-size: 14px;
  }
}

.custom-table-padding {
    th {
      padding: 0.5em 0 !important;
    }
}

.table-smaller-padding {
  padding: 0.5em 0.5em;
}

//.table {
//  th {
//    font-size: 14px;
//  }
//  td {
//    max-width: 150px;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//  }
//}

.is-gray {
  color: $adp-social-icon;

  &:hover {
    color: $adp-dark-blue;
  }
}

.is-middle {
  vertical-align: middle !important;
}

.info-icon {
  color: $adp-social-icon;

  &:hover {
    cursor: pointer;
  }
}

.media + .media {
  border-top: none;
  margin-top: 0;
}

.table.has-ellipsis {
  width: 100%;
  table-layout: fixed;

  th {
    font-size: 14px;
  }

  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr td:last-child {
    overflow: initial;
    text-overflow: initial;
  }
}

.footer-link {
  margin-right: 5px;
}

.footer-link .icon:hover {
  color: $adp-light-gray-hover;
}

.tag {
  //text-transform: uppercase;
}

.is-fat {
  padding: 0.25rem;
}

.facets-more {
  color: $adp-dark-blue;

  &:hover {
    cursor: pointer;
  }
}

.cats-more,
.cats-more-inner {
  &:hover {
    cursor: pointer;
  }
}

#top-bar {
  height: 25px;
  color: white;
  text-align: center;
  background-color: $adp-dark-blue;
}

.message-close-button {
  font-weight: bold;
  padding-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

#inline-badge {
  float: right;
}

.hero-text-block {
  font-size: 1.25rem !important;
}

.modal {
  &-facets {
    background: $white;
  }

  &-close {
    background: $adp-light-blue !important;
  }
  &-content-has-width {
    width: 640px;
  }
}

.custom-title {
  color: #363636;
  font-weight: 600;
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
}

.has-margin-bottom {
  margin-bottom: 20px;
}

.is-margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.usecase {
  &-url {
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    max-width: 700px;
    text-overflow: ellipsis;
  }
}

.request {
  &-column p {
    font-size: 1.1rem !important;
  }
  &-column a {
    font-size: 1.1rem !important;
  }
}

.request-title {
  p {
    margin-bottom: 0 !important;
  }

  h1 {
    margin-top: 0 !important;
  }
}

.organization-comment {
  background: #f5f5f5;
  padding: 5px 15px;

  &-title {
    font-size: 1.5em;
  }
}

.tag-has-ellipsis {
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block !important;
}

.comment {
  border-top: 1px solid $adp-line-color;

  &-entry {
    padding: 10px 0;
    border-bottom: 1px solid $adp-line-color;
  }

  &-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.history {
  border-top: 1px solid $adp-line-color;

  &-entry {
    padding: 10px 0;
    border-bottom: 1px solid $adp-line-color;
  }

  &-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.comment-profile-icon {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
}

.custom-line-margin {
  margin: 0.75rem 0;
}

.has-border-bottom tr:last-child {
  border-bottom: 1px solid #dbdbdb !important;
}

.has-border-top tr:first-child {
  border-top: 1px solid #dbdbdb !important;
}

table.td-30 td {
  width: 30%;
}

table.th-40 th {
  width: 40%;
}

.is-bold {
  font-weight: bold;
}

.is-warning-bar {
  background-color: red !important;
}

.contains-warning-border {
  border: 2px solid red;
}

.preview-tr {
  max-height: 1em;
}

.preview-td {
  overflow: hidden;
  white-space: nowrap;
  //max-width: 100px;
}

.structure {
  &-button {
    display: inline-block;
  }
}

.span-container-front {
  height: 20px;
}

.text-alongside-button {
  vertical-align: bottom;
  margin-right: 10px;
}

.ui-autocomplete {
  z-index: 1000;
  background: white;
  border: 1px solid black;
  padding: 5px;
  max-width: 600px;
}

//dropdown fix for IE11
@include desktop {
  .navbar-item {
    &.is-hoverable:hover {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

/*.breadcrumb > div > ul > li > a:nth-child(1) > span:nth-child(1)*/
