# Run at 3AM daily
0 3 * * * cd /srv/vitrina && docker compose exec vitrina python scripts/check_for_distribution_and_frequency_errors.py >> /var/log/vitrina-cron.log 2>&1
0 3 * * * cd /srv/vitrina && docker compose exec vitrina python scripts/create_dataset_stats.py >> /var/log/vitrina-cron.log 2>&1

# Run at 4AM daily
0 4 * * * cd /srv/vitrina && docker compose exec vitrina django-admin rebuild_search --settings=vitrina.settings >> /var/log/vitrina-cron-rebuild-search.log 2>&1

# Run at 9AM on the first Monday of each month
0 9 */100,1-7 * MON cd /srv/vitrina && docker compose exec vitrina django-admin send_monthly_newsletter --settings=vitrina.settings >> /var/log/vitrina-cron.log 2>&1

# Run byweekly at 2AM
0 2 */14 * * cd /srv/vitrina && docker compose exec vitrina python scripts/geoportal_import.py >> /var/log/vitrina-cron.log 2>&1
