{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
    {% include "component/page_title.html" %}
{% endblock %}

{% block content %}

    {% include 'vitrina/orgs/tabs.html' %}

    {% if can_create_agents %}
        <div class="buttons is-right">
            <a class="button is-primary m-t-xs m-b-lg" href="{% url 'agent-create' organization.pk %}">{% translate "Pridėti agentą" %}</a>
        </div>
    {% endif %}

    {% if agents %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>
                        {% translate "Kodinis Pavadinimas" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Unikalus agento kodinis pavadinimas, naudojamas sistemose.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th>
                        {% translate "Pavadinimas" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Agento pavadinimas.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th>
                        {% translate "Sukurtas" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Data ir laikas, kada agentas buvo pridėtas į Katalogą.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th colspan="3">
                        {% translate "Veiksmai" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Galimi veiksmai su agentu: žurnalas, redaguoti, pašalinti.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>
                            <a href="{% url 'agent-detail' organization.pk agent.pk %}">
                                {{ agent.codename|truncatechars:20 }}
                            </a>
                        </td>
                        <td>{{ agent.title|truncatechars:15 }}</td>
                        <td>{{ agent.created_at|date:"Y-m-d H:i" }}</td>
                        <td>
                            <a href="{% url 'agent-update' organization.pk agent.pk %}" class="button is-primary is-small">
                                {% translate "Redaguoti" %}
                            </a>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "vitrina/common/pagination.html" %}
    {% else %}
        <p>{% translate "Nėra registruotų agentų." %}</p>
    {% endif %}

{% endblock %}
