{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
    {% include "component/page_title.html" %}
{% endblock %}

{% block content %}
{% include 'vitrina/orgs/tabs.html' %}

<p>
        <a href="{% url 'agent-list' organization.pk %}">
            ← {% translate "Grįžti į agentus" %}
        </a>
    </p>
    <br>

    <div class="box is-max-desktop has-background-light">
        <div class="is-flex is-align-items-center mb-4">
            <div>
                <p class="title is-5 mb-1">{{ agent.title }}</p>
                <p class="is-size-7 has-text-grey">
                    {% translate "Sukurta" %}: <strong>{{ agent.created_at|date:"Y-m-d H:i" }}</strong> |
                    {% translate "Atnaujinta" %}: <strong>{{ agent.updated_at|date:"Y-m-d H:i" }}</strong>
                </p>
            </div>
        </div>

        <div class="columns is-mobile mb-1">
            <div class="column is-3 has-text-weight-semibold">{% translate "Kodinis pavadinimas" %}:</div>
            <div class="column is-7">{{ agent.codename }}</div>
        </div>

        <div class="columns is-mobile mb-1">
            <div class="column is-3 has-text-weight-semibold">{% translate "Rūšis" %}:</div>
            <div class="column is-7">{{ agent.get_object_type_display }}</div>
        </div>

    </div>

    <hr>

    {% if can_create_agent_env %}
        <div class="buttons is-right">
            <a class="button is-primary m-t-xs m-b-lg" href="{% url 'agent-env-create' organization.pk agent.pk %}">{% translate "Pridėti aplinką" %}</a>
        </div>
    {% endif %}

    {% if environments %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>
                        {% translate "Būsena" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Nurodo ar aplinka yra įjungta/išjungta.' %}">
                             <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th>
                        {% translate "Aplinka" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Aplinka, kurioje diegiamas agentas.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th>
                        {% translate "Užklausa" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Data ir laikas, kada buvo atlikta paskutinė užklausa iš Agento.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th>
                        {% translate "Statusas" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Ar paskutinė sinchronizacija įvyko sėkmingai t.y. jos metu nekilo klaidų?' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>

                    <th colspan="3">
                        {% translate "Veiksmai" %}
                        <span class="icon info-icon has-tooltip-multiline is-middle"
                              data-tooltip="{% translate 'Galimi veiksmai su agento aplinka: žurnalas, redaguoti, pašalinti.' %}">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for agent_environment in environments %}
                    <tr>
                        <td>
                            {% if agent_environment.is_enabled %}
                                <span class="tag is-success is-light">{% translate "Įjungta" %}</span>
                            {% else %}
                                <span class="tag is-danger is-light">{% translate "Išjungta" %}</span>
                            {% endif %}
                        </td>
                        <td>{{ agent_environment.get_environment_display }}</td>
                        <td>
                            {% if agent_environment.synchronized_at %}
                                {{ agent_environment.synchronized_at|date:"Y-m-d H:i" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if agent_environment.is_last_sync_successful %}
                                <span class="tag is-success is-light">{% translate "Pavyko" %}</span>
                            {% elif agent_environment.is_last_sync_successful == False %}
                                <span class="tag is-danger is-light">{% translate "Nepavyko" %}</span>
                            {% else %}
                                <span class="tag is-info is-light">{% translate "Nevykdyta" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'agent-env-detail' organization.pk agent_environment.pk %}" class="button is-small">
                                {% translate "Žurnalas" %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'agent-env-update' organization.pk agent_environment.pk %}" class="button is-primary is-small">
                                {% translate "Redaguoti" %}
                            </a>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% translate "Nėra registruotų agento aplinkų." %}</p>
    {% endif %}

{% endblock %}
