<section class="section">
    <div class="container">
        <div class="columns is-multiline p-t-lg">
            {% for cat in categories %}
                <div class="column is-2-fullhd is-3-desktop is-4-tablet">
                    <div class="category-box has-text-centered">
                       
                        <a href="{% url "dataset-list" %}?selected_facets=category_exact:{{ cat.id }}"
                                title="{{ cat.description }}"
                                class="category-icon">
                            {% if cat.icon %}
                                <span class="icon is-large">
                                    <i class="fas fa-4x {{ cat.icon }}"></i>
                                </span>
                            {% endif %}
                            <p class="category-icon-text">{{ cat.title }}</p>
                        </a>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
