{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<h2 id="comments" class="custom-title is-size-4-mobile no-margin-bottom">{% translate "Komentarai" %}</h2>
{% for comment, reply_form, is_child in comments %}
    {% include "component/comment.html" with comment=comment reply_form=reply_form is_child=is_child %}
{% endfor %}

{% if user.is_authenticated %}
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img class="comment-profile-icon image is-64x64"
                     src="{% static 'img/user_profile_picture.png' %}"
                     alt="user-icon">
            </p>
        </figure>
            {% if external %}
                <form class="media-content" action="{% url 'external-comment' dataset.pk content_type object_id %}"
                      method="post" id="comment-form">
            {% else %}
                <form class="media-content" action="{% url 'comment' content_type.pk object.pk %}"
                      method="post" id="comment-form">
            {% endif %}
            {% csrf_token %}
            {{ comment_form|crispy }}
            {% if external %}
                <input type="hidden" value="{{ dataset.pk }}" name="dataset_id">
            {% endif %}
            <div class="field">
                <p class="control">
                    <button type="submit" hidden="true">{% translate "Teikti komentarą" %}</button>
                    <button class="button is-primary is-pulled-right comment-button" id="{{ submit_button_id }}"
                            type="button">{% translate "Teikti komentarą" %}</button>
                </p>
            </div>
        </form>
    </article>
{% else %}
    <article class="message is-warning">
        <div class="message-body">
            <strong>{% translate "Komentuoti gali tik prisijungę naudotojai" %}</strong>
        </div>
    </article>
{% endif %}


<script type="text/javascript">
    $(document).ready(function () {
        $('.show-reply-form').click(function () {
            $('#media-' + this.id).toggleClass('is-hidden');
        });

        $('.media-content').submit(function () {
            $(this).find(":submit").attr('disabled', 'disabled');
        });

        $('.comment-button').click( function () {
            const status_field = $(this).closest('.media-content').find('[id^="id_is_public"]')[0];
            const body_field = $(this).closest('.media-content').find('[id^="id_body"]')[0];

            if (!body_field.value && (!status_field || !status_field.value)) {
                body_field.setCustomValidity("{% translate 'Šis laukas privalomas' %}");
                body_field.reportValidity();
            }
            else {
                $(this).closest('.media-content').trigger('submit');
            }
        });

        $('input#id_register_request').click( function () {
            $("#div_id_increase_frequency").toggle(this.checked);
        });
        $("#div_id_increase_frequency").toggle(false);
    });
</script>