{% load util_tags %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_deploy_banner as banner %}
{% if banner %}
{% with level=banner.level %}
<div class="notification is-light no-margin-bottom deploy-banner deploy-banner--{{ level }}
    {% if level == 'critical' %}is-danger{% elif level == 'warning' %}is-warning{% else %}is-info{% endif %}">
  <span class="icon-text">
    <span class="icon">
      <i class="fas {% if level == 'critical' %}fa-exclamation-circle{% elif level == 'warning' %}fa-exclamation-triangle{% else %}fa-info-circle{% endif %}"></i>
    </span>
    <span>
      {% if LANGUAGE_CODE == "en" and banner.message_en %}
        {{ banner.message_en|safe }}
      {% else %}
        {{ banner.message_lt|safe }}
      {% endif %}
    </span>
  </span>
</div>
{% endwith %}
{% endif %}
