{% load static %}
{% load i18n %}
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <a href="https://ivpk.lrv.lt/">
                    <img src="{% static 'img/ivpk-logo.png' %}" alt="IVPK logo">
                </a>
            </div>
            <div class="column is-4">
                <p>{% translate "IVPK Informacinės visuomenės plėtros komitetas" %}, Konstitucijos pr. 15-89, Vilnius</p>
                <br/>
                <p>{% translate "tel." %} (8 5) 266 51 61,</p>
                <p>{% translate "faks." %} (8 5) 266 51 80,</p>
                <p>{% translate "el. p." %} <a href="mailto:info@ivpk.lt">info@ivpk.lt</a></p>
            </div>
            <div class="column is-6">
                <p>{% translate "Užsiprenumeruokite mūsų naujienlaiškį" %}</p>
                <form class="field has-addons media-content" action="/subscribeNewsletter" method="post">
                    <p class="control is-expanded">
                        <input class="input newsletter-input" type="email" required="required" placeholder="{% translate "Įveskite el. pašto adresą..." %}" name="email">
                    </p>
                    <p class="control">
                        <button class="button is-light" type="submit">
                            {% translate "Užsakyti" %}
                        </button>
                    </p>
                </form>
                <br/>
                <p>{% translate "Susisiekite su mumis:" %}:</p>
                <div class="footer-icons">
                    <a class="footer-link" href="https://www.facebook.com/IVPKomitetas/" target="_blank">
                        <span class="icon">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </span>
                    </a>
                    {#<a class="footer-link">#}
                        {#<span class="icon">#}
                            {#<i class="fab fa-twitter-square fa-2x"></i>#}
                        {#</span>#}
                    {#</a>#}
                    <a class="footer-link" href="mailto:atviriduomenys@ivpk.lt">
                        <span class="icon">
                            <i class="fas fa-envelope-square fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
