{% load crispy_forms_tags %}

{% if alert %}
    <div class="message is-danger">
        <div class="message-body">
            {{ alert_content }}
        </div>
    </div>
{% endif %}

{% if success %}
    <div class="message is-success">
        <div class="message-body">
            {{ success_content }}
        </div>
    </div>
{% endif %}

{% if code_mirror %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css" integrity="sha384-K/FfhVUneW5TdId1iTRDHsOHhLGHoJekcX6UThyJhMRctwRxlL3XmSnTeWX2k3Qe" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js" integrity="sha384-kvRER7zbo4uz+/pPFiESfnWO0S41b1DN9wAe+T3gkXSEJfyi4qefO9pou0JqdvyF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/lint/lint.min.css" integrity="sha384-gyG0If3oXNgyEQGA5XE4sHXttNjyWzqnEjL/DBgp5FdVI4W4Ihp6hzULaIxfW6xu" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/lint/lint.min.js" integrity="sha384-12d7m2t2yVwcpY8DQ8PJQiA+0jv8tCx84Mgq098op1tSt7Fjq8Vthv9CLEHgJRCT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/yaml/yaml.min.js" integrity="sha384-LekyoEGHzBMGUx26EEtC5G6HD6iyIr0msuy3LP3F8V98vVS5ZoNfIyiirXsoqAt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/theme/eclipse.min.css" integrity="sha384-dq10nYMe5EzlTlySS4PL3lt13I+hSWRGzpsgTbwcrbXrI3hXw2NpiZIi4vAnxjI3" crossorigin="anonymous">

    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener("DOMContentLoaded", function() {
            var editor = CodeMirror.fromTextArea(document.querySelector('.codemirror'), {
                lineNumbers: true,
                mode: "yaml",  // Enable YAML mode
                theme: "eclipse",  // Use the Eclipse theme
                matchBrackets: true,
                autoCloseBrackets: true,
                gutters: ["CodeMirror-lint-markers"],
                lint: true
            });
        });
    </script>
{% endif %}

{% crispy form %}