{% load i18n %}
<section class="hero is-info is-medium is-paddingless has-grayish-background">
    <div class="hero-body overlap">
        <div class="container has-image">
            <div class="columns">
                <div class="column is-5 is-offset-6">
                    {#<h1 class="title site-title">#}
                    {#IVPK#}
                    {#</h1>#}
                    <h2 class="subtitle site-subtitle">
                        {% translate "Lietuvos atvirų duomenų portalas" %}
                    </h2>
                    {% include "component/search.html" %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-gapless">
                <div class="column is-half">
                    <div class="has-dark-blue-background hero-column">
                        <p class="is-size-5">{% translate "Nerandate duomenų rinkinio?" %}</p>
                        <p class="is-size-5">{% translate "O gal esamas duomenų rinkinys neatitinka lūkesčių?" %}</p>
                        <a href="/requests/request" class="button is-primary is-normal m-t-md is-size-6-mobile">
                            {% translate "Teikti poreikį duomenų rinkiniui" %}
                        </a>
                        <p class="is-size-5 m-t-md">{% translate "Jeigu esate koordinatorius ir atstovaujate organizaciją, norinčą teikti duomenis?" %}</p>
                        <a href="/partner/register" class="button is-primary is-normal m-t-md is-size-6-mobile">
                            {% translate "Užpildyti naujo duomenų teikėjo formą" %}
                        </a>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="has-blue-background hero-column">
                        <div class="columns is-vcentered">
                            <div class="column has-text-centered m-t-lg" id="counts">
                                <a href="{% url 'dataset-list' %}" class="stats">
                                    <span class="icon"><i class="fas fa-sitemap fa-2x"></i></span>
                                    <h2>{{ counts.dataset }}</h2>
                                    <div class="span-container-front">
                                        <span>{% translate "Rinkinių" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="column has-text-centered m-t-lg" id="counts">
                                <a href="{% url 'organization-list' %}" class="stats">
                                    <span class="icon"><i class="fa fa-building fa-2x"></i></span>
                                    <h2>{{ counts.organization }}</h2>
                                    <div class="span-container-front">
                                        <span>{% translate "Organizacijų" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="column has-text-centered m-t-lg" id="counts">
                                <a href="{% url 'project-list' %}" class="stats">
                                    <span class="icon"><i class="fa fa-briefcase fa-2x"></i></span>
                                    <h2>{{ counts.project }}</h2>
                                    <div class="span-container-front">
                                        <span>{% translate "Panaudojimo atvejų" %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>