{% load i18n %}
{% load static %}

<section class="hero is-small">
    <div class="hero-body">
        <div class="container landing-page-image">
            <div class="columns">
                <div id="adp-landing-logo" class="column is-6">
                    <img src="{% static "img/landing/ladp.svg" %}" />
                </div>
                <div class="column">
                    <div id="adp-landing-numbers" class="columns is-gappless">
                        <div class="column has-text-centered is-3">
                            <a href="{% url 'organization-list' %}" id="organization-count" class="has-text-white">
                                <span class="is-size-2 has-text-weight-bold">{{ counts.organization }}</span><br>
                                <span class=" has-text-weight-bold">{% translate "Organizacijos" %}</span>
                            </a>
                        </div>
                        <div class="column has-text-centered is-3">
                            <a href="{% url 'dataset-list' %}" id="dataset-count" class="has-text-white">
                                <span class="is-size-2 has-text-weight-bold">{{ counts.dataset }}</span><br>
                                <span class=" has-text-weight-bold">{% translate "Duomenų rinkiniai" %}</span>
                            </a>
                        </div>
                        <div class="column has-text-centered is-3">
                            <a href="{% url 'project-list' %}" id="request-count" class="has-text-white">
                                <span class="is-size-2 has-text-weight-bold">{{ counts.project }}</span><br>
                                <span class=" has-text-weight-bold">{% translate "Panaudojimo atvejai" %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column mx-6">
                    {% include "component/search.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
