{% load static %}
{% load i18n %}
{% load menu_tags %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" height="36">&nbsp;&nbsp;<b><span
                            class="navbar-title is-dark">Data</span><span class="navbar-title">.gov.lt</span>
{#                    <span class="logo-beta">BETA</span>#}
                </b>
            </a>
            <a
                    role="button"
                    class="navbar-burger burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasic"
                    onClick="openMenu()"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {# DYNAMIC CMS MENU #}
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-end">
                {% show_menu 0 100 100 100 "menu.html" %}
                {% for m in menu %}
                    {% if m.children %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a {% if m.href %}href="{{ m.href }}"{% endif %} title="{{ m.description }}" class="navbar-link">{{ m.title }}</a>
                            <div class="navbar-dropdown">
                                {% for cm in m.children %}
                                    <a {% if cm.href %}href="{{ cm.href }}"{% endif %} title="{{ cm.description }}"
                                       class="navbar-item">{{ cm.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <a {% if m.href %}href="{{ m.href }}"{% endif %} title="{{ m.description }}" class="navbar-item">{{ m.title }}</a>
                    {% endif %}
                {% endfor %}
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><strong>{{ user }}</strong></a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'user-profile' pk=user.pk %}" class="navbar-item">
                                    {% translate "Profilis" %}
                                </a>
                                {% if user.organization %}
                                <a href="{% url 'user-task-list' user.pk %}" class="navbar-item">
                                    {% translate "Užduotys" %}
                                </a>
                                <a href="{% url 'organization-datasets' user.organization.pk %}" class="navbar-item">
                                    {% translate "Rinkiniai" %}
                                </a>
                                {% endif %}
                                {% if user.is_staff or user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="navbar-item" target="_blank">
                                    {% translate "Administravimas" %}
                                </a>
                                {% endif %}
                                <a href="{% url 'logout' %}" class="navbar-item">{% translate "Atsijungti" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="buttons">
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="button is-primary">{% translate "Prisijungti" %}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="navbar-item">
                    {% if locale == "en" %}
                        <a href="?lang=lt" class="button is-text" title="{% translate "lang.lt" %}">LT</a>
                    {% else %}
                        <a href="?lang=en" class="button is-text" title="{% translate "lang.en" %}">EN</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {# OLD STATIC MENU WITH TRANSLATIONS #}
        <div style="display: none;" id="navbarBasic" class="navbar-menu">
            {#<div class="navbar-start">#}
            {#</div>#}
            <div class="navbar-end">
                <a href="/datasets?q=&has_data=true" class="navbar-item"{% translate nav.datasets %}</a>
                {#<a href="/organizations" class="navbar-item"{% translate nav.orgs %}</a>#}
                <a href="/usecases/examples" class="navbar-item"{% translate nav.usecases %}</a>
                <a href="/requests/submitted" class="navbar-item"{% translate nav.requests %}</a>
                {#<a href="/about" class="navbar-item"{% translate nav.about %}</a>#}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"{% translate nav.more %}</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about"{% translate nav.about %}</a>
                        <a class="navbar-item" href="/news"{% translate nav.news %}</a>
                        <a class="navbar-item" href="/contacts"{% translate nav.contacts %}</a>
                        <hr class="navbar-divider">
                        <a href="/opening/tips" class="navbar-item"{% translate nav.opening %}</a>
                        <a href="/regulation/legal" class="navbar-item"{% translate nav.regulation %}</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/other"{% translate nav.otherPortals %}</a>
                        {#<a class="navbar-item" href="/faq"{% translate nav.faq %}</a>#}
                        {#<hr class="navbar-divider">#}
                        {#<a class="navbar-item" href="/register"{% translate auth.register %}</a>#}
                        {#                        <hr class="navbar-divider">#}
                        {#                        <a class="navbar-item" href="/api">API</a>#}
                        {#                        <a class="navbar-item" href="/sparql"{% translate nav.sparql %}</a>#}
                        {#<a class="navbar-item" href="/dictionary"{% translate nav.dictionary %}</a>#}
                        {#<a class="navbar-item" href="/request"{% translate nav.request %}</a>#}
                        {#<a class="navbar-item" href="/usecase"{% translate nav.usecase %}</a>#}
                        {#<a class="navbar-item" href="/application"{% translate nav.application %}</a>#}
                        {#<a class="navbar-item" href="/addMaterial"{% translate nav.addMaterial %}</a>#}
                        {#<hr class="navbar-divider">#}
                        {#<a class="navbar-item" href="/requests"{% translate nav.requests %}</a>#}
                        {#<a class="navbar-item" href="/applications"{% translate nav.applications %}</a>#}
                        {#<a class="navbar-item" href="/learningmaterial"{% translate nav.learningmaterial %}</a>#}
                        {#<a class="navbar-item" href="/terms"{% translate nav.termsofuse %}</a>#}
                        {#<hr class="navbar-divider">#}
                        {#<a class="navbar-item" href="/report"{% translate nav.report %}</a>#}
                        {#<a class="navbar-item" href="/suggest"{% translate nav.suggest %}</a>#}
                    </div>
                </div>
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><strong>{{ user.firstName }} {{ user.lastName }}</strong></a>
                            <div class="navbar-dropdown">
                                <a href="/user/profile" class="navbar-item"{% translate auth.profile %}</a>
                                <a href="/logout" class="navbar-item">BBBB translate("auth.logout %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="buttons">
                            <a href="/login" class="button is-primary"{% translate auth.login %}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="navbar-item">
                    {% if locale == "en" %}
                        <a href="?lang=lt" class="button is-text" title="translate("lang.lt %}">LT</a>
                    {% else %}
                        <a href="?lang=en" class="button is-text" title="translate("lang.en %}">EN</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
