{% load static %}
{% load i18n parler_tags %}
{% load navigation_tags %}
{% load util_tags %}
{% logged_in_user user logged_in_user as LOGGED_IN_USER %}

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
<div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo.png' %}" alt="herbas" height="36">
                &nbsp;&nbsp;
                <b><span class="navbar-title is-uppercase">data.gov.lt</span></b>
            </a>
            <a
                    role="button"
                    class="navbar-burger burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasic"
                    onClick="openMenu()"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {# DYNAMIC CMS MENU #}
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-end">
                {% show_menu %}
                {% for m in menu %}
                    {% if m.children %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a {% if m.href %}href="{{ m.href }}"{% endif %}
                               {% if m.description != m.title %}title="{{ m.description }}"{% endif %}
                               class="navbar-link">{{ m.title }}</a>
                            <div class="navbar-dropdown">
                                {% for cm in m.children %}
                                    <a {% if cm.href %}href="{{ cm.href }}"{% endif %} title="{{ cm.description }}"
                                       class="navbar-item">{{ cm.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <a {% if m.href %}href="{{ m.href }}"{% endif %}
                           {% if m.description != m.title %}title="{{ m.description }}"{% endif %}
                           class="navbar-item">{{ m.title }}</a>
                    {% endif %}
                {% endfor %}
                <div class="navbar-item">
                    {% if LOGGED_IN_USER.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><strong>{{ LOGGED_IN_USER }}</strong></a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'user-profile' pk=LOGGED_IN_USER.pk %}" class="navbar-item">
                                    {% translate "Profilis" %}
                                </a>
                                <a href="{% url 'user-task-list' pk=LOGGED_IN_USER.pk %}" class="navbar-item">
                                    {% translate "Užduotys" %}
                                </a>
                                {% if LOGGED_IN_USER.organization %}
                                 <a href="{% url 'organization-plans' LOGGED_IN_USER.organization.pk %}" class="navbar-item">
                                    {% translate "Planas" %}
                                </a>
                                <a href="{% url 'organization-datasets' LOGGED_IN_USER.organization.pk %}?selected_facets=organization_exact:{{ LOGGED_IN_USER.organization.pk }}" class="navbar-item">
                                    {% translate "Mano organizacijos rinkiniai" %}
                                </a>
                                <a href="{% url 'request-list' %}?selected_facets=organization_exact:{{ LOGGED_IN_USER.organization.pk }}" class="navbar-item">
                                    {% translate "Mano poreikiai" %}
                                </a>
                                {% endif %}
                                {% if LOGGED_IN_USER.can_see_manager_dataset_list_url %}
                                <a href="{% url 'manager-dataset-list' %}" class="navbar-item">
                                    {% translate "Mano tvarkomi rinkiniai" %}
                                </a>
                                {% endif %}
                                {% if LOGGED_IN_USER.is_staff or LOGGED_IN_USER.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="navbar-item" target="_blank">
                                    {% translate "Administravimas" %}
                                </a>
                                {% endif %}
                                {% if LOGGED_IN_USER.is_superuser or LOGGED_IN_USER.is_supervisor %}
                                <a href="/coordinator-admin/vitrina_orgs/representativerequest/" class="navbar-item" target="_blank">
                                    {% translate "Teikėjų prašymai" %}
                                </a>
                                {% endif %}
                                <a href="{% url 'logout' %}" class="navbar-item">{% translate "Atsijungti" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="buttons">
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="button is-primary">{% translate "Prisijungti" %}</a>
                        </div>
                    {% endif %}
                </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {% get_current_language as LANGUAGE_CODE %}
                            {{ LANGUAGE_CODE|upper }}
                        </a>

                        <div class="navbar-dropdown">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <form action="{% url 'set_language' %}" method="post" id="languageChange{{ language.code }}">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <input name="language" type="hidden" value="{{ language.code }}">
                                </form>
                                <a class="navbar-item" onclick="document.getElementById('languageChange{{ language.code }}').submit();">
                                    {{ language.code|upper }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</nav>
