{% load static %}
{% load i18n parler_tags %}
{% load menu_tags %}

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
<div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo" height="36">
                &nbsp;&nbsp;
                <b><span class="navbar-title is-uppercase">data.gov.lt</span></b>
            </a>
            <a
                    role="button"
                    class="navbar-burger burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasic"
                    onClick="openMenu()"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {# DYNAMIC CMS MENU #}
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-end">
                {% show_menu 0 100 100 100 "menu.html" %}
                {% for m in menu %}
                    {% if m.children %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a {% if m.href %}href="{{ m.href }}"{% endif %} title="{{ m.description }}" class="navbar-link">{{ m.title }}</a>
                            <div class="navbar-dropdown">
                                {% for cm in m.children %}
                                    <a {% if cm.href %}href="{{ cm.href }}"{% endif %} title="{{ cm.description }}"
                                       class="navbar-item">{{ cm.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <a {% if m.href %}href="{{ m.href }}"{% endif %} title="{{ m.description }}" class="navbar-item">{{ m.title }}</a>
                    {% endif %}
                {% endfor %}
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><strong>{{ user }}</strong></a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'user-profile' pk=user.pk %}" class="navbar-item">
                                    {% translate "Profilis" %}
                                </a>
                                {% if user.organization %}
                                <a href="{% url 'user-task-list' pk=user.pk %}" class="navbar-item">
                                    {% translate "Užduotys" %}
                                </a>
                                 <a href="{% url 'organization-plans' user.organization.pk %}" class="navbar-item">
                                    {% translate "Planai" %}
                                </a>
                                {% endif %}
                                {% if user.organization %}
                                <a href="{% url 'organization-datasets' user.organization.pk %}" class="navbar-item">
                                    {% translate "Mano organizacijos rinkiniai" %}
                                </a>
                                {% endif %}
                                {% if user.can_see_manager_dataset_list_url %}
                                <a href="{% url 'manager-dataset-list' %}" class="navbar-item">
                                    {% translate "Mano tvarkomi rinkiniai" %}
                                </a>
                                {% endif %}
                                {% if user.is_staff or user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="navbar-item" target="_blank">
                                    {% translate "Administravimas" %}
                                </a>
                                {% endif %}
                                <a href="{% url 'logout' %}" class="navbar-item">{% translate "Atsijungti" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="buttons">
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="button is-primary">{% translate "Prisijungti" %}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="navbar-item">
                    <div class="navbar-item has-dropdown">
                        <form action="{% url 'set_language' %}" method="post" id="languageChange">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <div class="select">
                                <select name="language"
                                        onchange="languageChange.submit()">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option class="navbar-item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {{ language.code|upper }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</nav>
