{% load i18n %}
<p class="has-text-dark">{% translate "Prenumeruoja:" %} <strong id="number-of-subscribers">{{ subscription_count }}</strong></p>
{% if user.is_authenticated %}
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
    {% if subscribed %}
    <form action="{% url 'unsubscribe' content_type_id obj_id user.pk %}"
          method="post" class="rating-form" id="unsubscribe-form">
        {% csrf_token %}
        <input type="submit" class="button is-primary" value="{{ button_text }}">
    </form>
    {% else %}
    <a href="{%url 'subscribe-form' content_type_id obj_id user.pk %}"
       class="button is-primary is-normal m-t-md is-size-6-mobile"
       id="subscribe-form">
        {{ button_text }}
    </a>
    {% endif %}
{% endif %}
