{% extends "base.html" %}
{% load i18n parler_tags %}

{% block pageTitle %} | {% translate "Naudotojų statistika" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Naudotojų statistika" %}{% endblock %}

{% block current_title %}
{% translate "Naudotojų statistika" %}
{% endblock %}

{% block content %}
{% if data %}
    <canvas id="chart"/>
{% else %}
    <h1>{% translate "Statistikos duomenų nerasta." %}</h1>
{% endif %}
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script type="text/javascript">
    $(function () {
            let ctx = document.getElementById("chart").getContext("2d");
            const data = {{data|safe}};
            const chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            stacked: true
                        }
                    }
                }
        });
    })
</script>
{% endblock scripts %}

