{% extends "base.html" %}
{% load i18n parler_tags %}

{% block pageTitle %} | {% translate "Naudotojų statistika" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Naudotojų statistika" %}{% endblock %}

{% block current_title %}
{% translate "Naudotojų statistika" %}
{% endblock %}

{% block content %}
{% if data %}
    <canvas id="chart"/>
{% else %}
    <h1>{% translate "Statistikos duomenų nerasta." %}</h1>
{% endif %}
{% endblock %}
{% block scripts %}
{# jQuery is already loaded in base.html - no need to load it again #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"
        integrity="sha384-YAshAm4KKjf8V01c4sdNbPYiwU0D0Q82fjMHhKw8VvP0ecY4fxXsZAHxC4r4Ei+T"
        crossorigin="anonymous"></script>

{{ data|json_script:"chartData" }}
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    $(function () {
            let ctx = document.getElementById("chart").getContext("2d");
            const data = JSON.parse(document.getElementById("chartData").textContent);
            const chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            stacked: true
                        }
                    }
                }
        });
    })
</script>
{% endblock scripts %}

