DATABASE_URL=postgres://adp:secret@127.0.0.1:5432/adp-dev
SEARCH_URL=elasticsearch7://127.0.0.1:9200/haystack
ELASTIC_FACET_SIZE=1000
REDIS_URL=redis://127.0.0.1:6379/
VIISP_PROXY_AUTH=https://test.epaslaugos.lt/portal/services/AuthenticationServiceProxy
VIISP_AUTHORIZE_URL=https://test.epaslaugos.lt/portal/external/services/authentication/v2
VIISP_PID=VIISP-AUTH-SERVICE-01
TRANSLATION_CLIENT_ID=u-4ac7ee75-4407-435d-8342-f8c789c9144f
CLIENTS_API_URL=https://get-test.data.gov.lt/auth/clients
SPINTA_EXECUTABLE=spinta-env/bin/spinta
SPINTA_SERVER_URL=https://127.0.0.1:8000
SPINTA_SERVER_NAME=127.0.0.1:8000
SPINTA_PATH=spinta-env/data
USE_OTP_VALIDATION=True

RECAPTCHA_SILENCE_KEY_ERROR=True
RECAPTCHA_PUBLIC_KEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
RECAPTCHA_PRIVATE_KEY="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"

OAUTH_SERVER_PUBLIC_JWK_JSON={"kty": "RSA", "n": "secret-from-oauth-server-public.json-file", "e": "AQAB"}
OAUTH_SERVER_HOST=http://localhost:8001
OAUTH_CLIENT_SECRET=secret-provided-by-oauth-server-for-admin
OAUTH_CLIENT_NAME=client-id-provided-by-oauth-server-for-admin
