/local/
/db.sqlite3
*.pyc
/pylsp-mypy.cfg
.env

# IntelliJ
.idea

# OS specific
.DS_Store

# dev DB
/postgres
/var/

*.mo
*.css.map
.idea/
**/node_modules/
/dist/
/requirements.txt
/docker/dist/
/docker/requirements.txt
/docker/scripts/
/docker/static/
/docker/locale/
/vitrina/static/
/static/

# Directories needed to run scripts
/scripts/files_to_replace/
/scripts/replaced_files/
# oa
.vscode/
.kilo/
.aider*
GEMINI.md
.coverage
__pycache__

# pytest-profiling
/prof/
pytest.prof
/.coverage
/dump.rdb

# Coverage reports
.coverage
.coverage.*
htmlcov/
