{% extends "base.html" %}
{% load static %}
{% load i18n parler_tags %}

{% block current_title %}{% translate "Klientai" %}{% endblock %}

{% block content %}
    {% include 'vitrina/projects/tabs.html' %}

    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h4 class="custom-title is-size-4-mobile">{% translate 'Klientai' %}</h4>
                </div>
                <div class="column buttons">
                    {% if can_manage_clients %}
                    <a href="{% url 'project-clients-create' project.pk %}"
                       class="button is-primary is-normal m-t-md is-size-6-mobile is-pulled-right"
                       id="create_client">
                        {% translate "Naujas klientas" %}
                    </a>
                    {% endif %}
                </div>
            </div>
    {% if clients %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{% translate "Pavadinimas" %}</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{% url 'project-clients-detail' project.pk client.uuid %}">
                            {{ client.name }}
                        </a>
                    </td>
                    <td class="u-w-10">
                        <a href="{% url 'project-clients-update' project.pk client.uuid %}"
                           class="button is-primary is-small">
                            {% translate "Redaguoti" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div>
            <p>{% translate 'Šiuo metu Panaudojimo atvejis klientų neturi' %}</p>
        </div>
      {% endif %}
    </div>
    {% include "vitrina/common/pagination.html" %}
{% endblock %}
