{% extends "base.html" %}
{% load i18n %}    

{% block pageTitle %} | {% translate "Panaudojimo atvejai" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Panaudojimo atvejai" %}{% endblock %}

{% block current_title %}{% translate "Panaudojimo atvejai" %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="content">
                <p>
                {% blocktranslate %}
                Dalinimasis geraisiais atvirų duomenų naudojimo pavyzdžiais
                didina jų vertę ir gali įkvėpti kitus duomenų vartotojus
                pasekti Jūsų pavyzdžiu kuriant naujas paslaugas ar kitais
                būdais didinti atvertų duomenų pakartotino naudojimo vertę.
                {% endblocktranslate %}
                </p>
                <a href="/usecase" class="button is-primary m-t-xs m-b-lg">
                    {% translate "Pateikti naują panaudojimo atvejį" %}
                </a>
            </div>
        </div>
        <div class="column is-three-quarters">
            {#<h1 class="title">{% translate "usecases.examples" %}</h1>#}
            {% if page_obj %}
                {% for i in page_obj %}
                <article class="has-margin-bottom has-line-bottom">
                    <div class="columns single-item reverse-columns">
                        <div class="column {% if i.getImageUUID %}is-10{% else %}is-12{% endif %}">
                            <p>
                                <a href="{{ i.get_absolute_url }}" class="usecase-url">
                                    {{ i.get_title }}
                                </a>
                            </p>
                            <p>{{ i.description|truncatewords:42 }}</p>
                        </div>
                        {% if i.getImageUUID %}
                            <div class="column is-2">
                                <figure class="image">
                                    <img class="max-256x256" src="/image/{{ i.getImageUUID }}">
                                </figure>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                </article>
                {% endfor %}
                <br>
                {% include "vitrina/common/pagination.html" %}
            {% else %}
                {% translate "usecases.empty" %}
            {% endif %}
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}
