{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block current_title %}{% translate "Prisijungimas" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
      {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
        <h1>{% translate "Connect " %} {{ provider.name }}</h1>
      {% else %}
        <h1>{% translate "Sign In Via" %} {{ provider.name }}</h1>
      {% endif %}
      <p>{% translate "You are about to connect a new third party account from " %}{{ provider.name }}.</p>
      <form method="post">
        {% csrf_token %}
        <button class="button is-primary" type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
</div>
{% endblock %}
