{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block current_title %}{% translate "Prisijungimas" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
      <h1>{% translate "Prisijungti su VIISP" %} </h1>
      <p>{% translate "Ketinate prijungti naują trečiosios šalies paskyrą iš VIISP" %}</p>
      <form method="post">
        {% csrf_token %}
        <button class="button is-primary mt-1" type="submit">{% trans "Tęsti" %}</button>
      </form>
    </div>
</div>
{% endblock %}
