{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}
{% load markdown_tags %}
{% load util_tags %}

{% block current_title %}
    {% if model.title %}
        {{ model.title }}
    {% else %}
        {{ model.name }}
    {% endif %}
{% endblock %}
{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų rinkiniai' %}</span></a></li>
        <li><a href="{% url 'dataset-detail' dataset.pk %}"><span>{{ dataset.title }}</span></a></li>
        <li><a href="{% url 'dataset-structure' dataset.pk %}"><span>{% translate 'Struktūra' %}</span></a></li>
    </ul>
{% endblock %}

{% block content %}

{% include 'vitrina/datasets/tabs.html' %}

<div class="columns no-margin-bottom">
    <div class="column is-one-quarter">
        {% include 'vitrina/structure/side_menu.html' %}
    </div>

    {% define model.metadata.first as metadata %}

    <div class="column">
        <div class="mb-2">
            <span class="is-family-monospace is-size-6-mobile is-size-5 pr-3">
                {{ model.name }}
            </span>

            {% if model.property_list.all %}
                <span class="icon has-text-warning"><i class="fas fa-key"></i></span>
                <span class="is-italic pr-3">
                    {% for prop in model.property_list.all %}
                        {{ prop }}
                    {% endfor %}
                </span>
            {% endif %}

            {% if model.access_display_value %}
                <span class="mr-3 tag is-info is-light">{{ model.access_display_value }}</span>
            {% endif %}

            <span>{{ metadata.average_level|default:"0"|floatformat:"1" }}</span>
            <span class="icon has-text-warning pr-3"><i class="fas fa-star"></i></span>

            {% if metadata.metadata_version and metadata.draft %}
                <span class="tag is-danger is-light">{{ metadata.metadata_version}} ({% translate "rengiama" %})</span>
            {% elif metadata.metadata_version and not metadata.draft %}
                <span class="tag is-success is-light">{{ metadata.metadata_version }}</span>
            {% elif not metadata.metadata_version and metadata.draft %}
                <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
            {% endif %}

        </div>
        <div class="mb-2">
            {% if model.base %}
                <span class="pr-5">
                    base:
                    <a href="{{ model.base.model.get_absolute_url }}">{{ model.base.model.name }}</a>
                </span>
            {% endif %}
            {% if metadata.uri %}
                <span>
                    uri:
                    {% if metadata.uri_link %}
                        <a href="{{ metadata.uri_link }}">{{ metadata.uri }}</a>
                    {% else %}
                        {{ metadata.uri }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% if can_manage_structure and model.name %}
        <div class="buttons is-right">
            <a href="{% url 'model-update' dataset.pk model.name %}" class="button is-primary">
                {% translate "Redaguoti" %}
            </a>
        </div>
        {% endif %}
        <div>
            <h4 class="custom-title is-size-4-mobile">{% translate "Duomenų laukai" %}</h4>
            {% if props_without_base %}
                {% for prop in props_without_base %}
                {% define prop.metadata.first as prop_metadata %}
                <div class="mb-2">
                    <div class="columns no-margin-bottom">
                        <div class="column is-10">
                            <span class="pr-3 is-family-monospace">
                                <a href="{{ prop.get_absolute_url }}">{{ prop }}</a>
                            </span>

                            {% if prop_metadata.type %}
                            <span class="is-bold pr-3">{{ prop_metadata.type }}</span>
                            {% endif %}

                            {% if prop_metadata.required %}
                            <span class="is-italic pr-3">required</span>
                            {% endif %}

                            {% if prop_metadata.unique %}
                            <span class="is-italic pr-3">unique</span>
                            {% endif %}

                            {% if prop.ref_model %}
                            <span class="pr-3">
                                model:
                                <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                                {% if prop.property_list.all %}
                                    <span class="is-italic">
                                        {% for p in prop.property_list.all %}
                                            {{ p }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </span>
                            {% endif %}

                            {% if prop_metadata.uri %}
                                <span class="pr-3">
                                    uri:
                                    {% if prop_metadata.uri_link %}
                                        <a href="{{ prop_metadata.uri_link }}">{{ prop_metadata.uri }}</a>
                                    {% else %}
                                        {{ prop_metadata.uri }}
                                    {% endif %}
                                </span>
                            {% endif %}

                            {% if prop_metadata.access is not None %}
                            <span class="mr-3 tag is-info is-light">{{ prop_metadata.get_access_display }}</span>
                            {% endif %}

                            <br/>
                            <p class="ml-4">{{ prop_metadata.title }}</p>
                        </div>

                        <div class="column is-1">
                            {% if prop_metadata.level %}
                            <span class="is-pulled-right">
                                <span>{{ prop_metadata.level }}</span>
                                <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
                            </span>
                            {% endif %}
                        </div>

                        <div class="column is-1">
                            {% if prop_metadata.metadata_version and prop_metadata.draft %}
                                <span class="tag is-danger is-light">{{ prop_metadata.metadata_version}} ({% translate "rengiama" %})</span>
                            {% elif prop_metadata.metadata_version and not prop_metadata.draft %}
                                <span class="tag is-success is-light">{{ prop_metadata.metadata_version }}</span>
                            {% elif not prop_metadata.metadata_version and prop_metadata.draft %}
                                <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>{% translate "Duomenų laukų nėra." %}</p>
            {% endif %}
        </div>
        {% if can_manage_structure and model.name %}
        <div class="buttons is-right mt-5">
            <a href="{% url 'property-create' dataset.pk model.name %}" class="button is-primary">
                {% translate "Naujas duomenų laukas" %}
            </a>
        </div>
        {% endif %}
        {% if model.base and base_props %}
        <div>
            <h4 class="custom-title is-size-4-mobile">{% translate "Baziniai modeliai" %}</h4>
            {% for base_model, base_props in base_props.items %}
                <div class="mb-5">
                    <h4 class="has-text-weight-semibold no-margin-bottom is-size-5">
                        {% if base_model.title %}
                            {{ base_model.title }}
                        {% else %}
                            {{ base_model.name }}
                        {% endif %}
                    </h4>
                    {% for prop in base_props %}
                        {% define prop.metadata.first as prop_metadata %}
                        {% if prop.name in prop_dict.keys %}
                            {% get_value_by_key prop_dict prop.name as prop %}
                        {% endif%}
                        <div class="mb-2">
                            <div class="columns">
                                {% if prop.model == model %}
                                    <div class="column is-8">
                                {% else %}
                                    <div class="column is-10">
                                {% endif %}
                                    <span class="pr-3 is-family-monospace">
                                        <a href="{{ prop.get_absolute_url }}">{{ prop }}</a>
                                    </span>

                                    {% if prop_metadata.type %}
                                    <span class="is-bold pr-3">
                                        {{ prop_metadata.type }}
                                        {% if prop_metadata.type_args %}
                                            <span class="is-italic has-text-weight-normal">({{ prop_metadata.type_args }})</span>
                                        {% endif %}
                                    </span>
                                    {% endif %}

                                    {% if prop_metadata.required %}
                                    <span class="is-italic pr-3">required</span>
                                    {% endif %}

                                    {% if prop_metadata.unique %}
                                    <span class="is-italic pr-3">unique</span>
                                    {% endif %}

                                    {% if prop.ref_model %}
                                    <span class="pr-3">
                                        model:
                                        <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                                        {% if prop.property_list.all %}
                                            <span class="is-italic">
                                                {% for p in prop.property_list.all %}
                                                    {{ p }}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                    </span>
                                    {% endif %}

                                    {% if prop_metadata.uri %}
                                        <span class="pr-3">
                                            uri:
                                            {% if prop_metadata.uri_link %}
                                                <a href="{{ prop_metadata.uri_link }}">{{ prop_metadata.uri }}</a>
                                            {% else %}
                                                {{ prop_metadata.uri }}
                                            {% endif %}
                                        </span>
                                    {% endif %}

                                    {% if prop_metadata.access is not None %}
                                    <span class="mr-3 tag is-info is-light">{{ prop_metadata.get_access_display }}</span>
                                    {% endif %}

                                    <br/>
                                    <p class="ml-4">{{ prop_metadata.title }}</p>
                                </div>

                                <div class="column is-1">
                                    {% if prop_metadata.level %}
                                    <span>
                                        <span>{{ prop_metadata.level }}</span>
                                        <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
                                    </span>
                                    {% endif %}
                                </div>
                                {% if prop.model == model %}
                                <div class="column is-1">
                                        {% if prop_metadata.metadata_version and prop_metadata.draft %}
                                            <span class="tag is-danger is-light">{{ prop_metadata.metadata_version}} ({% translate "rengiama" %})</span>
                                        {% elif prop_metadata.metadata_version and not prop_metadata.draft %}
                                            <span class="tag is-success is-light">{{ prop_metadata.metadata_version }}</span>
                                        {% elif not prop_metadata.metadata_version and prop_metadata.draft %}
                                            <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                                        {% endif %}
                                </div>
                                {% endif %}
                                {% if prop.model == model %}
                                    <div class="column is-2">
                                {% else %}
                                    <div class="column is-1">
                                {% endif %}
                                    {% if can_manage_structure %}
                                        <span class="mr-1 ml-3 no-margin-bottom is-pulled-right">
                                        {% if prop.model != model %}
                                            <a href="{% url 'base-property-create' dataset.pk model.pk prop.pk %}" class="button is-primary is-small">
                                                {% translate "Pridėti" %}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'property-update' dataset.pk model.name prop.name %}" class="button is-primary is-small">
                                                {% translate "Keisti" %}
                                            </a>
                                            <a
                                                href="{% url 'base-property-delete' dataset.pk model.pk prop.pk %}"
                                                class="button is-link is-small"
                                                onclick="return confirm('Ar tikrai norite ištrinti?')"
                                            >
                                                {% translate "Trinti" %}
                                            </a>
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if metadata.description %}
        <div><p>{{ metadata.description | markdown | safe }}</p></div>
        {% endif %}

        {% if model.is_parameterized %}
            {% include 'vitrina/structure/params.html' %}
         {% endif %}

        <div class="mt-6">
            {% comments obj=model user=request.user is_structure=True %}
        </div>
    </span>
</div>
{% endblock %}
