{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}
{% load markdown_tags %}
{% load util_tags %}

{% block current_title %}
{% include "component/page_title.html" %}
{% endblock %}
{% block parent_links %}
    {% include "component/breadcrumbs.html" %}
{% endblock %}

{% block content %}

{% include 'vitrina/datasets/tabs.html' %}

<div class="columns no-margin-bottom">
    <div class="column is-one-quarter">
        {% include 'vitrina/structure/side_menu.html' %}
    </div>

    {% define model.metadata.first as metadata %}

    <div class="column">
        <div class="mb-2">
            <span class="is-family-monospace is-size-6-mobile is-size-5 pr-3">
                {{ model.name }}
            </span>

            {% if model.property_list.all %}
                <span class="icon has-text-warning"><i class="fas fa-key"></i></span>
                <span class="is-italic pr-3">
                    {% for prop in model.property_list.all %}
                        {{ prop }}
                    {% endfor %}
                </span>
            {% endif %}

            {% if model.access_display_value %}
                <span class="mr-3 tag is-info is-light">{{ model.access_display_value }}</span>
            {% endif %}
            <span>{{ metadata.average_level|default:"0"|floatformat:"0" }}</span>
            <span class="icon has-text-warning pr-3"><i class="fas fa-star"></i></span>
            {% if metadata.metadata_version %}

                {% if metadata.metadata_version.status == "DRAFT" %}
                    <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                {% elif metadata.draft and metadata.metadata_version.status != "DRAFT"%}
                    <span class="tag is-danger is-light">{{ metadata.metadata_version.external_version}} ({% translate "rengiama" %})</span>
                {% elif metadata.metadata_version.external_version and not metadata.draft %}
                    <span class="tag is-success is-light">{{ metadata.metadata_version.external_version }}</span>
                {% endif %}

            {% endif %}

            {% if metadata.status.codename %}
                {% if metadata.status.codename == "develop" %}
                    <span class="ml-3 tag" style="background-color: #eaedfa; color: #304cd3;">
                        {{ metadata.status.name }}
                    </span>
                {% elif metadata.status.codename == "completed" %}
                    <span class="ml-3 tag is-success is-light">
                        {{ metadata.status.name }}
                    </span>
                {% elif metadata.status.codename == "discont" %}
                   <span class="ml-3 tag" style="background-color: #fff5e5; color: #ffa525;">
                        {{ metadata.status.name }}
                   </span>
                {% elif metadata.status.codename == "deprecated" %}
                    <span class="ml-3 tag is-warning is-light">{{ metadata.status.name }}</span>
                {% elif metadata.status.codename == "withdrawn" %}
                    <span class="ml-3 tag is-danger is-light">{{ metadata.status.name }}</span>
                {% endif %}
            {% endif %}

            {% if metadata.visibility is not None %}
                {% if metadata.visibility == 0 %}
                    <span class="ml-3 tag icon has-text-grey is-rounded">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                {% elif metadata.visibility == 1 %}
                    <span class="ml-3 tag icon has-tooltip-right has-tooltip-multiline is-warning is-light is-rounded">
                        <strong class="has-text-warning-dark">IS</strong>
                    </span>
                {% elif metadata.visibility == 2 %}
                    <span class="ml-3 tag icon has-tooltip-right has-tooltip-multiline is-success is-light is-rounded">
                        <strong class="has-text-success-dark">LT</strong>
                    </span>
                {% elif metadata.visibility == 3 %}
                    <span class="ml-3 tag icon has-tooltip-right has-tooltip-multiline is-info is-light is-rounded">
                        <strong class="has-text-info-dark">EU</strong>
                    </span>
                {% endif %}
            {% endif %}

            {% if metadata.eli %}
                <a href="{{ metadata.eli }}"
                   class="tag is-white has-tooltip"
                   target="_blank" rel="noopener noreferrer">
                  <span class="ml-3 icon is-small has-text-grey">
                    <i class="fas fa-link mr-1"></i>
                    <span>ELI</span>
                  </span>
                </a>
            {% endif %}

            {% if metadata.count %}
                <span 
                    class="tag ml-5 icon is-small has-text-grey"
                    data-tooltip="{% translate 'Objektų kiekis' %}"
                >
                    <i class="fas fa-list mr-1"></i>
                    <span>{{ metadata.count }}</span>
                </span>
            {% endif %}

        </div>
        <div class="mb-2">
            {% if model.base %}
                <span class="pr-5">
                    base:
                    <a href="{{ model.base.model.get_absolute_url }}">{{ model.base.model.name }}</a>
                </span>
            {% endif %}
            {% if metadata.uri %}
                <span>
                    uri:
                    {% if metadata.uri_link %}
                        <a href="{{ metadata.uri_link }}">{{ metadata.uri }}</a>
                    {% else %}
                        {{ metadata.uri }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% if can_manage_structure and model.name %}
        <div class="buttons is-right">
            <a
                class="button is-primary {% if is_disabled %}is-disabled{% endif %}"
                {% if is_disabled %}
                    style="pointer-events: none; opacity: 0.5;"
                    aria-disabled="true"
                {% else %}
                    href="{% url 'model-update' dataset.pk version_id model.name %}"
                {% endif %}
            >
                {% translate "Redaguoti" %}
            </a>
        </div>
        {% endif %}
        <div>
            <h4 class="custom-title is-size-4-mobile">{% translate "Duomenų laukai" %}</h4>
            {% if props_without_base %}
                {% for prop in props_without_base %}
                {% define prop.metadata.first as prop_metadata %}
                <div class="mb-2">
                    <div class="columns no-margin-bottom">
                     <div class="column is-7">
                         {% if prop_metadata.visibility is not None %}
                            {% if prop_metadata.visibility == 0 %}
                                <span class="mr-1 tag is-light is-light is-rounded">
                                    <span class="icon is-small has-tooltip-right has-text-grey"
                                          data-tooltip="{% translate 'Metaduomenys nepublikuojami' %}">
                                        <i class="fas fa-eye-slash"></i>
                                    </span>
                                </span>
                            {% elif prop_metadata.visibility == 1 %}
                                <span class="mr-1 tag is-warning is-light is-rounded">
                                    <span class="icon is-small has-tooltip-right"
                                          data-tooltip="{% translate 'Naudojamas informacinės sistemos (IS) lygmeniu' %}">
                                        <strong class="has-text-warning-dark">IS</strong>
                                    </span>
                                </span>
                            {% elif prop_metadata.visibility == 2 %}
                                <span class="mr-1 tag is-success has-tooltip-right is-light is-rounded"
                                      data-tooltip="{% translate 'Naudojamas LT lygmeniu' %}">
                                    <span class="icon is-small has-tooltip-right"
                                          data-tooltip="{% translate 'Naudojamas LT lygmeniu' %}">
                                        <strong class="has-text-success-dark">LT</strong>
                                    </span>
                                </span>
                            {% elif prop_metadata.visibility == 3 %}
                                <span class="mr-1 tag is-info is-light is-rounded">
                                    <span class="icon is-small has-tooltip-right is-info"
                                          data-tooltip="{% translate 'Naudojamas EU lygmeniu' %}">
                                        <strong class="has-text-info-dark">EU</strong>
                                    </span>
                                </span>
                            {% endif %}
                         {% endif %}
                            <span class="pr-3 is-family-monospace">
                                <a href="{{ prop.get_absolute_url }}">{{ prop }}</a>
                            </span>

                            {% if prop_metadata.type %}
                            <span class="is-bold pr-3">{{ prop_metadata.type }}</span>
                            {% endif %}

                            {% if prop_metadata.required %}
                            <span class="is-italic pr-3">required</span>
                            {% endif %}

                            {% if prop_metadata.unique %}
                            <span class="is-italic pr-3">unique</span>
                            {% endif %}
                            {% if prop.ref_model %}
                            <span class="pr-3">
                                model:
                                <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                                {% if prop.property_list.all %}
                                    <span class="is-italic">
                                        {% for p in prop.property_list.all %}
                                            {{ p }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </span>
                            {% elif prop_metadata.ref %}
                            <span class="pr-3">
                                ref:
                                <span class="is-italic">
                                    {{ prop_metadata.ref }}
                                </span>
                            </span>
                            {% endif %}

                            {% if prop_metadata.uri %}
                                <span class="pr-3">
                                    uri:
                                    {% if prop_metadata.uri_link %}
                                        <a href="{{ prop_metadata.uri_link }}">{{ prop_metadata.uri }}</a>
                                    {% else %}
                                        {{ prop_metadata.uri }}
                                    {% endif %}
                                </span>
                            {% endif %}

                            {% if prop_metadata.access is not None %}
                            <span class="mr-3 tag is-info is-light">{{ prop_metadata.get_access_display }}</span>
                            {% endif %}
                            <br/>
                            <p class="ml-4">{{ prop_metadata.title }}</p>
                        </div>
                        <div class="column is-1">
                            {% if prop_metadata.status.codename %}
                                {% if prop_metadata.status.codename == "develop" %}
                                    <span class="tag has-tooltip"
                                          data-tooltip="{% translate 'Būsena' %}" style="background-color: #eaedfa; color: #304cd3;">
                                        {{ prop_metadata.status.name }}
                                    </span>
                                {% elif prop_metadata.status.codename == "completed" %}
                                    <span class="tag has-tooltip is-success is-light"
                                          data-tooltip="{% translate 'Būsena' %}">
                                        {{ prop_metadata.status.name }}
                                    </span>
                                {% elif prop_metadata.status.codename == "discont" %}
                                   <span class="tag has-tooltip"
                                         data-tooltip="{% translate 'Būsena' %}" style="background-color: #fff5e5; color: #ffa525;">
                                        {{ prop_metadata.status.name }}
                                   </span>
                                {% elif prop_metadata.status.codename == "deprecated" %}
                                    <span class="tag has-tooltip is-warning is-light"
                                          data-tooltip="{% translate 'Būsena' %}">
                                        {{ prop_metadata.status.name }}
                                    </span>
                                {% elif prop_metadata.status.codename == "withdrawn" %}
                                    <span class="tag has-tooltip is-danger is-light"
                                          data-tooltip="{% translate 'Būsena' %}">
                                        {{ prop_metadata.status.name }}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="column is-2">
                            {% if prop_metadata.level %}
                            <span class="is-pulled-right">
                                <span>{{ prop_metadata.level }}</span>
                                <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
                            </span>
                            {% endif %}
                        </div>
                        <div class="column is-1">
                            {% if prop_metadata.eli %}
                            <a href="{{ prop_metadata.eli }}"
                               class="tag is-white has-tooltip"
                               data-tooltip="{% translate 'ELI nuoroda' %}"
                               target="_blank" rel="noopener noreferrer">
                              <span class="ml-3 icon is-small has-text-grey">
                                <i class="fas fa-link mr-1"></i>
                                <span>ELI</span>
                              </span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="column is-1">
                            {% if prop_metadata.count %}
                                <span 
                                    class="tag ml-3 icon is-small has-text-grey"
                                    data-tooltip="{% translate 'Reikšmių kiekis' %}"
                                >
                                <i class="fas fa-list mr-1"></i>
                                <span>{{ prop_metadata.count }}</span>
                              </span>
                        {% endif %}
                    </div>
                        <div class="column is-1">
                        {% if prop_metadata.metadata_version %}

                            {% if prop_metadata.metadata_version.status == "DRAFT" %}
                                <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                            {% elif prop_metadata.draft and prop_metadata.metadata_version.status != "DRAFT"%}
                                <span class="tag is-danger is-light">{{ prop_metadata.metadata_version.external_version}} ({% translate "rengiama" %})</span>
                            {% elif prop_metadata.metadata_version.external_version and not prop_metadata.draft %}
                                <span class="tag is-success is-light">{{ prop_metadata.metadata_version.external_version }}</span>

                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>{% translate "Duomenų laukų nėra." %}</p>
            {% endif %}
        </div>
        {% if can_manage_structure and model.name %}
        <div class="buttons is-right mt-5">
            {% if not is_disabled %}
                <a href="{% url 'property-create' dataset.pk version_id model.name %}"
                   class="button is-primary">
                    {% translate "Naujas duomenų laukas" %}
                </a>
            {% else %}
                <a class="button is-primary is-disabled"
                   style="pointer-events: none; opacity: 0.5;"
                   aria-disabled="true">
                    {% translate "Naujas duomenų laukas" %}
                </a>
            {% endif %}
        </div>
        {% endif %}
        {% if model.base and base_props %}
        <div>
            <h4 class="custom-title is-size-4-mobile">{% translate "Baziniai modeliai" %}</h4>
            {% for base_model, base_props in base_props.items %}
                <div class="mb-5">
                    <h4 class="has-text-weight-semibold no-margin-bottom is-size-5">
                        {% if base_model.title %}
                            {{ base_model.title }}
                        {% else %}
                            {{ base_model.name }}
                        {% endif %}
                    </h4>
                    {% for prop in base_props %}
                        {% define prop.metadata.first as prop_metadata %}
                        {% if prop.name in prop_dict.keys %}
                            {% get_value_by_key prop_dict prop.name as prop %}
                        {% endif%}
                        <div class="mb-2">
                            <div class="columns">
                                {% if prop.model == model %}
                                    <div class="column is-8">
                                {% else %}
                                    <div class="column is-10">
                                {% endif %}
                                    <span class="pr-3 is-family-monospace">
                                        <a href="{{ prop.get_absolute_url }}">{{ prop }}</a>
                                    </span>

                                    {% if prop_metadata.type %}
                                    <span class="is-bold pr-3">
                                        {{ prop_metadata.type }}
                                        {% if prop_metadata.type_args %}
                                            <span class="is-italic has-text-weight-normal">({{ prop_metadata.type_args }})</span>
                                        {% endif %}
                                    </span>
                                    {% endif %}

                                    {% if prop_metadata.required %}
                                    <span class="is-italic pr-3">required</span>
                                    {% endif %}

                                    {% if prop_metadata.unique %}
                                    <span class="is-italic pr-3">unique</span>
                                    {% endif %}

                                    {% if prop.ref_model %}
                                    <span class="pr-3">
                                        model:
                                        <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                                        {% if prop.property_list.all %}
                                            <span class="is-italic">
                                                {% for p in prop.property_list.all %}
                                                    {{ p }}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                    </span>
                                    {% endif %}

                                    {% if prop_metadata.uri %}
                                        <span class="pr-3">
                                            uri:
                                            {% if prop_metadata.uri_link %}
                                                <a href="{{ prop_metadata.uri_link }}">{{ prop_metadata.uri }}</a>
                                            {% else %}
                                                {{ prop_metadata.uri }}
                                            {% endif %}
                                        </span>
                                    {% endif %}

                                    {% if prop_metadata.access is not None %}
                                    <span class="mr-3 tag is-info is-light">{{ prop_metadata.get_access_display }}</span>
                                    {% endif %}

                                    <br/>
                                    <p class="ml-4">{{ prop_metadata.title }}</p>
                                </div>

                                <div class="column is-1">
                                    {% if prop_metadata.level %}
                                    <span>
                                        <span>{{ prop_metadata.level }}</span>
                                        <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
                                    </span>
                                    {% endif %}
                                </div>
                                {% if prop.model == model %}
                                <div class="column is-1">
                                    {% if prop_metadata.metadata_version %}

                                        {% if prop_metadata.metadata_version.status == "DRAFT" %}
                                            <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                                        {% elif prop_metadata.draft and prop_metadata.metadata_version.status != "DRAFT"%}
                                            <span class="tag is-danger is-light">{{ prop_metadata.metadata_version.external_version}} ({% translate "rengiama" %})</span>
                                        {% elif prop_metadata.metadata_version.external_version and not prop_metadata.draft %}
                                            <span class="tag is-success is-light">{{ prop_metadata.metadata_version.external_version }}</span>
                                        {% endif %}

                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if prop.model == model %}
                                    <div class="column is-2">
                                {% else %}
                                    <div class="column is-1">
                                {% endif %}
                                    {% if can_manage_structure %}
                                        <span class="mr-1 ml-3 no-margin-bottom is-pulled-right">
                                        {% if prop.model != model %}
                                            <a href="{% url 'base-property-create' dataset.pk version_id model.pk prop.pk %}" class="button is-primary is-small">
                                                {% translate "Pridėti" %}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'property-update' dataset.pk version_id model.name prop.name %}" class="button is-primary is-small">
                                                {% translate "Keisti" %}
                                            </a>
                                            <a
                                                href="{% url 'base-property-delete' dataset.pk version_id model.pk prop.pk %}"
                                                class="button is-link is-small"
                                                onclick="return confirm({% translate 'Ar tikrai norite ištrinti?' %})"
                                            >
                                                {% translate "Ištrinti" %}
                                            </a>
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if metadata.description %}
        <div><p>{{ metadata.description | markdown | safe }}</p></div>
        {% endif %}

        {% if model.is_parameterized %}
            {% include 'vitrina/structure/params.html' %}
         {% endif %}

        <div class="mt-6">
            {% comments obj=model user=request.user is_structure=True %}
        </div>
    </span>
</div>
{% endblock %}
