{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}

{% block current_title %}
    {% if model.title %}
        {{ model.title }}
    {% else %}
        {{ model.name }}
    {% endif %}
{% endblock %}
{% block parent_links %}
    <ul class="p-t-sm">
        <li>
            <a href="{% url 'home' %}">
                <span class="icon"><i class="fas fa-home"></i></span><span>{% translate 'Pradžia' %}</span>
            </a>
        </li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų rinkiniai' %}</span></a></li>
        <li><a href="{% url 'dataset-detail' dataset.pk %}"><span>{{ dataset.title }}</span></a></li>
    </ul>
{% endblock %}

{% block content %}

{% include 'vitrina/datasets/tabs.html' %}

<div class="columns no-margin-bottom">
    <div class="column is-one-quarter">
        {% include 'vitrina/structure/side_menu.html' %}
    </div>

    <div id="model-data-table" class="column is-three-quarters">
        <div class="columns no-margin-bottom">
            <div class="column is-4"></div>
            <div class="column is-3 mt-6"><progress class="progress is-small is-primary" max="100"></progress></div>
            <div class="column is-5"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        $(function () {
            let datasetId = {{ dataset.pk }};
            let model = "{{model.name}}";
            let modelFullName = "{{model.full_name}}";
            modelFullName = modelFullName.replaceAll('/', '-')
            let search = location.search;

            $.ajax({
                url: `/datasets/${datasetId}/data/${modelFullName}/table-data/${search}`,
            }).then(response => {
                $.ajax({
                    url: `/datasets/${datasetId}/data/${model}/table/`,
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token }}',
                        'data': JSON.stringify(response),
                        'query': search
                    }
                }).then(response => {
                    $('#model-data-table')[0].innerHTML = response['rendered_template'];
                    let shownCount = response['data_count'];

                    let selectCheckList = $('#select_cols_id');
                    let anchor = selectCheckList.find('.anchor');
                    anchor.on('click', () => {
                        if (selectCheckList.hasClass('visible')) {
                            selectCheckList.removeClass('visible');
                        }
                        else {
                            selectCheckList.addClass('visible');
                        }
                    });

                    let width = $('.dropdown-menu').css('width');
                    selectCheckList.find('span.anchor').css('width', width);

                    $.ajax({
                        url: `/datasets/${datasetId}/data/${modelFullName}/count/${search}`
                    }).then(response => {
                        let count = response['total_count'];
                        let countSaved = response['total_count_saved'];
                        let totalCount = "";
                        if (shownCount == 1) {
                            totalCount = gettext(`Rodoma ${shownCount} objektas iš ${count} (atnaujinta ${countSaved})`);
                        }
                        else {
                            totalCount = gettext(`Rodoma ${shownCount} objektai iš ${count} (atnaujinta ${countSaved})`);
                        }
                        $('#total_count_id')[0].innerHTML = totalCount.toLocaleString('lt-LT');
                    });
                }).fail(function () {
                    let errorMsg = gettext("Atsiprašome, įvyko klaida.");
                    let errorHtml = `<div class="message is-danger"><div class="message-body"><p>${errorMsg}</p></div></div>`;
                    $('#model-data-table')[0].innerHTML = errorHtml;
                });
            }).fail(function () {
                let errorMsg = gettext("Atsiprašome, įvyko klaida.");
                let errorHtml = `<div class="message is-danger"><div class="message-body"><p>${errorMsg}</p></div></div>`;
                $('#model-data-table')[0].innerHTML = errorHtml;
            });
        });

        function showFilterWindow(col) {
            $(`div[id$='_filter_id']:not(#${col}_filter_id)`).each(function() {
                this.style.display = 'none';
            });

            $(`#${col}_filter_id`).each(function() {
                if(this.style.display == 'block'){
                    this.style.display = 'none';
                    let table = $('.filter-table');
                    table.css('height', '');
                } else {
                    this.style.display = 'block';

                    let table = $('.filter-table');
                    let tableScrollHeight = table[0].scrollHeight;
                    let tableClientHeight = table[0].clientHeight;

                    if (tableScrollHeight > tableClientHeight){
                        let height = tableClientHeight + 130;
                        table.css('height', height + "px");
                    }
                }
            });
        };

        function orderBy(col, asc = true) {

            let search = location.search.substring(1);
            let searchParams = search.split('&');

            let sort = [];
            let query = "";
            for (let param of searchParams) {
                if(param){
                    if (param.includes('sort(')) {
                        let value = param.substring(
                            param.indexOf("(") + 1,
                            param.lastIndexOf(")")
                        );
                        for (let val of value.split(",")) {
                            if (!sort.includes(val) && val.replace("-", "") != col) {
                                sort.push(val);
                            }
                        }
                    }
                    else {
                        query = query ? `${query}&${param}` : `?${param}`;
                    }
                }
            }
            if (!sort.includes(col)) {
                col = asc ? col : `-${col}`;
                sort.push(col);
            }
            sort = `sort(${sort.join(',')})`;
            query = query ? `${query}&${sort}` : `?${sort}`;

            let url = `${location.origin}${location.pathname}${query}`;
            location.href = url;
        };

        function filter(col, type) {
            let compareSelect = $(`select#${col}_compare_select_id`).val();
            let compareInput = $(`input#${col}_compare_value_id`).val();
            let compare;

            if (
                compareSelect == 'contains' ||
                compareSelect == 'startswith' ||
                compareSelect == 'endswith'
            ) {
                if ( type == 'ref' ) {
                    compareInput = compareInput.replaceAll('"', String.raw`\"`);
                    compare = `${col}._id.${compareSelect}("${compareInput}")`;
                }
                else {
                    compareInput = compareInput.replaceAll('"', String.raw`\"`);
                    compare = `${col}.${compareSelect}("${compareInput}")`;
                }
            }
            else {
                if (
                    (
                        type == 'string' ||
                        type == 'date' ||
                        type == 'datetime' ||
                        col == '_id'
                    ) && compareInput != 'null'
                ) {
                    compareInput = compareInput.replaceAll('"', String.raw`\"`);
                    compare = `${col}${compareSelect}"${compareInput}"`;
                }
                else if ( type == 'ref' ) {
                    compareInput = compareInput.replaceAll('"', String.raw`\"`);
                    compare = `${col}._id${compareSelect}"${compareInput}"`;
                }
                else {
                    compare = `${col}${compareSelect}${compareInput}`;
                }
            }

            location.href = location.search ? `${location.href}&${compare}` : `${location.href}?${compare}`;
        };

        function removeFilter(tag, idx) {
            $(`#remove_tag_${idx}_id`).remove();

            let search = decodeURIComponent(location.search.substring(1));
            let searchParams = search.split('&');
            let query = "";
            for (let param of searchParams) {
                if (param.replaceAll(/\\/g, "") != tag) {
                    query = query ? `${query}&${param}` : `?${param}`;
                }
            }
            location.href = `${location.origin}${location.pathname}${query}`;
        };

        function select() {
            let selected_cols = [];
            $('.dropdown-menu li input:checked').each(function() {
                let value = $(this).siblings('label')[0].innerText;
                selected_cols.push(value);
            });

            let search = location.search.substring(1);
            let searchParams = search.split('&');

            let query = "";
            for (let param of searchParams) {
                if (param && !param.includes('select(')) {
                    query = query ? `${query}&${param}` : `?${param}`;
                }
            }
            let select = `select(${selected_cols.join(',')})`;
            query = query ? `${query}&${select}` : `?${select}`;

            let url = `${location.origin}${location.pathname}${query}`;
            location.href = url;
        }

        function hide(col) {
            let search = location.search.substring(1);
            let searchParams = search.split('&');

            let select = $('#select_dropdown').data('selectedCols');
            select = select.replace("[","").replace("]","").replaceAll("'", "").replaceAll(" ", "").split(',');
            let query = "";
            for (let param of searchParams) {
                if (param) {
                    if (param && !param.includes('select(')) {
                        query = query ? `${query}&${param}` : `?${param}`;
                    }
                }
            }
            select = select.filter(v => v !== col);
            select = `select(${select.join(',')})`;
            query = query ? `${query}&${select}` : `?${select}`;

            let url = `${location.origin}${location.pathname}${query}`;
            location.href = url;
        };

        function downloadData() {
            let select = $("select#select_format_id");
            let format = select.val();
            let url = '';
            if (location.search ){
                url = location.href + `&format(${format})`;
            }
            else {
                url = location.href + `?format(${format})`;
            }
            location.href = url;
        };
    </script>
{% endblock %}