{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comment_tags %}
{% load markdown_tags %}
{% load util_tags %}

{% block current_title %}
    {% if prop.title %}
        {{ prop.title }}
    {% else %}
        {{ prop.name }}
    {% endif %}
{% endblock %}
{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų rinkiniai' %}</span></a></li>
        <li><a href="{% url 'dataset-detail' dataset.pk %}"><span>{{ dataset.title }}</span></a></li>
        <li><a href="{% url 'dataset-structure' dataset.pk %}"><span>{% translate 'Struktūra' %}</span></a></li>
        <li><a href="{{ model.get_absolute_url }}">
            <span>
                {% if model.title %}
                    {{ model.title }}
                {% else %}
                    {{ model.name }}
                {% endif %}
            </span>
        </a></li>
    </ul>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

    <style>
      .leaflet-tooltip-pane .text {
          color: white;
          font-weight: bold;
          background: transparent;
          border:0;
          box-shadow: none;
          font-size:1.5em;
      }
    </style>
{% endblock %}

{% block content %}

{% include 'vitrina/datasets/tabs.html' %}

<div class="columns no-margin-bottom">
    <div class="column is-one-quarter">
        {% include 'vitrina/structure/side_menu.html' %}
    </div>

    <div class="column">
        {% define prop.metadata.first as metadata %}
        <div class="mb-2">
            <span class="is-family-monospace pr-3 is-size-6-mobile is-size-5">
                {{ prop }}
            </span>

            {% if metadata.type %}
            <span class="is-bold pr-3">
                {{ metadata.type }}
                {% if metadata.type_args %}
                    <span class="is-italic has-text-weight-normal">({{ metadata.type_args }})</span>
                {% endif %}
            </span>
            {% endif %}

            {% if metadata.required %}
            <span class="is-italic pr-3">required</span>
            {% endif %}

            {% if metadata.unique %}
            <span class="is-italic pr-3">unique</span>
            {% endif %}

            {% if prop.ref_model %}
            <span class="pr-3">
                model:
                <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                {% if prop.property_list.all %}
                    <span class="is-italic">
                        {% for p in prop.property_list.all %}
                            {{ p }}
                        {% endfor %}
                    </span>
                {% endif %}
            </span>
            {% endif %}

            {% if metadata.access is not None %}
                <span class="mr-3 tag is-info is-light">{{ metadata.get_access_display }}</span>
            {% endif %}

            {% if metadata.level %}
            <span class>{{ metadata.level }}</span>
            <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
            {% endif %}

            {% if metadata.metadata_version and metadata.draft %}
                <span class="tag is-danger is-light">{{ metadata.metadata_version}} ({% translate "rengiama" %})</span>
            {% elif metadata.metadata_version and not metadata.draft %}
                <span class="tag is-success is-light">{{ metadata.metadata_version }}</span>
            {% elif not metadata.metadata_version and metadata.draft %}
                <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
            {% endif %}

        </div>
        <div class="mb-2">
            {% if metadata.uri %}
                <span>uri: </span>
                {% if metadata.uri_link %}
                    <span class="pr-3">
                        <a href="{{ metadata.uri_link }}">{{ metadata.uri }}</a>
                    </span>
                {% else %}
                    <span class="has-text-weight-semibold">{{ metadata.uri }}</span>
                {% endif %}
            {% endif %}
            {% if metadata.source %}
                <span>source: </span>
                <span class="has-text-weight-semibold">{{ metadata.source }}</span>
            {% endif %}
        </div>
        {% if can_manage_structure and model.name and prop.name %}
        <div class="buttons is-right">
            <a href="{% url 'property-update' dataset.pk model.name prop.name %}" class="button is-primary">
                {% translate "Redaguoti" %}
            </a>
        </div>
        {% endif %}

        {% if data %}
            {% if graph_type == 'vertical' %}
                <canvas id="chart" class="mb-5"></canvas>
            {% elif graph_type == 'horizontal' %}
                <div class="tab-content mb-6">
                    {% for item in data %}
                        <div class="is-flex">
                            <strong class="has-text-black">{{ item.bin }}</strong>
                            <div class="stays-right">{{ item.count }}</div>
                        </div>
                        <progress class="progress is-info" value="{{ item.count }}" max="{{ max_count }}"></progress>
                    {% endfor %}
                </div>
            {% else %}
                <div id="map" style="height: 400px;"></div>
            {% endif %}
        {% elif errors %}
            <div class="message is-danger">
                <div class="message-body">
                    {% for error in errors %}
                        {% if error.message %}
                            <p>{{ error.message }}</p>
                        {% else %}
                            <p>{{ error }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if metadata.type == 'string' or metadata.type == 'integer' %}
        <div>
            <h4 class="custom-title is-size-4-mobile no-margin-bottom">{% translate "Reikšmių sąrašas" %}</h4>
            {% if prop.enums.first %}
                {% for enum_item in prop.enums.first.enumitem_set.all %}
                    {% define enum_item.metadata.first as enum_meta %}
                    <div class="columns no-margin-bottom">
                        <div class="column is-9">
                            {% if enum_meta.prepare %}
                            <span class="pr-5 has-text-weight-semibold">{{ enum_meta.prepare }}</span>
                            {% endif %}

                            {% if enum_meta.title %}
                            <span class="has-text-weight-semibold">{{ enum_meta.title }}</span>
                            {% endif %}

                             <div class="ml-4">
                                {% if enum_meta.source %}
                                <span>source: </span>
                                <span class="has-text-weight-semibold">{{ enum_meta.source }}</span>
                                {% endif %}
                            </div>
                            {% if enum_meta.description %}
                                <div class="ml-4"><p>{{ enum_meta.description | markdown | safe }}</p></div>
                            {% endif %}
                        </div>

                        <div class="column is-1">
                            {% if enum_meta.metadata_version and enum_meta.draft %}
                                <span class="tag is-danger is-light">{{ metadata.metadata_version}} ({% translate "rengiama" %})</span>
                            {% elif enum_meta.metadata_version and not enum_meta.draft %}
                                <span class="tag is-success is-light">{{ enum_meta.metadata_version }}</span>
                            {% elif not enum_meta.metadata_version and enum_meta.draft %}
                                <span class="tag is-danger is-light">({% translate "rengiama" %})</span>
                            {% endif %}
                        </div>
                        <div class="column is-2">
                            {% if enum_meta.prepare or enum_meta.title %}
                                {% if prop.name and model.name and can_manage_structure %}
                                <div class="buttons is-right">
                                    <a href="{% url 'enum-update' dataset.pk model.name prop.name enum_item.pk %}" class="button is-primary is-small">
                                        {% translate "Keisti" %}
                                    </a>
                                    <a href="{% url 'enum-delete' dataset.pk model.name prop.name enum_item.pk %}"
                                       onclick="return confirm('Ar jūs tikrai norite ištrinti?')"
                                       class="button is-link is-small"
                                       id="delete_enum">{% translate "Trinti" %}
                                    </a>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>
                    {% translate "Galimos reikšmės neapibrėžtos." %}
                </p>
            {% endif %}
            {% if model.name and prop.name and can_manage_structure %}
                <div class="buttons is-right mt-5">
                    <a href="{% url 'enum-create' dataset.pk model.name prop.name %}" class="button is-primary">
                        {% translate "Nauja reikšmė" %}
                    </a>
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% if metadata.description %}
        <div><p>{{ metadata.description | markdown | safe }}</p></div>
        {% endif %}

        <div class="mt-6">
            {% comments obj=prop user=request.user is_structure=True %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ x_values|json_script:"xValues" }}
    {{ y_values|json_script:"yValues" }}
    {{ x_title|json_script:"xTitle" }}
    {{ y_title|json_script:"yTitle" }}
    {{ data|json_script:"clusters" }}
    {{ prop.name|json_script:"property" }}
    {{ model.full_name|json_script:"model" }}
    {{ source_srid|json_script:"sourceSrid" }}
    {{ target_srid|json_script:"targetSrid" }}
    <script type="text/javascript">
        $(function () {
            let ctx = document.getElementById("chart");
            if (ctx != null) {
                ctx = ctx.getContext("2d");
                var xValues = JSON.parse(document.getElementById('xValues').textContent);
                var yValues = JSON.parse(document.getElementById('yValues').textContent).map((y) => parseInt(y));
                var xTitle = JSON.parse(document.getElementById('xTitle').textContent);
                var yTitle = JSON.parse(document.getElementById('yTitle').textContent);

                const char = new Chart(ctx, {
                  type: "bar",
                  data: {
                    labels: xValues,
                    datasets: [{
                      data: yValues
                    }]
                  },
                  options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: yTitle
                            },
                            stacked: true
                        },
                        x: {
                            title: {
                                display: true,
                                text: xTitle
                            },
                        }
                    }
                  }
                });
            }
            else if (document.getElementById("map") != null){
                let map = L.map('map');
                let clusters = JSON.parse(document.getElementById('clusters').textContent);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

                let layerGroup = L.layerGroup().addTo(map);
                let bounds = [];
                clusters.forEach(item => {
                    let cluster = item.cluster;
                    let centroidX = item.centroid[0];
                    let centroidY = item.centroid[1];
                    bounds.push([centroidX, centroidY]);

                    if("_id" in item){
                        var marker = L.marker([centroidX, centroidY]).addTo(layerGroup);
                    }
                    else {
                        var marker = L.circleMarker([centroidX, centroidY], {radius: 20, color: 'orange'}).addTo(layerGroup);
                        var text = L.tooltip({
                            permanent: true,
                            direction: 'center',
                            className: 'text'
                        })
                        .setContent(cluster.toString())
                        .setLatLng(marker.getLatLng());
                        text.addTo(layerGroup);
                    }
                });
                map.fitBounds(bounds);

                var sourceSrid = JSON.parse(document.getElementById('sourceSrid').textContent);
                var targetSrid = JSON.parse(document.getElementById('targetSrid').textContent);
                map.on("zoomend", function () {
                    update_map(map, layerGroup, sourceSrid, targetSrid);
                });
                map.on("dragend", function () {
                    update_map(map, layerGroup, sourceSrid, targetSrid);
                });

            }
        });

        function update_map(map, layerGroup, sourceSrid, targetSrid) {
            let map_bounds = map.getBounds();
            let minLng = map_bounds.getSouthEast().lng;
            let minLat = map_bounds.getSouthEast().lat;
            let maxLng = map_bounds.getNorthWest().lng;
            let maxLat = map_bounds.getNorthWest().lat;

            var model = JSON.parse(document.getElementById('model').textContent);
            var property = JSON.parse(document.getElementById('property').textContent);

             $.ajax({
                 url: `/get_updated_summary/`,
                 data: {
                    model: model,
                    property: property,
                    source_srid: sourceSrid,
                    target_srid: targetSrid,
                    min_lng: minLng,
                    min_lat: minLat,
                    max_lng: maxLng,
                    max_lat: maxLat,
                 }
             }).then(response => {
                if (response.data.length > 0) {
                    layerGroup.clearLayers();
                    response.data.forEach(item => {
                        let cluster = item.cluster;
                        let centroidX = item.centroid[0];
                        let centroidY = item.centroid[1];

                        if("_id" in item){
                            var marker = L.marker([centroidX, centroidY]).addTo(layerGroup);
                        }
                        else {
                            var marker = L.circleMarker([centroidX, centroidY], {radius: 20, color: 'orange'}).addTo(layerGroup);
                            var text = L.tooltip({
                                permanent: true,
                                direction: 'center',
                                className: 'text'
                            })
                            .setContent(cluster.toString())
                            .setLatLng(marker.getLatLng());
                            text.addTo(layerGroup);
                        }
                    });
                }
             });
        }
    </script>
{% endblock %}
