{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}
{% load markdown_tags %}

{% block current_title %}{{ prop.name }}{% endblock %}
{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų rinkiniai' %}</span></a></li>
        <li><a href="{% url 'dataset-detail' dataset.pk %}"><span>{{ dataset.title }}</span></a></li>
        <li><a href="{% url 'dataset-structure' dataset.pk %}"><span>{% translate 'Struktūra' %}</span></a></li>
        <li><a href="{% url 'model-structure' dataset.pk model.name %}"><span>{{ model.name }}</span></a></li>
    </ul>
{% endblock %}

{% block content %}

{% include 'vitrina/structure/structure_tabs.html' %}

<div class="columns no-margin-bottom">
    <div class="column is-one-quarter">
        {% include 'vitrina/structure/side_menu.html' %}
    </div>

    <div class="column">
        <div class="mb-2">
            <span class="is-family-monospace pr-3 is-size-6-mobile is-size-5">
                {{ prop }}
            </span>

            {% if prop.metadata.first.type %}
            <span class="is-bold pr-3">{{ prop.metadata.first.type }}</span>
            {% endif %}

            {% if prop.metadata.first.required %}
            <span class="is-italic pr-3">required</span>
            {% endif %}

            {% if prop.metadata.first.unique %}
            <span class="is-italic pr-3">unique</span>
            {% endif %}

            {% if prop.ref_model %}
            <span class="pr-3">
                model:
                <a href="{{ prop.ref_model.get_absolute_url }}">{{ prop.ref_model.name }}</a>
                {% if prop.property_list.all %}
                    <span class="is-italic">
                        {% for p in prop.property_list.all %}
                            {{ p }}
                        {% endfor %}
                    </span>
                {% endif %}
            </span>
            {% endif %}

            {% if prop.metadata.first.level %}
            <span class>{{ prop.metadata.first.level }}</span>
            <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
            {% endif %}
        </div>
        <div class="mb-2">
            {% if prop.metadata.first.uri %}
                <span>uri: </span>
                {% if prop.metadata.first.uri_link %}
                    <span class="pr-3">
                        <a href="{{ prop.metadata.first.uri_link }}">{{ prop.metadata.first.uri }}</a>
                    </span>
                {% else %}
                    <span class="has-text-weight-semibold">{{ prop.metadata.first.uri }}</span>
                {% endif %}
            {% endif %}
            {% if prop.metadata.first.source %}
                <span>source: </span>
                <span class="has-text-weight-semibold">{{ prop.metadata.first.source }}</span>
            {% endif %}
        </div>
        <div class="buttons is-right">
            <a href="#" class="button is-primary">
                {% translate "Redaguoti" %}
            </a>
        </div>
        {% if prop.enums.first %}
            <div>
                <h4 class="custom-title is-size-4-mobile no-margin-bottom">{% translate "Reikšmių sąrašas" %}</h4>
                {% for enum_item in prop.enums.first.enumitem_set.all %}
                <div class="mb-3">
                    <div>
                        {% if enum_item.metadata.first.prepare %}
                        <span class="pr-5 has-text-weight-semibold">{{ enum_item.metadata.first.prepare }}</span>
                        {% endif %}

                        {% if enum_item.metadata.first.title %}
                        <span class="has-text-weight-semibold">{{ enum_item.metadata.first.title }}</span>
                        {% endif %}

                    </div>
                    <div class="ml-4">
                        {% if enum_item.metadata.first.source %}
                        <span>source: </span>
                        <span class="has-text-weight-semibold">{{ enum_item.metadata.first.source }}</span>
                        {% endif %}
                    </div>
                    {% if enum_item.metadata.first.description %}
                        <div class="ml-4"><p>{{ enum_item.metadata.first.description | markdown | safe }}</p></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="buttons is-right">
                <a href="#" class="button is-primary">
                    {% translate "Nauja reikšmė" %}
                </a>
            </div>
        {% endif %}
        {% if prop.metadata.first.description %}
        <div><p>{{ prop.metadata.first.description | markdown | safe }}</p></div>
        {% endif %}
    </div>
</div>

<div class="columns no-margin-bottom mt-5">
    <div class="column is-one-quarter"></div>
    <div class="column is-three-quarters">
        {% comments obj=prop user=request.user %}
    </div>
</div>
{% endblock %}
