<nav class="category-panel">
    {% for model in models %}
        <div>
            <span class="has-tooltip-top" data-tooltip="{{ model.name }}">
                {% if is_data %}
                    <a href="{{ model.get_data_url }}" class="category-panel-block">
                {% elif is_api %}
                    <a href="{{ model.get_api_url }}" class="category-panel-block">
                {% else %}
                    <a href="{{ model.get_absolute_url }}" class="category-panel-block">
                {% endif%}

                {% if not show_props and request.resolver_match.kwargs.model == model.name %}
                    <strong><span id="side_menu_elem">{{ model.name }}</span></strong>
                {% else %}
                    <span id="side_menu_elem">{{ model.name }}</span>
                {% endif %}
                </a>
            </span>
        </div>
         {% if show_props and request.resolver_match.kwargs.model == model.name %}
            {% for prop in props %}
                <div>
                    <span class="has-tooltip-top" data-tooltip="{{ prop.name }}">
                        <a href="{{ prop.get_absolute_url }}" class="category-panel-block ml-4">
                        {% if request.resolver_match.kwargs.prop == prop.name %}
                            <strong><span id="side_menu_elem">{{ prop.name }}</span></strong>
                        {% else %}
                            <span id="side_menu_elem">{{ prop.name }}</span>
                        {% endif %}
                        </a>
                    </span>
                </div>
            {% endfor %}
        {% elif is_api and request.resolver_match.kwargs.model == model.name %}
            {% for action, url in actions.items %}
                <div>
                    <span>
                        <a href="{{ url }}" class="category-panel-block ml-4">
                            {% with action|add:"-api" as url_name %}
                                {% if request.resolver_match.url_name == url_name%}
                                    <strong><span id="side_menu_elem">{{ action }}</span></strong>
                                {% else %}
                                    <span id="side_menu_elem">{{ action }}</span>
                                {% endif %}
                            {% endwith %}
                        </a>
                    </span>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</nav>

<script>
     $(document).ready(function() {
        $('span#side_menu_elem').each(function() {
            let width = this.offsetWidth;
            let widthParent = $(this).closest('a').width();
            if ((width - widthParent) < 1) {
                $(this).closest('span.has-tooltip-top').removeAttr('data-tooltip');
            }
        });
    });
</script>