<nav class="category-panel">
    {% for model in models %}
        <div>
            {% if is_data %}
                <a href="{{ model.get_data_url }}" class="category-panel-block">
            {% else %}
                <a href="{{ model.get_absolute_url }}" class="category-panel-block">
            {% endif%}

            {% if not show_props and request.resolver_match.kwargs.model == model.name %}
                <strong>{{ model.name }}</strong>
            {% else %}
                {{ model.name }}
            {% endif %}
            </a>
        </div>
         {% if show_props and request.resolver_match.kwargs.model == model.name %}
            {% for prop in model.get_given_props %}
                <div>
                    <a href="{{ prop.get_absolute_url }}" class="category-panel-block ml-4">
                    {% if request.resolver_match.kwargs.prop == prop.name %}
                        <strong>{{ prop.name }}</strong>
                    {% else %}
                        {{ prop.name }}
                    {% endif %}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</nav>