{% load i18n %}

<div class="tabs">
    <ul>
        <li class="{% if request.path == information_url %} is-active {% endif %}">
            <a href="{{ information_url }}">
                {% translate "Informacija" %}
            </a>
        </li>
        <li class="{% if request.path == structure_url %} is-active {% endif %}">
            <a href="{{ structure_url }}">
                {% translate "Struktūra" %}
            </a>
        </li>
        <li class="{% if request.path == data_url %} is-active {% endif %}">
            <a href="{{ data_url }}">
                {% translate "Duomenys" %}
            </a>
        </li>
    </ul>
</div>