{% extends "base_form.html" %}
{% load i18n %}

{% block current_title %}{% translate "Nauja versija" %}{% endblock %}

{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų rinkiniai' %}</span></a></li>
        <li><a href="{% url 'dataset-detail' dataset.pk %}"><span>{{ dataset.title }}</span></a></li>
        <li><a href="{% url 'dataset-structure' dataset.pk %}"><span>{% translate 'Struktūra' %}</span></a></li>
    </ul>
{% endblock %}

{% block head %}
    <style>
        #div_id_metadata div.control {
		  	margin-bottom: 0.5rem;
		}
		div.control:has(.prop_metadata) {
		    padding-left: 1.5em;
		}
		div.control:has(.enum_metadata) {
		    padding-left: 3.5em;
		}
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            let select = $(`<input type="checkbox" id="select_all"/> <strong id="select_all_label">${gettext("Pažymėti visus")}</strong>`).insertAfter(
                '#div_id_metadata label:not(.checkbox)'
            );

            $('input#select_all').on('click', function(){
                if ($(this).is(':checked')) {
                    $('strong#select_all_label').first().html(gettext("Nežymėti nieko"));
                    $('#div_id_metadata input[id^="id_metadata_"]').each(function(){
                        if (!$(this).is(':disabled')) {
                            $(this).prop("checked", true);
                        }
                    });
                }
                else {
                    $('strong#select_all_label').first().html(gettext("Pažymėti visus"));
                    $('#div_id_metadata input[id^="id_metadata_"]').each(function(){
                        $(this).prop("checked", false);
                    });
                }
            });

            $('.disabled').prev('input').each(function() {
                $(this).prop("disabled", true);
            });
        });
    </script>
{% endblock %}