{% extends "base.html" %}
{% load i18n %}

{% block current_title %}{{ object.topic }}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-three-quarters">
            <article class="media">
                <div class="content">
                    <div class="m-b-sm">
                        {% if object.author_name %}<span>{% translate "Autorius" %}: <i>{{ object.author_name }}</i></span>;{% endif %}
                        <span class="newsitem-date">{% translate "Publikavimo data" %}: <i>{{ object.published|date:"SHORT_DATE_FORMAT" }}</i></span>
                    </div>
                    <div>
                        {% if object.image %}
                            <img src="{{ object.image.url }}" class="image-left newsitem-thumb-image">
                        {% endif %}
                        {{ object.description|safe }}
                    </div>
                     {% if files %}
                        <div class="m-t-sm m-b-sm is-bold">{% translate "Prie mokymo medžiagos pridėti failai" %}:</div>
                        <div>
                            {% for file in files %}
                                <a href="{{ file.file.url }}" download class="button is-primary is-small m-b-xs">{{ file.filename_without_path }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if object.video_url %}
                        <figure>
                            <iframe class="has-ratio" style="width:800px;height:640px" src="https://www.youtube.com/embed/{{ object.video_url }}">
                            </iframe>
                        </figure>
                    {% endif %}
                </div>
                <br/>
                <br/>
            </article>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}