{% extends "base.html" %}
{% load i18n %}

{% block parent_title %}{% translate "Naujienos" %}{% endblock %}
{% block parent_url %}{% url 'djangocms_blog:posts-latest' %}{% endblock %}
{% block current_title %}{{ post.title }}{% endblock %}

{% block parent_links %}
<ul class="p-t-sm">
    <li>
        <a href="{% url 'home' %}">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>{% translate "Pradžia" %}</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="columns">
        <article class="has-margin-bottom">
            {% if post.main_image %}
                <div class="column is-3">
                    <figure>
                        <img class="newsitem-thumb-image" src="{{ post.main_image.url }}" alt="{{ post.title }}" />
                    </figure>
                </div>
            {% endif %}
            <div class="column is-12">
                <div class="content">
                    <div class="m-b-sm">
                        {% if post.author %}<span>{% translate "Autorius" %}: {{ post.author }}</span></br>{% endif %}
                        <span>{% translate "Publikavimo data" %}: {{ post.date_published|date:"SHORT_DATETIME_FORMAT" }}</span>
                    </div>
                    <div>
                        {{ post.post_text }}
                    </div>
                    {% if files %}
                        <div class="m-t-sm m-b-sm is-bold">{% translate "Prie naujienos pridėti failai" %}:</div>
                        <div>
                            {% for file in files %}
                                <a href="{{ file.file.url }}" class="button is-primary is-small m-b-xs">{{ file.file.original_filename }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <br/>
            <br/>
        </article>
    </div>
{% endblock %}
