{% extends "base_form.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <form method="post" id="agreement-create">
                {% csrf_token %}
                {% crispy formset.management_form formset_helper %}
                {% for form in formset %}
                    <div class="multiField">
                        <h5 class="custom-title is-size-5-mobile">{% translate "Organizacija" %}: {{ form.instance }}</h5>
                        {% crispy form form.helper %}
                    </div>
                    <br>
                {% endfor %}
                <div class="field">
                    <div class="control">
                        <input type="submit" name="submit" value="{% translate "Generuoti sutartis" %}" class="btn btn-primary button is-primary" id="submit-id-submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
