{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}

{% block current_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    {% include 'vitrina/projects/tabs.html' with has_perm=can_update_project %}

    <form method="post">
        {% csrf_token %}

{#        <p>#}
{#            <a href="{% url 'agreement-detail' project.pk agreement.pk %}">#}
{#                ← {% translate "Grįžti į sutartį" %}#}
{#            </a>#}
{#        </p>#}
        <br>
        <div class="field">
            <label class="label" for="{{ form.template.id_for_label }}">{{ form.template.label }}</label>
            <div class="control">
                {{ form.template }}
                {% if form.template.help_text %}
                    <p class="help">{{ form.template.help_text }}</p>
                {% endif %}
                {% if form.template.errors %}
                    <p class="help is-danger">{{ form.template.errors }}</p>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label" for="{{ form.other_assigner_legislations.id_for_label }}">
                {{ form.other_assigner_legislations.label }}
            </label>
            <div class="control">
                {{ form.other_assigner_legislations }}
                {% if form.other_assigner_legislations.errors %}
                    <p class="help is-danger">{{ form.other_assigner_legislations.errors }}</p>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label" for="{{ form.other_assignee_legislations.id_for_label }}">
                {{ form.other_assignee_legislations.label }}
            </label>
            <div class="control">
                {{ form.other_assignee_legislations }}
                {% if form.other_assignee_legislations.errors %}
                    <p class="help is-danger">{{ form.other_assignee_legislations.errors }}</p>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label" for="{{ form.payment_terms.id_for_label }}">
                {{ form.payment_terms.label }}
            </label>
            <div class="control">
                {{ form.payment_terms }}
                {% if form.payment_terms.errors %}
                    <p class="help is-danger">{{ form.payment_terms.errors }}</p>
                {% endif %}
            </div>
        </div>

        <div class="buttons is-left">
            <button type="submit" class="button is-primary">{% translate "Generuoti" %}</button>
        </div>
    </form>
{% endblock %}
