{% extends "vitrina/agreements/base_agreement_list.html" %}
{% load i18n %}
{% load util_tags %}

{% block agreement_tabs %}
    {% include 'vitrina/projects/tabs.html' %}
{% endblock %}

{% block agreement_actions %}
    {% if can_create_agreements %}
        <div class="buttons is-right">
            <a class="button is-primary m-t-xs m-b-lg"
               href="{% url 'project-agreement-create' project.pk %}">
                {% translate "Generuoti sutartis" %}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block agreement_table_head %}
    <tr>
        <th>{% translate "Duomenis teikianti organizacija" %}</th>
        <th>{% translate "Būsena" %}</th>
        <th>{% translate "Paskutinės sinchronizacijos data" %}</th>
        <th>{% translate "Veiksmai" %}</th>
    </tr>
{% endblock %}

{% block agreement_table_row %}
    <tr>
        <td>{{ agreement.assigner }}</td>

        <td>
            {{ agreement.get_status_display }}
            <span class="icon info-icon has-tooltip-multiline is-middle"
                  data-tooltip="{{ agreement_status_descriptions|get_item:agreement.status }}">
                <i class="fas fa-info-circle"></i>
            </span>
        </td>

        <td>
            {% if agent.last_sync_data %}
                {{ agent.last_sync_data|date:"Y-m-d H:i" }}
            {% else %}
                -
            {% endif %}
        </td>

        <td>
            <a href="{% url 'project-agreement-detail' project.pk agreement.pk %}">
                {% translate "Peržiūrėti" %}
            </a>
        </td>
    </tr>
{% endblock %}
