{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}

{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'dataset-list' %}"><span>{% translate 'Duomenų ištekliai' %}</span></a></li>
        <li><a href="{{ resource.dataset.get_absolute_url }}"><span>{{ resource.dataset.title }}</span></a></li>
        <li><a href="{{ resource.dataset.get_absolute_url }}#resources"><span>{% translate 'Duomenų pateiktys' %}</span></a></li>
    </ul>
{% endblock %}
{% block current_title %}{{ resource.title }}{% endblock %}

{% block content %}

	{% include 'vitrina/datasets/tabs.html' %}

    <div class="columns no-margin-bottom">
         <div class="column is-full">
            {% if can_update %}
                <div class="buttons is-right">
                    {% if resource.metadata_version %}
                        <a href="{% url 'resource-change' pk=resource.pk version_id=resource.metadata_version.pk %}"
                           class="button is-primary is-normal m-t-md is-size-6-mobile{% if is_disabled %} is-disabled{% endif %}"
                           {% if is_disabled %}
                               style="pointer-events: none; opacity: 0.5;"
                               aria-disabled="true"
                           {% endif %}>
                            {% translate "Redaguoti" %}
                        </a>
                    {% else %}
                        <a href="{% url 'resource-change-no-version' pk=resource.pk %}" class="button is-primary is-normal m-t-md is-size-6-mobile">
                            {% translate "Redaguoti" %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            <div class="content">
                <div class="mb-3">
                    <span class="is-size-6">
                        {% if resource.is_external_url %}
                            <i class="fas fa-lg fa-file-export"></i>
                        {% else %}
                            <i class="fas fa-lg fa-file-code"></i>
                        {% endif %}
                    </span>

                    {% if resource.file %}
                        <a href="{% url 'dataset-distribution-download' pk=resource.dataset.pk distribution_id=resource.id %}">
                            {% translate "Atsisiųsti pateiktį" %}
                        </a>
                    {% elif resource.download_url or resource.access_url %}
                        <a href="{% url 'dataset-distribution-download' pk=resource.dataset.pk distribution_id=resource.id %}" target="_blank">
                            {% translate "Atidaryti pateiktį" %}
                        </a>
                    {% endif %}
                </div>

                {% if resource.description %}
                <div class="columns">
                    <div class="column is-three-quarters">
                        <p class="no-margin-bottom">{{ resource.description | linebreaks }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="columns">
                    <div class="column is-three-quarters">
                        <table class="table is-fullwidth has-border-bottom th-40 no-margin-bottom custom-table-padding">
                            <tbody>
                                <tr>
                                    <th>{% translate "Teritorija" %}</th>
                                    <td>{{ resource.geo_location|default:"" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate "Periodo pradžia" %}</th>
                                    <td>{{ resource.period_start|default:""|date:"SHORT_DATE_FORMAT" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate "Periodo pabaiga" %}</th>
                                    <td>{{ resource.period_end|default:""|date:"SHORT_DATE_FORMAT" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate "Dydis" %}</th>
                                    <td>{{ resource.size|default:"" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate "Formatas" %}</th>
                                    <td>{{ resource.get_format|default:"" }}</td>
                                </tr>

                                {% if resource.temporal_resolution %}
                                <tr>
                                    <th>{% translate "Laiko skiriamoji geba (sekundėmis)" %}</th>
                                    <td>{{ resource.temporal_resolution }}</td>
                                </tr>
                                {% endif %}

                                {% if resource.spatial_resolution %}
                                <tr>
                                    <th>{% translate "Erdvinė skiriamoji geba (metrais)" %}</th>
                                    <td>{{ resource.spatial_resolution }}</td>
                                </tr>
                                {% endif %}
                                {% if resource.status %}
                                <tr>
                                    <th>{% translate "Statusas" %}</th>
                                    <td>
                                        {{ resource.status.translated_label }}
                                    </td>
                                </tr>
                                {% endif %}

                                {% if resource.compression_format %}
                                <tr>
                                    <th>{% translate "Suspausto failo formatas" %}</th>
                                    <td>{{ resource.compression_format }}</td>
                                </tr>
                                {% endif %}
                                {% if resource.packaging_format %}
                                <tr>
                                    <th>{% translate "Suspausto failų paketo formatas" %}</th>
                                    <td>{{ resource.packaging_format }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>{% translate "Publikuota" %}</th>
                                    <td>{{  resource.created|default:""|date:"SHORT_DATE_FORMAT" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate "Atnaujinta" %}</th>
                                    {% if resource.dataset.frequency.hours == 0 %}
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% if LANGUAGE_CODE == "EN" %}
                                            <td>{{dataset.frequency.title_en}}</td>
                                        {% else %}
                                            <td>{{dataset.frequency.title}}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ resource.modified|default:""|date:"SHORT_DATE_FORMAT" }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>{% translate "Publikuojamas saugykloje" %}</th>
                                    <td>
                                        {% if resource.upload_to_storage %}
                                        {% translate "Taip" %}
                                        {% else %}
                                        {% translate "Ne" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if resource.licence %}
                                <tr>
                                    <th>
                                        {% translate "Licencija" %}
                                        <span class="icon info-icon has-tooltip-multiline is-middle"
                                              data-tooltip="{% translate 'Ši savybė nurodo licenciją, pagal kurią platinama duomenų paslauga' %}">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </th>
                                    <td>
                                        <a href="{{ resource.licence.url }}" target="_blank"
                                           title="{{ resource.licence.description }}">{{ resource.licence.title }}</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if resource.conditions %}
                                    <tr>
                                        <th>
                                            {% translate "Teisės - Aprašymas" %}
                                            <span class="icon info-icon has-tooltip-multiline is-middle"
                                                  data-tooltip="{% translate 'Laisvu tekstu pateikiamas teisių deklaracijos aprašymas. Atitinka dct:rights.' %}">
                                              <i class="fas fa-info-circle"></i>
                                            </span>
                                        </th>
                                        <td>{{ resource.conditions|linebreaks }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.rights_relation %}
                                    <tr>
                                        <th>
                                            {% translate "Teisės - Susijęs dokumentas" %}
                                            <span class="icon info-icon has-tooltip-multiline is-middle"
                                                  data-tooltip="{% translate 'Teisių deklaracijos nuoroda. Atitinka dct:rights / dct:relation.' %}">
                                              <i class="fas fa-info-circle"></i>
                                            </span>
                                        </th>
                                        <td>
                                            <a href="{{ resource.rights_relation }}" target="_blank">
                                              {{ resource.rights_relation }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if resource.applicable_legislation.exists %}
                                    <tr>
                                        <th>{% translate "Teisinis pagrindas" %}</th>
                                        <td>
                                            <ul>
                                                {% for legislation in resource.applicable_legislation.all %}
                                                    <li><a href="{{ legislation.url }}" target="_blank" title="{{ legislation }}">{{ legislation|truncatechars:30 }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                        </table>
                    </div>
                </div>
            </div>

             {% if resource.is_parameterized %}
                {% include 'vitrina/structure/params.html' %}
             {% endif %}

             <div>
                 <h4 class="custom-title is-size-4-mobile">{% translate "Modeliai" %}</h4>
                 <div class="mb-5">
                     {% if models %}
                         <table class="table is-striped is-hoverable is-fullwidth no-margin-bottom table-smaller-padding" id="resource-table">
                            <thead>
                                <tr>
                                    <th>{% translate "Pavadinimas" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for model in models %}
                                    <tr>
                                        <td><a href="{{ model.get_absolute_url }}">
                                            {% if model.title %}
                                                {{ model.title }}
                                            {% else %}
                                                {{ model.name }}
                                            {% endif %}
                                        </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     {% else %}
                        <p>{% translate "Modelių nėra." %}</p>
                     {% endif %}
                 </div>
                 {% if can_update %}
                    <div class="buttons is-right">
                        {% if structure_acceptable %}
                            {% if resource.metadata_version %}

                                <a href="{% url 'resource-model-create' resource.dataset.pk resource.metadata_version.pk resource.pk %}"
                                   class="button is-primary is-normal m-t-md is-size-6-mobile">
                                    {% translate "Nuskaityti struktūrą" %}
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if resource.metadata_version %}
                            <a href="{% url 'resource-model-create' resource.dataset.pk resource.metadata_version.pk resource.pk %}"
                               class="button is-primary is-normal m-t-md is-size-6-mobile{% if is_disabled %} is-disabled{% endif %}"
                               {% if is_disabled %}
                                   style="pointer-events: none; opacity: 0.5;"
                                   aria-disabled="true"
                               {% endif %}>
                                {% translate "Naujas modelis" %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
             </div>

             <div class="columns">
                <div class="column is-three-quarters">
                    {% comments obj=resource user=request.user %}
                </div>
             </div>
        </div>
	</div>
{% endblock %}
