{% extends "base.html" %}
{% load i18n cms_tags easy_thumbnails_tags %}

{% block current_title %}{{ post_content.title }}{% endblock %}

{% block parent_links %}
<ul class="p-t-sm">
    <li>
        <a href="{% url 'home' %}">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>{% translate "Pradžia" %}</span>
        </a>
    </li>
    <li>
        <a href="{% url 'djangocms_stories:posts-latest' %}">
            <span>{% translate "Naujienos" %}</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="columns">
        <article class="has-margin-bottom">
            {% if post_content.post.main_image %}
                <div class="column is-3">
                    <figure>
                        <img class="newsitem-thumb-image" src="{{ post_content.post.main_image.url }}" alt="{{ post_content.title }}" />
                    </figure>
                </div>
            {% endif %}
            <div class="column is-12">
                <div class="content">
                    <div class="m-b-sm">
                        {% if post_content.post.author %}<span>{% translate "Autorius" %}: {{ post_content.post.author }}</span></br>{% endif %}
                        <span>{% translate "Publikavimo data" %}: {{ post_content.date_published|date:"SHORT_DATETIME_FORMAT" }}</span>
                    </div>
                    <div>
                        {% if post_content.post.app_config.use_placeholder %}
                            {% placeholder "content" %}
                        {% else %}
                            {{ post_content.post_text|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </article>
    </div>
{% endblock %}
