{% load i18n %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% translate "Pradinis" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% translate "Atgal" %}</a>
        {% endif %}

        <span class="current">
            {% blocktranslate with number=page_obj.number total=page_obj.paginator.num_pages %}
                Puslapis {{ number }} iš {{ total }}.
            {% endblocktranslate %}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{% translate "Pirmyn" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "Paskutinis" %} &raquo;</a>
        {% endif %}
    </span>
</div>
