{% extends "base.html" %}
{% load i18n parler_tags %}
{{form.meida}}
{% block current_title %}{{ current_title }}{% endblock %}
{% block object_title %}{{ object_title }}{% endblock %}

{% if parent_links %}
    {% block parent_links %}
        <ul class="p-t-sm">
            {% for link, title in parent_links.items %}
                <li>
                    <a href="{{ link }}">
                    {% if title == "Pradžia" %}
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                    {% endif %}
                        <span>{{ title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
{% else %}
    {% block parent_title %}{{ parent_title }}{% endblock %}
    {% block parent_url %}{{ parent_url }}{% endblock %}
{% endif %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            {% if validlink %}
                {% include "component/form.html" %}
            {% else %}
                <p>{% translate "Slaptažodžio atstatymo nuoroda klaidinga, taip gali būti dėl to, kad nuoroda jau buvo kartą panaudota. Prašome pakartoti slaptažodžio atstatymą." %}</p>
            {% endif %}
        </div>
    </div>
    <br/>
{% endblock %}