{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block current_title %}{% translate "Naudotojo profilis" %}{% endblock %}

{% block notification %}
    {% if notification %}
        <div id="top-bar">
            <p>{% translate "notification.type" %}<span class="is-pulled-right message-close-button"
                                                       onClick="HideMessage()">X</span></p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-fifth">
            <span class="icon is-large is-pulled-right">
                <i class="fas fa-user fa-3x"></i>
            </span>
        </div>
        <div class="column is-half">
            <div class="field" style="display: flex;">
                <h1 class="title">{{ user.first_name }} {{ user.last_name }}</h1>
            </div>

            <div class="columns">
                <div class="column is-one-third has-text-right">
                    <strong>{% translate "Užsiregistravo prieš" %}</strong>
                </div>
                <div class="column">
                    {{ user.created|timesince }}
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-third has-text-right">
                    <strong>{% translate "Prisijungė prieš" %}</strong>
                </div>
                <div class="column">
                    {{ user.last_login|timesince }}
                </div>
            </div>

            {% if user.email %}
            <div class="columns">
                <div class="column is-one-third has-text-right">
                    <strong>{% translate "El. paštas" %}</strong>
                </div>
                <div class="column">
                    {{ user.email|urlize }}
                </div>
            </div>
            {% endif %}

            {% if user.phone %}
            <div class="columns">
                <div class="column is-one-third has-text-right">
                    <strong>{% translate "Telefonas" %}</strong>
                </div>
                <div class="column">
                    {{ user.phone }}
                </div>
            </div>
            {% endif %}

            {% if user.organization %}
            <div class="columns">
                <div class="column is-one-third has-text-right">
                    <strong>{% translate "Organizacija" %}</strong>
                </div>
                <div class="column">
                    <a href="{{ user.organization.get_absolute_url }}">{{ user.organization }}</a>
                </div>
            </div>
            {% endif %}

            {% if can_edit_profile %}
            <div class="columns">
                <div class="column is-one-third has-text-right"></div>
                <div class="column">
                    <a href="{%url 'user-profile-change' pk=user.id %}"
                       class="button is-primary is-normal is-size-6-mobile"
                       id="change_profile">
                        {% translate "Keisti duomenis" %}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {#</section>#}
    <br/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function HideMessage() {
            var notificationBar = document.getElementById('top-bar');
            notificationBar.classList.add('is-hidden');
        }

        $(document).ready(function () {
            $('.pass-input').hover(function () {
                $(this).attr('type', 'text');
            }, function () {
                $(this).attr('type', 'password');
            })
        })
    </script>
{% endblock %}
