{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block current_title %}{% translate "Naudotojo registracija" %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-half">
        {% include "component/form.html" %}
        <br/>
        <div class="terms-div is-hidden">
            <p><b>{% translate "Privatumo politika" %}</b></p>
            <p>{% translate "Bet kokia informacija, kurią pateikiate naudodamiesi šia interneto svetaine arba elektroniniu paštu, yra laikoma konfidencialia ir prieigą prie šios informacijos turi tik data.gov.lt. Bet kokią iš jūsų gautą informaciją portalas naudos tik pagal paskirtį." %}</p>
            <p><a href="{% url 'policy' %}">{% translate "Plačiau apie privatumo politiką" %}</a></p>
        </div>
    </div>
    <div class="column is-one-quarter"></div>
</div>
{% endblock %}

{% block scripts %}
    {% translate "naudojimo sąlygomis" as terms_of_use %}
    <script type="text/javascript">
        $(function () {
            let termsOfUse = '{{ terms_of_use }}';
            let agree_to_terms_label =  $('#div_id_agree_to_terms').find('label');
            agree_to_terms_label.append($( `<a id="btn-terms">${termsOfUse}</a>` ));

            $('#btn-terms').click(function () {
                $('.terms-div').toggleClass('is-hidden');
            });
        });

        function onCaptchaClick () {
            var button = $('input#submit-id-submit');
            button.prop('disabled', false);
        }

        function onCaptchaExpire () {
            var button = $('input#submit-id-submit');
            button.prop('disabled', true);
        }
    </script>
{% endblock %}