{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Lietuvos atvirų duomenų portalas{% block pageTitle %}{% endblock %}</title>
    <meta name="description" content="{% block pageDescription %}Atvirų duomenų portalas - tai vieningas prieigos taškas prie visų Lietuvoje atvertų duomenų rinkinių ir suteikiantis technologines priemones atvirų duomenų tiekėjams parengti ir publikuoti atvertų duomenų rinkinių metaduomenis.{% endblock %}">
    <meta name="keywords" content="{% block pageKeywords %}atviri duomenys, duomenų rinkiniai, atvirų duomenų portalas{% endblock %}">
    <meta name="author" content="{% block pageAuthor %}Informacinės visuomenės plėtros komitetas{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Lietuvos atvirų duomenų portalas{% block pageOgTitle %}{% endblock %}" />
    <meta property="og:type" content="{% block pageOgType %}website{% endblock %}" />
    <meta property="og:description" content="{% block pageOgDescription %}Atvirų duomenų portalas - tai vieningas prieigos taškas prie visų Lietuvoje atvertų duomenų rinkinių ir suteikiantis technologines priemones atvirų duomenų tiekėjams parengti ir publikuoti atvertų duomenų rinkinių metaduomenis.{% endblock %}" />

    <link type="text/css" href="{% static 'css/bundle.css' %}" rel="stylesheet" media="screen">
    <script defer src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
        $ = window.jquery.$;
        jQuery = window.jquery.$;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="{% url 'javascript-catalog' %}"></script>

    {% include "component/favicon.html" %}
    {% block head %}{% endblock %}
    {% if cssOverride %}
        <style>
            {{ cssOverride }}
        </style>
    {% endif %}

    {% block before_render_css %}{% endblock %}
    {% render_block "css" %}
    {% block after_render_css %}{% endblock %}
</head>
<body {% if stagingEnv %}class="contains-warning-border"{% endif %}>
{% block warning %}
    {% if stagingEnv %}
        <div id="top-bar" class="is-warning-bar">
            <p>"testingEnvironment"</p>
        </div>
    {% endif %}
{% endblock %}
{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %} <li class="{{ message.tags }}" id="message-list-{{ forloop.counter }}"> {% else %} <li> {% endif %}
                    {{ message }}
                    <span class="is-pulled-right message-close-button" onClick="HideMessage({{ forloop.counter }})">X</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}
<header>
    {% include "component/navbar.html" %}
</header>


{% block before_cms_toolbar %}{% endblock %}
{% cms_toolbar %}
{% block after_cms_toolbar %}{% endblock %}

{% block root %}
    <section class="section">
        <div class="container">

            {% block breadcrumbs %}
                <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                    <div class="container needs-padding">
                        {% block parent_links %}
                            {% if parent_links %}
                                <ul class="p-t-sm">
                                    {% for link, title in parent_links.items %}
                                        <li><a href="{{ link }}"><span>{{ title }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <ul class="p-t-sm">
                                    <li><a href="{% block parent_url %}{% endblock %}"><span>{% block parent_title %}{% endblock %}</span></a></li>
                                </ul>
                            {% endif %}
                        {% endblock %}
                        <span class="breadcrumbs-current is-size-5-mobile">{% block current_title %}{% endblock %}</span>
                    </div>
                </nav>
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% include "component/footer.html" %}

{% block before_render_js %}{% endblock %}
{% render_block "js" %}
{% block after_render_js %}{% endblock %}
<script type="text/javascript">
    function openMenu() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#navbarBasic');
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
    }
    function HideMessage(counter){
          var notificationBar = document.getElementById('message-list-' + counter);
          notificationBar.classList.add('is-hidden');
    }
</script>
{% block scripts %}{% endblock %}
</body>
</html>
