{% extends "base.html" %}
{% load i18n parler_tags %}
{{ form.media }}
{% block current_title %}
    {% include "component/page_title.html" %}
{% endblock %}
{% block object_title %}{{ object_title }}{% endblock %}


{% block parent_links %}
    {% include "component/breadcrumbs.html" %}
{% endblock %}


{% block content %}
    {% if tabs %}
        {% include tabs %}
    {% endif %}
    <div class="columns is-centered">
        <div class="column is-half">
            {% if form_info %}
                {{ form_info }}
            {% endif %}
            {% include "component/form.html" %}
        </div>
    </div>
    <br/>
{% endblock %}

{% block head %}
<style>
    .select2-container {
        min-height: 80px;
    }

</style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').on('select2:open', function (e) {
                setTimeout(function() {
                    $( "li.select2-results__option" ).each(function() {
                        var title = $(this).text();
                        $(this).attr("aria-labelledby", title);
                    });
                }, 500);
            });
        });

        $(document).on('keyup', '.select2-search__field', function (e) {
            setTimeout(function() {
                $( "li.select2-results__option" ).each(function() {
                    var title = $(this).text();
                    $(this).attr("aria-labelledby", title);
                });
            }, 500);
        });
    </script>
{% endblock %}