{% extends "base.html" %}
{% load i18n %}

{% block current_title %}{{ current_title }}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-half">
            <form id="confirm-form" method="post">
                {% csrf_token %}
                <strong>
                    <p >{% translate "Ar tikrai norite atmesti" %} "{{ object }}"?</p>
                     <br/>
                </strong>

                <a href="#" onclick="window.history.back(); return false;" class="button is-link">{% translate 'Atšaukti' %}</a>
                <input class="button is-primary" type="submit" value="{% translate 'Atmesti' %}">
            </form>
        </div>
    </div>
    <br/>
{% endblock %}
