{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
<div class="u-flex-between-center-full">
    <span>{% translate "Veiksmų istorija" %}</span>
    {% if versions %}
        {% include "version_picker.html" with url_name="dataset-structure-history" dataset=dataset versions=versions selected_version=selected_version %}
    {% endif %}
</div>
{% endblock %}

{% block content %}

	{% include tabs_template_name %}

    <div class="columns">
        <div class="column is-three-quarters">
            {% if history %}
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <th>{% translate "Data/laikas" %}</th>
                        <th>{% translate "Naudotojas" %}</th>
                        <th>{% translate "Veiksmas" %}</th>
                    </tr>
                    {% for history_row in history %}
                        <tr>
                            <td>{{ history_row.date|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ history_row.user|default_if_none:"-" }}</td>
                            <td>
                                {{ history_row.action.comment|default_if_none:"-" }}
                                <div class="content">
                                    <ul>
                                        {% for repr, url in history_row.action.objects %}
                                            <li>
                                                {% if url %}
                                                    <a href="{{url}}">{{ repr }}</a>
                                                {% else %}
                                                    {{ repr }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "vitrina/common/pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
