{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <span>{% translate "Veiksmų istorija" %}</span>

    {% if versions %}
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>
                    {% if not selected_version %}
                        {% translate "Pasirinkite versiją" %}
                    {% elif selected_version.external_version %}
                        {% translate "Versija" %}: {{ selected_version.external_version }}
                    {% else %}
                        {% translate "Versija: Juodraštis" %}
                    {% endif %}
                </span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
            {% for version in versions %}
                <a href="{% url 'dataset-structure-history' dataset.pk version.pk %}" class="dropdown-item">
                    {% if version.external_version %}
                        {{ version.external_version }}
                    {% else %}
                        {% translate "Juodraštis" %}
                    {% endif %}
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}

	{% include tabs_template_name %}

    <div class="columns">
        <div class="column is-three-quarters">
            {% if history %}
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <th>{% translate "Data/laikas" %}</th>
                        <th>{% translate "Naudotojas" %}</th>
                        <th>{% translate "Veiksmas" %}</th>
                    </tr>
                    {% for h in history %}
                        <tr>
                            <td>{{ h.date|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ h.user|default_if_none:"-" }}</td>
                            <td>{{ h.action|default_if_none:"-" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
