{% load menu_tags %}

{# Rendering is not recursive, we're rendering everything together - level 0 as navbar, level 1 as item dropdown #}

{% for page, children in pages.items %}
    {% if children %}
        <div class="navbar-item has-dropdown is-hoverable {% if page.selected %} selected{% endif %}">
            <a href="{{ page.get_redirect|default:page.get_absolute_url }}"
               class="navbar-link">{{ page.get_menu_title }}</a>
            <div class="navbar-dropdown">
                {% for cc in children %}
                    <a href="{{ cc.item.get_redirect|default:cc.item.get_absolute_url }}"
                       class="navbar-item">{{ cc.item.get_menu_title }}</a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{{ page.get_redirect|default:page.get_absolute_url }}"
           class="navbar-item {% if page.selected %} selected{% endif %}">{{ page.get_menu_title }}</a>
    {% endif %}
{% endfor %}