{% extends "base_form.html" %}
{% load i18n %}
{% load markdown_tags %}

{% block content %}
    {% block tabs %}{% endblock %}

    <div class="columns is-centered">
        <div class="column is-half has-background-white-ter p-4">

            <h3 class="title is-3 has-text-weight-semibold mb-5">
                {% trans "Sutarties derinimo informacija" %}
            </h3>

            <h3 class="title is-5 has-text-weight-semibold mb-3">
                {% trans "Duomenų ištekliai" %}:
            </h3>
            <div class="ml-5 mb-4">
                {% if datasets %}
                    <ul>
                        {% for dataset in datasets %}
                            <li class="mb-2">
                                <a href="{% url 'dataset-detail' dataset.pk %}" target="_blank"
                                   class="has-text-link is-inline-flex is-align-items-center">
                                    <span>{{ dataset.title }}</span>
                                    <span class="icon is-small ml-1 is-inline-flex is-align-items-center">
                                        <i class="fas fa-external-link-alt"></i>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="has-text-grey">
                        {% trans "Nėra susietų duomenų išteklių." %}
                    </p>
                {% endif %}
            </div>

            <h3 class="title is-5 has-text-weight-semibold mb-3">
                {% trans "Duomenų gavimo tikslas" %}:
            </h3>
            <div class="content ml-5 mb-4">
                {% block description %}
                    {{ project.description|markdown|safe }}
                {% endblock %}
            </div>

            <h3 class="title is-5 has-text-weight-semibold mb-3">
                {% trans "Duomenų gavimo teisinis pagrindas" %}:
            </h3>
            <div class="content ml-5 mb-4">
                {% block other_legislation %}
                    {{ project.other_assignee_legislations|markdown|safe }}
                {% endblock %}
            </div>

            {% if agreement.status in "SUBMITTED APPROVED FORMED INITIATED" %}
                <h3 class="title is-5 has-text-weight-semibold mb-3">
                    {% trans "Duomenų gavėjo atstovas" %}:
                </h3>
                <div class="ml-5 mb-4">
                    {% block agreement.assignee_representative %}
                        {% if agreement.assignee_representative %}
                            <ul>
                                <li class="mb-2">{{ agreement.assignee_representative }}</li>
                            </ul>
                        {% else %}
                            <p class="has-text-grey">
                                {% trans "Nėra pasirinktas duomenų gavėjo atstovas." %}
                            </p>
                        {% endif %}
                    {% endblock %}
                </div>

                {% if agreement.status in "APPROVED FORMED INITIATED" %}
                    <h3 class="title is-5 has-text-weight-semibold mb-3">
                        {% trans "Duomenų teikėjo atstovas" %}:
                    </h3>
                    <div class="ml-5 mb-4">
                        {% block agreement.assigner_representative %}
                            {% if agreement.assigner_representative %}
                                <ul><li class="mb-2">{{ agreement.assigner_representative }}</li></ul>
                            {% else %}
                                <p class="has-text-grey">
                                    {% trans "Nėra pasirinktas duomenų teikėjo atstovas." %}
                                </p>
                            {% endif %}
                        {% endblock %}
                    </div>

                    <h3 class="title is-5 has-text-weight-semibold mb-3">
                        {% trans "Duomenų teikimo teisinis pagrindas (prievolė)" %}:
                    </h3>
                    <div class="content ml-5 mb-4">
                        {% block agreement.other_assigner_legislations %}
                            {{ agreement.other_assigner_legislations|markdown|safe }}
                        {% endblock %}
                    </div>

                    <h3 class="title is-5 has-text-weight-semibold mb-3">
                        {% trans "Sutarties šablonas" %}:
                    </h3>
                    <div class="ml-5 mb-4">
                        {% if agreement.template and agreement.template.file %}
                            <ul>
                                <li class="mb-2">
                                    <a href="{{ agreement.template.file.url }}" target="_blank" class="has-text-link">
                                        {{ agreement.template.file.name }}
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <p class="has-text-grey">{% trans "Šablono failas nepridėtas." %}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ block.super }}
{% endblock %}
