{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block current_title %}{% translate "Informacija duomenų teikėjo registravimui" %}{% endblock %}

{% block content %}
  <p>{% translate "Duomenų teikėjais gali būti tiek valstybinio, tiek privataus sektoriaus atstovai." %}</p>
  <p>{% translate "Prieš registruojantis, jūsų organizacijos atstovas turėtu užpildyti Raštą dėl koordinatoriaus paskyrimo." %}</p>
  <p>{% translate "Šį raštą turėtu pasirašyti jūsų organizacijos, padalinio ar skyriaus vadovas. Elektroniniu būdu pasirašytas raštas ADOC formatu turi būti pateikiamas pildant registracijos" %} <a href="https://data.gov.lt/file/9f12acd4-d9ee-423d-85a1-667e52b67941">formą</a>.</p>
<br>
{% if request.user.email %}
  <h1 class="has-text-danger">{% translate "Dėmesio:" %}</h1>
  <p>{% translate "Prieš pradedant registraciją įsikinkite, kad naudojat organizaciją atstovaujančio juridinio asmens profilį viisp sistemoje." %}</p>
  <p>{% translate "Prieš pradedant registraciją įsikinkite, kad jūsų data.gov profilio el.paštas sutampa su viisp sistemoje esančio profilio el.paštu. Jį galima koreguoti." %}</p>
  <br>
{% endif %}
  <p>
    <a id="partner-register" href="{% url 'partner-register' %}" class="button is-small is-primary">{% translate "Tęsti" %}</a>
</p>
{% endblock %}
