{% extends "base_form.html" %}
{% load i18n %}

{% block before_render_css %}{% include "component/before_comment.html" %}{% endblock %}
{% block after_render_css %}{% include "component/after_comment.html" %}{% endblock %}

{% block before_cms_toolbar %}{% include "component/before_comment.html" %}{% endblock %}
{% block after_cms_toolbar %}{% include "component/after_comment.html" %}{% endblock %}

{% block before_render_js %}{% include "component/before_comment.html" %}{% endblock %}
{% block after_render_js %}{% include "component/after_comment.html" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <style nonce="{{ request.csp_nonce }}">
        #div_id_request_form label span.asterisk {
            display: none;
        }
    </style>
{% endblock %}

{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            {% translate 'Pradžia' %}
        </span></a></li>
    </ul>
{% endblock %}
{% block current_title %}{% translate "Naujo duomenų teikėjo registravimas" %}{% endblock %}
