.show-mobile {
  display: none;
}

@media (max-width: 961px) {
  .container.needs-padding {
    padding: 0.75rem;
  }
  .show-mobile {
    display: block;
  }
  //.hero-text-block {
  //  font-size: 1rem !important;
  //}
  //.hero-text-button {
  //  font-size: 0.8rem !important;
  //}
  .request-block-left,
  .request-block-right {
    font-size: 1rem !important;
  }
  .pagination {
    margin-bottom: 15px;
  }
  .media-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

//@media (min-width: 768px) and (max-width: 1024px) {
//  .hero-text-block {
//    font-size: 1.25rem !important;
//  }
//  .hero-text-button {
//    font-size: 1rem !important;
//  }
//}

//@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//  .request-block-left,
//  .request-block-right {
//    font-size: 0.8rem !important;
//  }
//}

@media(max-width: 767px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}