{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
    {% translate "Prenumerata atšaukta" %}
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box has-text-centered">
                <div class="icon is-large has-text-info mb-4">
                    <i class="fas fa-check fa-3x"></i>
                </div>

                <h2 class="title is-3 has-text-info">
                    {% translate "Prenumerata sėkmingai atšaukta" %}
                </h2>

                <div class="content">
                    <p class="is-size-5">
                        {% translate "Šiuo el. paštu nebegausite naujienlaiškio." %}
                    </p>

                    <p>
                        {% translate "Dėkojame, kad buvote su mumis!" %}
                    </p>
                </div>

                <hr>

                <div class="buttons is-centered">
                    <a href="/" class="button is-primary">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>{% translate "Grįžti į pagrindinį puslapį" %}</span>
                    </a>
                </div>

                <div class="notification is-light mt-4">
                    <div class="content">
                        <p class="has-text-weight-semibold">
                            {% translate "Norėtumėte vėl prenumeruoti?" %}
                        </p>
                        <p class="is-size-7">
                            {% translate "Jei pakeisite nuomonę, galėsite bet kada prenumeruoti iš naujo mūsų svetainėje." %}
                        </p>
                    </div>
                </div>

                <div class="content mt-4">
                    <p class="is-size-7 has-text-grey">
                        {% translate "Jei turite klausimų ar pasiūlymų, susisiekite su mumis:" %}
                        <a href="mailto:atviriduomenys@vssa.lt">atviriduomenys@vssa.lt</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}