<h3>{{ title }}</h3>
{% if items|length > 0 %}
    <table class="table is-fullwidth custom-table-padding td-30">
        <tbody>
        {% for site in items %}
            <tr>
                <td>{% if site.image %}<a href="{{ site.url }}" target="_blank"><img class="externalsite-thumb-image" src="{{ site.image.url }}" alt="{{ site.title }}"></a>{% endif %}</td>
                <td class="is-middle">{{ site.title }}</td>
                <td class="is-middle"><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

