<h2>{{ title }}</h2>
{% if items|length > 0 %}
    <div class="u-pb-30">
        {% for site in items %}
            <div class="row">
                <div class="cell">
                    {% if site.image %}
                    <a href="{{ site.url }}" target="_blank">
                        <img class="u-maxh-96" src="{{ site.image.url }}" alt="{{ site.title }}">
                    </a>
                    {% endif %}
                </div>
                <div class="cell is-middle">{{ site.title }}</div>
                <div class="cell is-middle"><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></div>
            </div>
        {% endfor %}
    </div>
{% endif %}

