{% extends "base.html" %}
{% load i18n %}

{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% load static %}
{% load sass_tags %}

{% block current_title %}{% page_attribute "page_title" %}{% endblock %}

{% block parent_links %}
<ul class="p-t-sm">
    <li>
        <a href="{% url 'home' %}">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>{% translate "Pradžia" %}</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="columns">
        {% placeholder "side_menu" %}
        <div class="column is-three-quarters">
            <div class="content m-b-md">
                {% placeholder "body" %}
            </div>
        </div>
    </div>
{% endblock %}