{% load cms_tags %}

<div class="column is-one-quarter">
    <article class="panel m-b-md">
        {% page_attribute "page_title" as current_title %}
        <h1 class="panel-heading">
            <a href="{{ parent.item.get_redirect|default:parent.item.get_absolute_url }}">{{ parent.item.get_title }}</a>
        </h1>
        <nav class="category-panel">
            {% for child in children %}
                <a class="panel-block {% if current_title == child.item.get_title %} is-active {% endif %}"
                   href="{{ child.item.get_redirect|default:child.item.get_absolute_url }}">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    {{ child.item.get_title }}
                </a>
            {% endfor %}
        </nav>
    </article>
</div>