{% extends "base.html" %}
{% load i18n %}

{% block current_title %}
{% translate "Organizacijos narių sąrašas" %}
{% endblock %}

{% block content %}

	{% include 'vitrina/orgs/tabs.html' %}

    <div class="buttons is-right">
        {% if has_permission %}
            <a class="button is-primary m-t-xs m-b-lg"
               href="{% url 'contact-create' request.resolver_match.kwargs.pk %}">
                {% translate "Pridėti kontaktą" %}
            </a>
        {% endif %}
        {% if has_dcat_wizard_permissions %}
            <a class="button is-primary m-t-xs m-b-lg"
               href="{% url 'dcat-contact-create' request.resolver_match.kwargs.pk %}">
                {% translate "Pridėti kontaktinę informaciją" %}
            </a>
        {% endif %}
    </div>
    {% if contacts %}
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <th>{% translate "Kontaktas" %}</th>
                <th>{% translate "Pareigos organizacijoje" %}</th>
                <th>{% translate "El. paštas" %}</th>
                <th>{% translate "Telefonas" %}</th>
                <th>{% translate "Tipas" %}</th>
                {% if has_permission %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% for c in contacts %}
                <tr>
                    <td>{{ c }}</td>
                    <td>
                        {% if c.position %}
                            {{ c.position }}
                        {% else %}
                            -       
                        {% endif %}
                    </td>
                    <td><a href="mailto:{{ c.get_email }}">{{ c.get_email }}</a></td>
                    <td>
                        {% if c.phone %}
                            {{ c.phone }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ c.get_type }}</td>
                    {% if has_permission %}
                        {% if c.is_service_kind and has_dcat_wizard_permissions %}
                            <td>
                                <a id="update-member-{{ c.pk }}-btn" href="{% url 'dcat-contact-update' request.resolver_match.kwargs.pk c.pk %}" class="button is-primary is-small">
                                    {% translate "Redaguoti" %}
                                </a>
                                <a id="delete-contact-{{ c.pk }}-btn"  href="{% url 'contact-delete' pk=request.resolver_match.kwargs.pk contact_id=c.pk %}" class="button is-link is-small">
                                    {% translate "Pašalinti" %}
                                </a>
                            </td>
                        {% elif c.is_service_kind %}
                            <td>
                                <button class="button is-primary is-small" disabled>
                                    {% translate "Redaguoti" %}
                                </button>
                                <button class="button is-primary is-small" disabled>
                                    {% translate "Pašalinti" %}
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <a id="update-member-{{ c.pk }}-btn" href="{% url 'contact-update' pk=request.resolver_match.kwargs.pk contact_id=c.pk %}" class="button is-primary is-small">
                                    {% translate "Redaguoti" %}
                                </a>
                                <a id="delete-contact-{{ c.pk }}-btn"  href="{% url 'contact-delete' pk=request.resolver_match.kwargs.pk contact_id=c.pk %}" class="button is-link is-small">
                                    {% translate "Pašalinti" %}
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "vitrina/common/pagination.html" %}
    {% endif %}
{% endblock %}
