{% load i18n parler_tags %}
{% load like_tags %}

<table class="table is-fullwidth has-border-bottom th-40 no-margin-bottom custom-table-padding">
    <tbody>
        {% if organization.name %}
            <tr>
                <th>
                    {% translate "Kodinis pavadinimas" %}
                    <span class="icon info-icon has-tooltip-multiline is-middle"
                          data-tooltip="{% translate 'Organizacijos vietinė rinkinio vardų erdvė' %}">
                        <i class="fas fa-info-circle"></i>
                    </span>
                </th>
                <td class="is-vcentered">
                    <div class="is-flex is-justify-content-center">
                        <span class="tag is-inline-flex is-align-items-center">
                            {{ organization.name }}
                        </span>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if organization.whitelisted_names %}
            <tr>
                <th>
                    {% translate "Leistini kodiniai pavadinimai" %}
                    <span class="icon info-icon has-tooltip-multiline is-middle"
                          data-tooltip="{% translate 'Organizacijos vietinių rinkinių leidžiamų vardų erdvių sąrašas.' %}">
                        <i class="fas fa-info-circle"></i>
                    </span>
                </th>
                <td class="is-vcentered">
                        {% for item in organization.whitelisted_names %}
                            <div class="is-flex is-justify-content-center mb-1 u-w-full">
                                <span class="tag is-inline-flex is-align-items-center">
                                    {{ item }}
                                </span>
                            </div>
                        {% endfor %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
