{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block pageTitle %} | {% translate "Organizacijos" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Organizacijos" %}{% endblock %}

{% block current_title %}{% translate "Organizacijos" %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            <div class="card">
                <div class="card-content">
                    <nav class="category-panel mb-5">
                        <a href="{% url 'organization-stats-jurisdiction' %}?" id="organization-stats-jurisdiction">
                            <p class="jurisdiction-panel-heading">
                                <span class="icon-text">
                                    <span class="icon">
                                      <i class="fas fa-chart-bar fa-lg"></i>
                                    </span>
                                    <span class="has-text-weight-bold">
                                      {% translate "Valdymo sritis" %}
                                    </span>
                                </span>
                            </p>
                        </a>

                        {% if selected_jurisdiction %}
                            {% for jurisdiction in jurisdictions %}
                                {% if jurisdiction.title == selected_jurisdiction %}
                                <div class="columns is-gapless  m-0 mt-1" style="cursor: pointer;"
                                     onclick="removeFilter('{{ jurisdiction.title }}')"
                                >
                                    <span class="icon">
                                        <i class="far fa-check-square"></i>
                                    </span>

                                    <div class="column is-9">
                                        <span class="category-panel-block has-text-weight-bold">{{ jurisdiction.title }}</span>
                                    </div>

                                    <div class="column is-2 has-text-right">
                                      <span class="is-size-6">({{ jurisdiction.count }})</span>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for jurisdiction in jurisdictions %}
                                <div class="columns is-gapless  m-0 mt-1 {% if forloop.counter > 10 %} facet-jurisdiction is-hidden {% endif %}">
                                    <span class="icon">
                                        <i class="far fa-square"></i>
                                    </span>

                                    <div class="column is-9">
                                        <a href="{{ jurisdiction.query }}"
                                           class="category-panel-block has-text-grey"
                                           title="{{ jurisdiction.title }}"
                                        >
                                            {{ jurisdiction.title }}
                                        </a>
                                    </div>

                                    <div class="column is-2 has-text-right">
                                      <span class="is-size-6">({{ jurisdiction.count }})</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if not selected_jurisdiction and jurisdictions|length > 10 %}
                            <div>
                                <a class="facets-more" id="facet-jurisdiction">{% translate "Išskleisti" %}</a>
                            </div>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>

        <div class="column is-three-quarters">
            <div class="tabs">
                <ul>
                    <li class="format-tab" id="time_tab_id">
                        <a href="#time" onclick="selectTab('time')">{% translate "Laiko juosta" %}</a>
                    </li>
                    <li class="format-tab" id="bar_tab_id">
                        <a href="#bar" onclick="selectTab('bar')">{% translate "Stulpelinė diagrama" %}</a>
                    </li>
                </ul>
           </div>

           {% if parameter_select_template_name %}
                {% include parameter_select_template_name %}
           {% endif %}

            <div class="mb-5">
               <div>
                   <div class="tab-content mt-5" style="display: none;" id="bar_id">
                        <div class="is-flex">
                            <span>{{ title }}</span>
                            <div class="stays-right">
                                {{ yAxis_title }}
                            </div>
                        </div>

                        {% for item in bar_chart_data %}
                            <div class="is-flex">
                                {% if item.full_url %}
                                    <a href="{{ item.full_url }}" id="{{ item.filter_value }}">
                                {% else %}
                                    <a href="{{ list_url }}{{ item.url }}" id="{{ item.filter_value }}">
                                {% endif %}
                                    <strong style="color: black;">{{ item.title }}</strong>
                                </a>
                                <div class="stays-right">
                                    <a href="">{{ item.count|intcomma:False }}</a>
                                </div>
                            </div>
                            <progress class="progress is-info" value="{{ item.count }}" max="{{ max_count }}"></progress>
                        {% endfor %}
                   </div>
                   <div class="tab-content" style="display: none;" id="time_id">
                        {% if time_chart_data %}
                            {% include "vitrina/statistics/stats_graph.html" %}
                        {% endif %}
                   </div>
               </div>
           </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            selectTab();
            let ctx = document.getElementById("chart").getContext("2d");
            const data = {{time_chart_data|safe}};
            var graph_title = "{{graph_title}}";
            var y_title = "{{yAxis_title}}";
            var x_title = "{{xAxis_title}}";
            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: data
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: graph_title
                        },
                    },
                    interaction: {
                        intersect: false,
                        mode: 'nearest',
                        axis: 'xy',
                    },
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: y_title
                            },
                            stacked: true
                        },
                        x: {
                            title: {
                                display: true,
                                text: x_title
                            },
                        }
                    }
                },
            });

            $('.facets-more').click(function () {
                $('.' + this.id).toggleClass('is-hidden');
                $(this).text(function (i, text) {
                    return text === "{% translate "Išskleisti" %}" ? "{% translate "Suskleisti" %}" : "{% translate "Išskleisti" %}";
                })
            });

            $('.show-mobile-facets').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });

            $('.modal-close').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });
        });

         function removeFilter(jurisdiction) {
            let search = decodeURIComponent(location.search.substring(1));
            let searchParams = search.split('&');
            let query = "";
            for (let param of searchParams) {
                if (
                    !param.startsWith("jurisdiction=") ||
                    param.replaceAll("jurisdiction=", "").replaceAll("+", " ") != jurisdiction
                ) {
                    query = query ? `${query}&${param}` : `?${param}`;
                }
            }
            location.href = `${location.origin}${location.pathname}${query}`;
        }

        function selectTab(format=null) {
             if (format == null) {
                format = "time";
                if (location.hash && (
                    location.hash == "#bar" ||
                    location.hash == "#time"
                )) {
                    format = location.hash.replace("#", "");
                }
            }

            $(`.tab-content:not(#${format}_id)`).each(function() {
                this.style.display = 'none';
            });
            $(`li.format-tab:not(#${format}_tab_id)`).each(function() {
                $(this).removeClass('is-active');
            });

            let content = $(`.tab-content#${format}_id`);
            let tab = $(`li.format-tab#${format}_tab_id`);
            content.css('display', 'block');
            tab.addClass('is-active');

            if (format == 'bar') {
                $('form#duration_select_id').each(function() {
                    this.style.display = 'none';
                });
            }
            else {
                $('form#duration_select_id').each(function() {
                    this.style.display = 'block';
                });
            }
        }
    </script>
{% endblock %}
