{% extends "base.html" %}
{% load static %}
{% load i18n %}    

{% block pageTitle %} | {% translate "Organizacijos" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Organizacijos" %}{% endblock %}

{% block current_title %}{% translate "Organizacijos" %}{% endblock %}

{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            {% translate 'Pradžia' %}
        </span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="card mb-5">
        <div class="card-content">

            <form class="field has-addons is-fullwidth" action="{% url 'organization-list' %}" method="get">
                <div class="control is-expanded">
                    {% if jurisdiction_query %}
                        <input type="hidden" name="jurisdiction" value="{{ jurisdiction_query }}" />
                    {% endif %}
                    <input class="input" type="text" name="q" placeholder="{% translate 'Ieškoti organizacijos' %}" value="{{ q }}" title="{% translate 'Paieška' %}"/>
                </div>
                <p class="control">
                    <button class="button is-primary" type="submit" title="{% translate 'Ieškoti' %}" aria-label="{% translate 'Ieškoti' %}">
                        <span class="icon is-large">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </p>
            </form>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            <div class="card">
                <div class="card-content">
                    <nav class="category-panel mb-5">
                        <a href="{% url 'organization-stats-jurisdiction' %}?" id="organization-stats-jurisdiction">
                            <p class="jurisdiction-panel-heading">
                                <span class="icon-text">
                                    <span class="icon">
                                      <i class="fas fa-chart-bar fa-lg"></i>
                                    </span>
                                    <span class="has-text-weight-bold">
                                      {% translate "Valdymo sritis" %}
                                    </span>
                                </span>
                            </p>
                        </a>


                        {% if selected_jurisdiction %}
                            {% for jurisdiction in jurisdictions %}
                                {% if jurisdiction.title == selected_jurisdiction %}
                                <div class="columns is-gapless  m-0 mt-1" style="cursor: pointer;"
                                     onclick="removeFilter('{{ jurisdiction.title }}')"
                                >
                                    <span class="icon">
                                        <i class="far fa-check-square"></i>
                                    </span>

                                    <div class="column is-9">
                                        <span class="category-panel-block has-text-weight-bold">{{ jurisdiction.title }}</span>
                                    </div>

                                    <div class="column is-2 has-text-right">
                                      <span class="is-size-6">({{ jurisdiction.count }})</span>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for jurisdiction in jurisdictions %}
                                <div class="columns is-gapless  m-0 mt-1 {% if forloop.counter > 10 %} facet-jurisdiction is-hidden {% endif %}">
                                    <span class="icon">
                                        <i class="far fa-square"></i>
                                    </span>

                                    <div class="column is-9">
                                        <a href="{{ jurisdiction.query }}"
                                           class="category-panel-block has-text-dark"
                                           title="{{ jurisdiction.title }}"
                                        >
                                            {{ jurisdiction.title }}
                                        </a>
                                    </div>

                                    <div class="column is-2 has-text-right">
                                      <span class="is-size-6">({{ jurisdiction.count }})</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if not selected_jurisdiction and jurisdictions|length > 10 %}
                            <div>
                                <a class="facets-more" id="facet-jurisdiction">{% translate "Išskleisti" %}</a>
                            </div>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>

        <div class="column is-three-quarters">
            <h1 class="title is-size-5-mobile">{% translate "Paieškos rezultatai" %}: {{ paginator.count }}</h1>

            {% for i in page_obj %}
                <article class="media is-expanded">
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <span class="icon is-medium is-hidden-mobile">
                                    <i class="fas fa-building"></i>
                                </span>
                                <strong><a href="{{ i.get_absolute_url }}" class="dataset-list-title">{{ i.title }}</a></strong>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br/>
            {% include "vitrina/common/pagination.html" %}
        </div>
    </div>
    <br/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('.facets-more').click(function () {
                $('.' + this.id).toggleClass('is-hidden');
                $(this).text(function (i, text) {
                    return text === "{% translate "Išskleisti" %}" ? "{% translate "Suskleisti" %}" : "{% translate "Išskleisti" %}";
                })
            });

            $('.show-mobile-facets').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });

            $('.modal-close').click(function () {
                $('#facet-modal').toggleClass("is-hidden");
                $('#facet-modal').toggleClass("is-active");
            });
        });

        function removeFilter(jurisdiction) {
            let search = decodeURIComponent(location.search.substring(1));
            let searchParams = search.split('&');
            let query = "";
            for (let param of searchParams) {
                if (
                    !param.startsWith("jurisdiction=") ||
                    param.replaceAll("jurisdiction=", "").replaceAll("+", " ") != jurisdiction
                ) {
                    query = query ? `${query}&${param}` : `?${param}`;
                }
            }
            location.href = `${location.origin}${location.pathname}${query}`;
        }
    </script>
{% endblock %}
