{% extends "base.html" %}
{% load i18n %}

{% block parent_title %}{% translate "nav.orgs" %}{% endblock %}
{% block current_title %}{{ organization.title }}{% endblock %}

{% block content %}

	{% include 'vitrina/orgs/tabs.html' %}

    <div class="columns">
        <div class="column is-three-quarters">
            {% if has_permission %}
                <a class="button is-primary m-t-xs m-b-lg"
                   href="{% url 'representative-create' request.resolver_match.kwargs.pk %}">
                    {% translate "Pridėti narį" %}
                </a>
            {% endif %}
            {% if members %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{% translate "Vardas" %}</th>
                        <th>{% translate "Pavardė" %}</th>
                        <th>{% translate "El. paštas" %}</th>
                        <th>{% translate "Telefonas" %}</th>
                        {% if has_permission %}<th></th>{% endif %}
                    </tr>
                    {% for m in members %}
                        <tr>
                            <td>{{ m.first_name }}</td>
                            <td>{{ m.last_name }}</td>
                            <td><a href="mailto:{{ m.email }}">{{ m.email }}</a></td>
                            <td>{{ m.phone }}</td>
                            {% if has_permission %}
                                <td>
                                    <a href="{% url 'representative-update' organization_id=request.resolver_match.kwargs.pk pk=m.pk %}" class="button is-primary">
                                        {% translate "Redaguoti" %}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}