{% extends "base.html" %}
{% load i18n %}
{% load representative_tags %}

{% block current_title %}
{% translate "Organizacijos narių sąrašas" %}
{% endblock %}

{% block content %}

	{% include 'vitrina/orgs/tabs.html' %}

    {% if has_permission %}
        <div class="buttons is-right">
            <a class="button is-primary m-t-xs m-b-lg"
               href="{% url 'representative-create' request.resolver_match.kwargs.pk %}">
                {% translate "Pridėti narį" %}
            </a>
        </div>
    {% endif %}
    {% if members %}
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <th>{% translate "Vardas" %}</th>
                <th>{% translate "El. paštas" %}</th>
                <th>{% translate "Telefonas" %}</th>
                <th>{% translate "Rolė" %}</th>
                {% if has_permission %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% for m in members %}
                <tr>
                    {% if m.user %}
                    <td>{{ m.user.first_name }} {{ m.user.last_name }}</td>
                    <td><a href="mailto:{{ m.email }}">{{ m.email }}</a></td>
                    <td>
                        {% if m.phone %}
                            {{ m.phone }}
                        {% elif m.user.phone %}
                            {{ m.user.phone }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% elif m.organization %}
                    <td>{{ m.organization.title }}</td>
                    <td><a href="mailto:{{ m.organization.email }}">{{ m.organization.email }}</a></td>
                    <td>
                        {% if m.organization.phone %}
                            {{ m.organization.phone }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% else %}
                    <td><em>{% translate "(pakvietimas išsiųstas)" %}</em></td>
                    <td><a href="mailto:{{ m.email }}">{{ m.email }}</a></td>
                    <td>
                        {% if m.phone %}
                            {{ m.phone }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>{{ m.get_role_display|default:"-" }}</td>
                    {% if has_permission %}
                        {% if m.organization and not can_delete_publishers %}
                        <td></td>
                        {% else %}
                            {% can_update_representative m request.user as can_update %}
                            {% if can_update %}
                                <td>
                                    <a href="{% url 'representative-update' pk=request.resolver_match.kwargs.pk representative_id=m.pk %}" class="button is-primary is-small">
                                        {% translate "Redaguoti" %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endif %}


                        {% if m.organization and not can_delete_publishers %}
                        <td></td>
                        {% else %}
                            {% can_update_representative m request.user as can_delete %}
                            {% if can_delete %}
                                <td>
                                    <a href="{% url 'representative-delete' organization_id=request.resolver_match.kwargs.pk pk=m.pk %}" class="button is-link is-small">
                                        {% translate "Pašalinti" %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "vitrina/common/pagination.html" %}
    {% endif %}
{% endblock %}
