{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}

{% block current_title %}{% translate "Planai" %}{% endblock%}
{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'organization-list' %}"><span>{% translate 'Organizacijos' %}</span></a></li>
        <li><a href="{% url 'organization-detail' organization.pk %}"><span>{{ organization.title }}</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    {% include 'vitrina/orgs/tabs.html' %}

    <div class="columns">
        <div class="column">
            {% if can_manage_plans %}
                <div class="buttons is-right">
                    <a id="add-plan" class="button is-primary m-t-xs m-b-lg"
                       href="{% url 'organization-plans-create' organization.pk %}">
                        {% translate "Naujas planas" %}
                    </a>
                </div>
            {% endif %}

            {% if plans %}
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <th>{% translate "Pavadinimas" %}</th>
                        <th>{% translate "Terminas" %}</th>
                        <th>{% translate "Paslaugų teikėjas" %}</th>
                        <th>{% translate "Projektas" %}</th>
                        <th>{% translate "Plano įgyvendinimo kaina" %}</th>
                    </tr>
                    {% for plan in plans %}
                        <tr>
                            <td><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></td>
                            <td>
                                {% if plan.deadline %}
                                    {% if plan.deadline|is_past_due %}
                                        <span class="tag is-danger">
                                    {% else %}
                                        <span class="tag is-success">
                                    {% endif %}
                                        {{ plan.deadline|date:"SHORT_DATE_FORMAT"}}
                                    </span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                            {% if plan.provider %}
                                {% if plan.provider == plan.receiver %}
                                    {% translate "Svarankiškai" %}
                                {% else %}
                                    <a href="{{ plan.provider.get_absolute_url }}">{{ plan.provider }}</a>
                                {% endif %}
                            {% else %}
                                {{ plan.provider_title|default:"-" }}
                            </td>
                            {% endif %}
                            <td>{{ plan.project.title|default:"-" }}</td>
                            <td>{{ plan.price|floatformat:2|default:"-" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% translate "Planų nėra." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
