{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}

{% block current_title %}{% translate "Planas" %}{% endblock%}
{% block parent_links %}
    <ul class="p-t-sm">
        <li><a href="{% url 'home' %}"><span>{% translate 'Pradžia' %}</span></a></li>
        <li><a href="{% url 'organization-list' %}"><span>{% translate 'Organizacijos' %}</span></a></li>
        <li><a href="{% url 'organization-detail' organization.pk %}"><span>{{ organization.title }}</span></a></li>
    </ul>
{% endblock %}

{% block head %}
    <style>
        .list_item {
		  	list-style-type: disc;
		  	margin-left: 1em;
		}
    </style>
{% endblock %}

{% block content %}
    {% include 'vitrina/orgs/tabs.html' %}

    <div class="columns">
        <div class="column">
            {% if can_manage_plans %}
                <div class="buttons is-right">
                    <a id="add-plan" class="button is-primary m-t-xs m-b-lg"
                       href="{% url 'organization-plans-create' organization.pk %}">
                        {% translate "Naujas terminas" %}
                    </a>
                </div>
            {% endif %}

            {% if plans %}
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <th>{% translate "Duomenų rinkinys" %}</th>
                            <th>{% translate "Terminas" %}</th>
                            <th>{% translate "Užduotis" %}</th>
                            <th>{% translate "Įgyvendina" %}</th>
                            <th>{% translate "Poreikis" %}</th>
                        </tr>
                        {% for plan in plans %}
                            <tr>
                                <td>
                                    {% if plan.plandataset_set.count > 1 %}
                                        <ul>
                                            {% for obj in plan.plandataset_set.all %}
                                                <li class="list_item"><a href="{{ obj.dataset.get_absolute_url }}">{{ obj.dataset }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {% define plan.plandataset_set.first as obj %}
                                        {% if obj %}
                                            <a href="{{ obj.dataset.get_absolute_url }}">{{ obj.dataset }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% endif %}
                                </td>
                                 <td>
                                    {% if plan.deadline %}
                                        {% if plan.deadline|is_past_due %}
                                            <span class="tag is-danger">
                                        {% else %}
                                            <span class="tag is-success">
                                        {% endif %}
                                            {{ plan.deadline|date:"SHORT_DATE_FORMAT"}}
                                        </span>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></td>
                                <td>
                                {% if plan.provider %}
                                    {% if plan.provider == plan.receiver %}
                                        {% translate "Svarankiškai" %}
                                    {% else %}
                                        <a href="{{ plan.provider.get_absolute_url }}">{{ plan.provider }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ plan.provider_title|default:"-" }}
                                </td>
                                {% endif %}
                                <td>
                                    {% if plan.planrequest_set.count > 1 %}
                                        <ul>
                                            {% for obj in plan.planrequest_set.all %}
                                            <li class="list_item"><a href="{{ obj.request.get_absolute_url }}">{{ obj.request }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {% define plan.planrequest_set.first as obj %}
                                        {% if obj %}
                                            <a href="{{ obj.request.get_absolute_url }}">{{ obj.request }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>{% translate "Plano nėra." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
