{% load i18n %}
<div class="tabs">
    <ul>
        <li class="{%if request.resolver_match.url_name == 'organization-detail' %} is-active {% endif %}">
            <a href="{% url 'organization-detail' request.resolver_match.kwargs.pk %}">
                {% translate "Informacija" %}
            </a>
        </li>
        {% if can_view_members %}
        <li class="{%if request.resolver_match.url_name == 'organization-members' %} is-active {% endif %}">
            <a href="{% url 'organization-members' request.resolver_match.kwargs.pk %}">
                {% translate "Tvarkytojai" %}
            </a>
        </li>
        {% endif %}
        <li class="{%if request.resolver_match.url_name == 'organization-datasets' %} is-active {% endif %}">
            <a href="{% url 'organization-datasets' request.resolver_match.kwargs.pk %}">
                {% translate "Duomenų rinkiniai" %}
            </a>
        </li>
        {% if plan_url %}
            <li class="{% if request.resolver_match.url_name == plan_url_name or request.resolver_match.url_name == 'plan-detail' %} is-active {% endif %}">
                <a href="{{ plan_url }}">
                    {% translate "Planai" %}
                </a>
            </li>
        {% endif %}
        {% if can_manage_history and history_url %}
            <li class="{% if request.resolver_match.url_name == history_url_name %} is-active {% endif %}">
                <a href="{{ history_url }}">
                    {% translate "Istorija" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
