{% load i18n %}
<div class="tabs">
    <ul>
        <li class="{%if request.resolver_match.url_name == 'organization-detail' %} is-active {% endif %}">
            <a href="{% url 'organization-detail' organization.id %}#info">
                {% translate "Informacija" %}
            </a>
        </li>
        {% if can_view_members %}
        <li class="{%if request.resolver_match.url_name == 'organization-members' or request.resolver_match.url_name == 'representative-create' or request.resolver_match.url_name == 'representative-update' %} is-active {% endif %}">
            <a href="{% url 'organization-members' organization.id %}">
                {% translate "Tvarkytojai" %}
            </a>
        </li>
        {% endif %}
        {% if can_view_contacts %}
        <li class="{%if request.resolver_match.url_name == 'organization-contacts' or request.resolver_match.url_name == 'contact-create' or request.resolver_match.url_name == 'contact-update' %} is-active {% endif %}">
            <a href="{% url 'organization-contacts' organization.id %}">
                {% translate "Kontaktai" %}
            </a>
        </li>
        {% endif %}
        <li class="{%if request.resolver_match.url_name == 'organization-datasets' %} is-active {% endif %}">
            <a href="{% url 'organization-datasets' organization.id %}?selected_facets=organization_exact:{{organization.id}}">
                {% translate "Duomenų ištekliai" %}
            </a>
        </li>
        <li class="{%if request.resolver_match.url_name == 'organization-projects' %} is-active {% endif %}">
            <a href="{% url 'organization-projects' organization.id %}">
                {% translate "Panaudojimo atvejai" %}
            </a>
        </li>
        <li class="{% if 'organization-agreement' in request.resolver_match.url_name %} is-active {% endif %}">
            <a href="{% url 'organization-agreement-list' organization.id %}">
                {% translate "Sutartys" %}
            </a>
        </li>
        {% if plan_url %}
            <li class="{% if request.resolver_match.url_name == plan_url_name or request.resolver_match.url_name == 'plan-detail' %} is-active {% endif %}">
                <a href="{{ plan_url }}">
                    {% translate "Planas" %}
                </a>
            </li>
        {% endif %}
        {% if can_view_agents %}
            <li class="{% if request.resolver_match.url_name in 'request-history, agent-list, agent-detail, agent-create, agent-update, agent-delete, agent-env-create, agent-env-update, agent-env-detail' %} is-active {% endif %}">
                <a href="{% url 'agent-list' organization.id %}">
                    {% translate "Agentai" %}
                </a>
            </li>
        {% endif %}
        {% if can_view_keys %}
            <li class="{% if 'organization-apikeys' in request.resolver_match.url_name %} is-active {% endif %}">
                <a href="{% url 'organization-apikeys' organization.id %}">
                    <span class="has-tooltip-right" data-tooltip="{% translate 'Raktas duomenų įkėlimui į saugyklą' %}">
                        {% translate "Raktai" %}
                    </span>
                </a>
            </li>
        {% endif %}
        {% if can_manage_history and history_url %}
            <li class="{% if request.resolver_match.url_name == history_url_name %} is-active {% endif %}">
                <a href="{{ history_url }}">
                    {% translate "Istorija" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
