{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}

{% block pageTitle %} | {% translate "Užduotys" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Užduotys" %}{% endblock %}

{% block parent_title %}{% translate "Užduotys" %}{% endblock %}
{% block current_title %}{{ task.title }}{% endblock %}

{% block content %}
    {% if task %}
    <div class="columns">
        <div class="column is-three-quarters">
            <article class="media is-expanded">
                <div class="media-content">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <p class="dataset-list-title">{{ task.created }}</p>
                                <p class="dataset-list-description">
                                    Aprašymas: {{ task.description }}
                                </p>
                            </div>
{#                            <div class="column">#}
{#                                <a href="#" class="button is-primary stays-right">Uždaryti</a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </article>
            <br/>
        </div>
        <div class="column is-one-quarter is-hidden-mobile">
            <div class="mb-3">
                <p>{% translate "Organizacija" %}</p>
                <p>{{ org }}</p>
            </div>
            <div class="mb-3">
                <p>{% translate "Sukurta" %}</p>
                <p>{{ task.created }}</p>
            </div>
            <div class="mb-3">
                <p>{% translate "Priskirta" %}</p>
                <p>{{ task.created }}</p>
            </div>
            <div class="mb-3">
                <p>{% translate "Terminas" %}</p>
                <p>{{ task.due_date }}</p>
            </div>
            <div class="mb-3">
                <p>{% translate "Vykdytojas" %}</p>
                <p>{{ task.user }}</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="columns no-margin-bottom">
    <div class="column is-three-quarters">
        {% comments obj=task user=request.user %}
    </div>
    </div>
    {% else %}
    <p>{% translate "Užduočių nėra!" %}</p>
    {% endif %}
{% endblock %}

