{% extends "base.html" %}
{% load i18n %}

{% block pageTitle %} | {% translate "Užduotys" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Užduotys" %}{% endblock %}

{% block current_title %}{% translate "Užduotys" %}{% endblock %}

{% block content %}

    <div class="card mb-5">
      <div class="card-content">
        <form id="task-filter" class="field has-addons is-fullwidth"
        action="{{ search_url }}"
        method="get">
            <div class="control is-expanded">
                <label class="visually-hidden" for="search-input">{% translate 'Užduočių paieška' %}</label>
                <input class="input" id="search-input" type="text" name="q"
                       placeholder="{% translate 'Ieškoti užduočių' %}"
                       value="{{ q | escape }}" title="{% translate 'Paieška' %}"/>
                {% for k, values in search_query.items %}
                    {% for v in values %}
                        {% if k != 'q' and k != 'page' %}
                            <input type="hidden" name="{{ k }}" value="{{ v | escape }}"/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <p class="control">
                <button class="button is-primary" type="submit" title="{% translate 'Ieškoti' %}" aria-label="{% translate 'Ieškoti' %}">
                    <span class="icon is-large">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </p>
        </form>
      </div>
    </div>


    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            <nav class="box category-panel mb-5">
                <p class="status-panel-heading" title="{{ owner_filter.title }}">
                    <strong>{{ owner_filter.title }}</strong>
                </p>
                {% for item in owner_filter.items %}
                        <div class="columns is-gapless m-0 mt-1">
                            <div class="column is-1">
                                <span class="icon glyphicon-list"></span>
                            </div>
                            <div class="column is-9">
                                <a href="{{ item.url }}"
                                   class="category-panel-block
                                   {% if item.selected %}
                                       has-text-weight-bold
                                   {% else %}
                                       has-text-dark
                                   {% endif %}

                                   ">{{ item.title }}</a>
                            </div>
                            <div class="column is-2 has-text-right">
                                <span>({{ item.count }})</span>
                            </div>
                        </div>
                {% endfor %}
            </nav>

            {% for filter in filters %}
                <nav class="box category-panel mb-5">
                        <p class="status-panel-heading" title="{{ filter.title }}">
                            <strong>{{ filter.title }}</strong>
                        </p>
                        {% for item in filter.items %}
                                <div class="columns is-gapless m-0 mt-1">
                                    <div class="column is-1">
                                        <span class="icon glyphicon-list"></span>
                                    </div>
                                    <div class="column is-9">
                                        <a href="{{ item.url }}"
                                           class="category-panel-block
                                           {% if item.selected %}
                                               has-text-weight-bold
                                           {% else %}
                                               has-text-dark
                                           {% endif %}

                                           ">{{ item.title }}</a>
                                    </div>
                                    <div class="column is-2 has-text-right">
                                        <span>({{ item.count }})</span>
                                    </div>
                                </div>
                        {% endfor %}
                </nav>
            {% endfor %}
        </div>

        {% if page_obj %}
        <div class="column is-three-quarters">
            {% for i in page_obj %}
                <article class="box media is-expanded">
                    <div class="media-content">
                        <div class="content">
                            <div class="columns">
                                <div class="column is-12">
                                    <a href="{% url 'user-task-detail' user.pk i.pk %}">
                                        <strong class="dataset-list-title">{{ i.object.title }}</strong>
                                    </a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-2">
                                    {{ i.object.created|date:"Y-m-d" }}
                                </div>
                                <div class="column">
                                    {% translate i.object.status|title %}
                                </div>
                                <div class="column">
                                    {% if i.object.user %}
                                        {{ i.object.user }}
                                    {% endif %}
                                </div>
                                <div class="column">
                                    {% if i.object.is_due_or_expiring|first == True %}
                                        <span class="has-text-danger">
                                        {% translate 'Vėluoja' %} {{ i.object.is_due_or_expiring|last }}
                                        {% if i.object.is_due_or_expiring|last == 1 %}
                                            {% translate 'dieną' %}
                                        {% else %}
                                            {% translate 'dienas' %}
                                        {% endif %}
                                        </span>
                                    {% elif i.object.is_due_or_expiring|first == False %}
                                        <span class="has-text-warning">
                                        {% translate 'Liko' %} {{ i.object.is_due_or_expiring|last }}
                                        {% if i.object.is_due_or_expiring|last == 1 %}
                                            {% translate 'diena' %}
                                        {% else %}
                                            {% translate 'dienos' %}
                                        {% endif %}
                                        </span>
                                    {% else %}
                                        {{ i.object.due_date|date:"Y-m-d" }}
                                    {% endif %}
                                </div>
                                <div class="column">
                                    {% if i.object.status != i.object.COMPLETED %}
                                    <a href="{% url 'user-task-close' user.pk i.pk %}"
                                       class="button is-primary stays-right">
                                        {% translate "Uždaryti" %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-12">
                                    <p>{{ i.object.description | safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br/>
            {% include "vitrina/common/pagination.html" %}
        </div>
        {% else %}
            <div class="column is-three-quarters">
                <p>{% translate "Užduočių nėra!" %}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}

