{% extends "base.html" %}
{% load i18n %}

{% block pageTitle %} | {% translate "Užduotys" %}{% endblock %}
{% block pageOgTitle %} | {% translate "Užduotys" %}{% endblock %}

{% block current_title %}{% translate "Užduotys" %}{% endblock %}

{% block content %}

    {% if page_obj %}
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            {% for item in cats %}
                <nav class="category-panel mb-5">
                        <p class="status-panel-heading" title="{{ item.title }}">
                            <strong>{% translate item.title %}</strong>
                        </p>
                        {% for sub in item.types %}
                                <div class="columns">
                                    <div class="column is-1">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="column is-9">
                                        <span class="category-panel-block has-text-grey">{% translate sub.subtype %}</span>
                                    </div>
                                    <div class="column is-2 has-text-right">
                                        <span>({{ sub.count }})</span>
                                    </div>
                                </div>
                        {% endfor %}
                </nav>
            {% endfor %}
        </div>
        <div class="column is-three-quarters">
            {% for i in page_obj %}
                <article class="box media is-expanded">
                    <div class="media-content">
                        <div class="content">
                            <div class="columns">
                                <div class="column is-12">
                                    <a href="{% url 'user-task-detail' user.pk i.pk %}">
                                        <strong class="dataset-list-title">{{ i.title }}</strong>
                                    </a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-2">
                                    {{ i.created|date:"Y-m-d" }}
                                </div>
                                <div class="column">
                                    {{ i.status }}
                                </div>
                                <div class="column">
                                    {{ i.user }}
                                </div>
                                <div class="column">
                                    {% translate "Liko 2 dienos" %}
{#                                    {% i.due_date|date"Y-m-d" %}#}
                                </div>
                                <div class="column">
                                    <a href="{% url 'user-task-close' user.pk i.pk %}" class="button is-primary stays-right">Uždaryti</a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-12">
                                    <p>Aprašymas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br/>
            {% include "vitrina/common/pagination.html" %}
        </div>
    </div>
    <br/>
    {% else %}
    <p>{% translate "Užduočių nėra!" %}</p>
    {% endif %}
{% endblock %}

