{% load i18n %}
{% load hitcount_tags %}
{% load i18n parler_tags %}
{% load thumbnail %}

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
        <h3 class="title">
          {% translate "Duomenų panaudojimo atvejai" %}
        </h3>
        <div class="columns is-multiline p-t-lg">
            {% for project in projects %}
            <div class="column">
                <div class="card">
                  <div class="card-content">
                    <div class="content">
                        {% if project.image %}
                        <figure class="image is-3by2">
                            <img src="{{ project.image|thumbnail_url:'list' }}" alt="{{ project.get_title }}">
                        </figure>
                        {% endif %}
                        <p>
                          <a href="{{ project.get_absolute_url }}" class="has-text-info-dark is-size-5">
                            {{ project.get_title }}
                          </a>
                        </p>
                        <p>
                          <span class="icon is-small">
                            <i class="fas fa-thumbs-up"></i>
                            &nbsp;{{ project.get_likes }}
                          </span>
                        </p>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="columns">
            <div class="column has-text-right">
                <a href="{% url "project-create" %}" class="button mr-5">
                    <span class="icon is-small">
                      <i class="fas fa-plus-circle"></i>
                    </span>
                    <span>{% translate "Registruoti panaudojimo atvejį" %}</span>
                </a>
                <a href="{% url "project-list" %}" class="button">
                    <span>{% translate "Rodyti daugiau" %}</span>
                    <span class="icon is-small">
                      <i class="fas fa-solid fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>


